Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

docs: fix incorrect link
  docs/docusaurus.config.js
Due: none

Docs: fix incorrect link (#1863)
  docs/docusaurus.config.js
Due: none

platform command rejig and tests
  packages/cli-test/src/cli/commands/platform.spec.ts
  packages/cli-test/src/cli/commands/platform.ts
Due: none

should be it for 1.0
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/commands/function.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/commands/trigger.spec.ts
  packages/cli-test/src/cli/commands/trigger.ts
  packages/cli-test/src/cli/index.ts
  packages/cli-test/src/types/commands/common_arguments.ts
Due: none

expose template and branch params on create, run should always target the local app
  packages/cli-test/src/cli/commands/create.spec.ts
  packages/cli-test/src/cli/commands/create.ts
  packages/cli-test/src/cli/commands/platform.ts
Due: none

doc and type tweaks
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/commands/app.ts
Due: none

rename instance to app
  packages/cli-test/src/cli/cli-process.spec.ts
  packages/cli-test/src/cli/cli-process.ts
Due: none

tweak jsdoc for `team` property
  packages/cli-test/src/cli/cli-process.ts
Due: none

instance->app
  packages/cli-test/src/cli/cli-process.spec.ts
Due: none

chore: try latest version of node 22 for CI
  .github/workflows/ci-build.yml
Due: none

chore: try latest version of node 22 for CI, fixes codecov (#1866)
  .github/workflows/ci-build.yml
Due: none

feat (cli-test): expose arbitrary apihost flag to underlying SlackCLIProcess class (#1858)
  packages/cli-test/src/cli/cli-process.spec.ts
  packages/cli-test/src/cli/cli-process.ts
Due: none

🔪 cli-test: remove command and custom error classes (#1856)
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/command-error.ts
  packages/cli-test/src/cli/commands/app.ts
  packages/cli-test/src/cli/commands/auth.ts
  packages/cli-test/src/cli/commands/collaborator.ts
  packages/cli-test/src/cli/commands/create.ts
  packages/cli-test/src/cli/commands/env.ts
  packages/cli-test/src/cli/commands/external-auth.ts
  packages/cli-test/src/cli/commands/function.ts
  packages/cli-test/src/cli/commands/manifest.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/commands/trigger.ts
  packages/cli-test/src/cli/shell.ts
  packages/cli-test/src/utils/custom-errors.ts
Due: none

cli-test: tackle TODOs, revamp arguments and function signatures, expose all CLI options (#1864)
  packages/cli-test/package.json
  packages/cli-test/src/cli/cli-process.spec.ts
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/commands/app.spec.ts
  packages/cli-test/src/cli/commands/app.ts
  packages/cli-test/src/cli/commands/auth.spec.ts
  packages/cli-test/src/cli/commands/auth.ts
  packages/cli-test/src/cli/commands/collaborator.spec.ts
  packages/cli-test/src/cli/commands/collaborator.ts
  packages/cli-test/src/cli/commands/create.spec.ts
  packages/cli-test/src/cli/commands/create.ts
  packages/cli-test/src/cli/commands/env.spec.ts
  packages/cli-test/src/cli/commands/env.ts
  packages/cli-test/src/cli/commands/external-auth.spec.ts
  packages/cli-test/src/cli/commands/external-auth.ts
  packages/cli-test/src/cli/commands/function.spec.ts
  packages/cli-test/src/cli/commands/function.ts
  packages/cli-test/src/cli/commands/manifest.spec.ts
  packages/cli-test/src/cli/commands/manifest.ts
  packages/cli-test/src/cli/commands/platform.spec.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/commands/trigger.spec.ts
  packages/cli-test/src/cli/commands/trigger.ts
  packages/cli-test/src/cli/index.spec.ts
  packages/cli-test/src/cli/index.ts
  packages/cli-test/src/cli/shell.spec.ts
  packages/cli-test/src/cli/shell.ts
  packages/cli-test/src/types/commands/common_arguments.ts
  packages/cli-test/src/types/shell.ts
  packages/cli-test/src/utils/test.ts
Due: none

docs basics?
  docs/content/reference/cli-test/classes/SlackCLIProcess.md
  docs/content/reference/cli-test/index.md
  docs/content/reference/cli-test/typedoc-sidebar.cjs
  docs/content/reference/cli-test/variables/SlackCLI.md
  docs/content/reference/cli-test/variables/SlackProduct.md
  docs/content/reference/cli-test/variables/SlackTracerId.md
  docs/content/reference/cli-test/variables/shell.md
  docs/docusaurus.config.js
  docs/sidebars.js
  packages/cli-test/src/cli/shell.ts
Due: none

Publish `@slack/cli-test@1.0.0+cli.2.29.0`
  packages/cli-test/package.json
Due: none

Publish `@slack/cli-test@1.0.0+cli.2.29.0` (#1867)
  packages/cli-test/package.json
Due: none

docs: remove release deploy workflow
  .github/workflows/docs-deploy.yml
Due: none

Docs: remove release deploy workflow (#1869)
  .github/workflows/docs-deploy.yml
Due: none

docs: adds google analytics tag
  docs/docusaurus.config.js
Due: none

docs: adds google analytics tag (#1870)
  docs/docusaurus.config.js
Due: none

web-api(fix): allow typed token overrides in supported methods
  packages/web-api/src/types/request/admin/apps.ts
  packages/web-api/src/types/request/apps.ts
Due: web-api

test: confirm tokens can be provided to the modified methods
  packages/web-api/test/types/methods/admin.apps.test-d.ts
  packages/web-api/test/types/methods/apps.test-d.ts
Due: web-api

web-api(fix): allow typed token overrides in supported methods (#1872)
  packages/web-api/src/types/request/admin/apps.ts
  packages/web-api/src/types/request/apps.ts
  packages/web-api/test/types/methods/admin.apps.test-d.ts
  packages/web-api/test/types/methods/apps.test-d.ts
Due: web-api

web-api(chore): release @slack/web-api@7.3.3
  packages/web-api/package.json
Due: web-api

web-api(chore): release @slack/web-api@7.3.3 (#1873)
  packages/web-api/package.json
Due: web-api

fix: bump axios to 1.7.4 to address CVE. fixes #1874
  packages/web-api/package.json
Due: web-api

fix: bump axios to 1.7.4 to address CVE (#1875)
  packages/web-api/package.json
Due: web-api

Publish `@slack/web-api@7.3.4`
  packages/web-api/package.json
Due: web-api

Publish `@slack/web-api@7.3.4` (#1876)
  packages/web-api/package.json
Due: web-api

cli-test(chore): remove unnecessary non-null assertion
  packages/cli-test/src/cli/index.ts
Due: none

cli-test(chore): remove unnecessary non-null assertion (#1877)
  packages/cli-test/src/cli/index.ts
Due: none

socket-mode(build): use the unfixed latest version of web-api@7
  packages/socket-mode/package.json
Due: socket-mode

chore(deps): bump axios to 1.7.4 to address CVE-2024-39338
  packages/interactive-messages/package.json
  packages/webhook/package.json
Due: webhook

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
