Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

codecov.yml:

comment:
  layout: "condensed_header, diff, flags"
  
flags:
  cli-hooks:
    paths:
      - packages/cli-hooks/**
    carryforward: true
  logger:
    paths:
      - packages/logger/**
    carryforward: true
  oauth:
    paths:
      - packages/oauth/**
    carryforward: true
  socket-mode:
    paths:
      - packages/socket-mode/**
    carryforward: true
  web-api:
    paths:
      - packages/web-api/**
    carryforward: true
  webhook:
    paths:
      - packages/webhook/**
    carryforward: true

move oauth tests from js to ts.
  packages/oauth/package.json
  packages/oauth/src/callback-options.ts
  packages/oauth/src/default-render-html-for-install-path.spec.js
  packages/oauth/src/default-render-html-for-install-path.spec.ts
  packages/oauth/src/install-provider.spec.ts
  packages/oauth/src/logger.spec.ts
  packages/oauth/tsconfig.json
Due: oauth

remove old eslint directives
  packages/types/src/block-kit/composition-objects.ts
  packages/types/src/block-kit/extensions.ts
  packages/webhook/src/instrument.ts
Due: webhook

tweaking tsconfig
  packages/cli-hooks/src/check-update.spec.js
  packages/cli-hooks/src/doctor.spec.js
  packages/cli-hooks/src/get-hooks.spec.js
  packages/cli-hooks/src/get-manifest.spec.js
  packages/cli-hooks/src/protocols.js
  packages/cli-hooks/src/protocols.spec.js
  packages/cli-hooks/src/start.spec.js
  packages/cli-test/tsconfig.json
  packages/logger/tsconfig.json
  packages/oauth/tsconfig.json
  packages/rtm-api/tsconfig.json
  packages/socket-mode/package.json
  packages/socket-mode/tsconfig.json
  packages/types/tsconfig.json
  packages/web-api/tsconfig.json
  packages/webhook/tsconfig.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

removing other eslint references
  packages/cli-hooks/src/doctor.js
  packages/cli-hooks/src/get-hooks.js
  packages/cli-hooks/src/get-manifest.spec.js
  packages/cli-hooks/src/protocols.js
  packages/cli-hooks/src/protocols.spec.js
  packages/cli-hooks/src/start.js
  packages/cli-test/src/cli/commands/trigger.ts
  packages/cli-test/src/cli/shell.ts
  packages/logger/src/index.ts
  packages/rtm-api/src/RTMClient.ts
  packages/socket-mode/src/UnrecoverableSocketModeStartError.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/src/instrument.ts
  packages/web-api/src/retry-policies.ts
  packages/web-api/src/types/request/manifest.ts
  packages/web-api/test/integration/commonjs-project/index.js
  packages/web-api/test/integration/esm-project/index.mjs
  scripts/code_generator.rb
Due: cli-hooks, logger, socket-mode, web-api

no more root package.json, dont use it in ci
  .github/workflows/ci-build.yml
Due: none

updating some example code
  examples/legacy-sign-in-with-slack/app.js
  examples/oauth-v2/app.js
Due: none

updates to legacy SIWS example
  examples/legacy-sign-in-with-slack/app.js
  examples/legacy-sign-in-with-slack/package.json
Due: none

linting openid example
  examples/openid-connect/app.js
Due: none

chore: updates to example apps (#2007)
  examples/legacy-sign-in-with-slack/app.js
  examples/legacy-sign-in-with-slack/package.json
  examples/oauth-v2/app.js
  examples/openid-connect/app.js
Due: none

ci: add an integration test with bolt-js
  .github/workflows/ci-build.yml
Due: none

web-api(feat): add support for `conversations.requestShared` `approve` and `deny` APIs
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/ConversationsRequestSharedInviteApproveResponse.ts
  packages/web-api/src/types/response/ConversationsRequestSharedInviteDenyResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/conversations.test-d.ts
Due: web-api

tweaks to requestsharedinvite.approve message overriding arguments.
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/test/types/methods/conversations.test-d.ts
Due: web-api

factor ChannelID interface out into common request interfaces.
  packages/web-api/src/types/request/admin/conversations.ts
  packages/web-api/src/types/request/admin/usergroups.ts
  packages/web-api/src/types/request/bookmarks.ts
  packages/web-api/src/types/request/canvas.ts
Due: web-api

refactoring some UserID type and adding the requestSharedInvite.list API request arguments.
  packages/web-api/src/types/request/admin/functions.ts
  packages/web-api/src/types/request/admin/users.ts
  packages/web-api/src/types/request/common.ts
  packages/web-api/src/types/request/conversations.ts
Due: web-api

add request sahred invite list response
  packages/web-api/src/types/response/ConversationsRequestSharedInviteListResponse.ts
Due: web-api

add request shared invite list bits
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/admin/usergroups.ts
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/conversations.test-d.ts
Due: web-api

removing list api bits
  packages/web-api/src/methods.ts
  packages/web-api/src/retry-policies.ts
  packages/web-api/src/types/request/admin/conversations.ts
  packages/web-api/src/types/request/canvas.ts
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/ConversationsRequestSharedInviteApproveResponse.ts
  packages/web-api/src/types/response/ConversationsRequestSharedInviteDenyResponse.ts
  packages/web-api/src/types/response/ConversationsRequestSharedInviteListResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/conversations.test-d.ts
  packages/web-api/tsconfig.json
Due: web-api

Fix up merge conflict errors
  packages/web-api/src/types/request/conversations.ts
Due: web-api

web-api(feat): add support for `conversations.requestShared` `approve` , `deny` and `list` APIs (#1843)
  packages/web-api/src/methods.ts
  packages/web-api/src/retry-policies.ts
  packages/web-api/src/types/request/admin/conversations.ts
  packages/web-api/src/types/request/admin/functions.ts
  packages/web-api/src/types/request/admin/users.ts
  packages/web-api/src/types/request/bookmarks.ts
  packages/web-api/src/types/request/canvas.ts
  packages/web-api/src/types/request/common.ts
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/ConversationsRequestSharedInviteApproveResponse.ts
  packages/web-api/src/types/response/ConversationsRequestSharedInviteDenyResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/conversations.test-d.ts
  packages/web-api/tsconfig.json
Due: web-api

Publish `@slack/web-api@7.4.0`
  packages/web-api/package.json
Due: web-api

Publish `@slack/web-api@7.4.0` (#2009)
  packages/web-api/package.json
Due: web-api

Update message.ts
  packages/types/src/events/message.ts
Due: none

Update index.ts
  packages/types/src/events/index.ts
Due: none

`MessageEvent` incorrectly references the Node global MessageEvent type. #2020 (#2021)
  packages/types/src/events/index.ts
  packages/types/src/events/message.ts
Due: none

types(test): add a test to not mix up built-in node MessageEvent type with Slack MessageEvent type (relates to #2020)
  packages/types/src/block-kit/composition-objects.ts
  packages/types/src/block-kit/extensions.ts
  packages/types/test/events/message.test-d.ts
  packages/types/tsconfig.json
Due: none

types(test): add a test to not mix up built-in node `MessageEvent` type (#2022)
  packages/types/src/block-kit/composition-objects.ts
  packages/types/src/block-kit/extensions.ts
  packages/types/test/events/message.test-d.ts
  packages/types/tsconfig.json
Due: none

Publish `@slack/types@2.13.1`
  packages/types/package.json
Due: none

Publish `@slack/types@2.13.1` (#2023)
  packages/types/package.json
Due: none

docs: new url
  docs/README.md
  docs/content/index.md
  docs/content/packages/rtm-api.md
  docs/content/packages/socket-mode.md
  docs/content/tutorials/local-development.md
  docs/docusaurus.config.js
Due: none

docs: new url in readme
  README.md
Due: none

Add ai.assistant.* APIs for AI apps
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/ai.ts
  packages/web-api/src/types/request/index.ts
Due: web-api

Update endpoints by removing ai
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/ai.ts
  packages/web-api/src/types/request/assistant.ts
  packages/web-api/src/types/request/index.ts
Due: web-api

Add Assistant types
  packages/types/src/events/assistant.ts
  packages/types/src/events/index.ts
Due: none

Incorporate PR feedback
  packages/types/src/events/assistant.ts
  packages/types/src/events/index.ts
  packages/web-api/src/types/request/assistant.ts
Due: web-api

Publish @slack/web-api@7.5.0
  packages/web-api/package.json
Due: web-api
