Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

refactor(web-api): align chat stream implementation with python sdk (#2388)
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/chat-stream.ts
Due: web-api

fix(web-api): remove unfurl arguments from chat.startStream method (#2389)
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

pls
  docs/english/reference/types/interfaces/Action.md
  docs/english/reference/types/interfaces/Actionable.md
  docs/english/reference/types/interfaces/Confirm.md
  docs/english/reference/types/interfaces/Dialog.md
  docs/english/reference/types/interfaces/MessageRepliedEvent.md
  docs/english/reference/types/interfaces/ThreadBroadcastMessageEvent.md
  docs/english/reference/types/interfaces/WorkflowStepView.md
  docs/english/reference/types/type-aliases/ImageBlock.md
  docs/english/reference/types/type-aliases/ImageElement.md
  docs/english/reference/types/type-aliases/SharedChannelInviteAccepted.md
  docs/english/reference/types/type-aliases/SharedChannelInviteApproved.md
  docs/english/reference/types/type-aliases/SharedChannelInviteDeclined.md
  docs/english/reference/types/type-aliases/SharedChannelInviteReceived.md
  docs/english/reference/types/type-aliases/SubteamCreated.md
  docs/english/reference/types/type-aliases/SubteamMembersChanged.md
Due: none

typo
  docs/english/reference/web-api/classes/WebClient.md
  packages/web-api/src/WebClient.ts
Due: web-api

chore(release): version @slack/web-api@7.10.0-aiAppsBeta.5
  packages/web-api/package.json
Due: web-api

build(webhook): package for nodenext es6 with minimum node20 test
  .github/workflows/ci-build.yml
  packages/webhook/package.json
  packages/webhook/src/IncomingWebhook.spec.ts
  packages/webhook/src/IncomingWebhook.ts
  packages/webhook/src/index.ts
  packages/webhook/src/instrument.ts
  packages/webhook/tsconfig.json
Due: webhook

revert: do not merge beta releases into the main branch
  packages/types/package.json
  packages/web-api/package.json
Due: web-api

docs: update autogernated docs to remove beta versions
  docs/english/reference/types/index.md
  docs/english/reference/web-api/index.md
Due: none

revert: require the prior types package version
  packages/web-api/package.json
Due: web-api

revert: use a beta release for webapi tests
  packages/web-api/package.json
Due: web-api

chore(types): release @slack/types@2.17.0
  docs/english/reference/types/index.md
  packages/types/package.json
Due: none

chore(types): release @slack/types@2.17.0 (#2400)
  docs/english/reference/types/index.md
  packages/types/package.json
Due: none

build(web-api): bump to minimum @slack/types@2.17.0
  packages/web-api/package.json
Due: web-api

build(web-api): bump to minimum @slack/types@2.17.0 (#2401)
  packages/web-api/package.json
Due: web-api

chore(web-api): release @slack/web-api@7.11.0
  docs/english/reference/web-api/index.md
  packages/web-api/package.json
Due: web-api

chore(web-api): release @slack/web-api@7.11.0 (#2402)
  docs/english/reference/web-api/index.md
  packages/web-api/package.json
Due: web-api

Add support for AbortSignal
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/src/methods.ts
Due: web-api

Update entity metadata definitions
  packages/types/src/events/entity-details-requested.ts
  packages/types/src/events/message-metadata.ts
  packages/types/src/message-metadata.ts
  packages/web-api/src/types/request/chat.ts
  packages/web-api/src/types/request/manifest.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

bump version for beta release
  packages/types/package.json
Due: none

feat-work-objects: beta version for the types pkg (#2404)
  packages/types/package.json
Due: none

update test
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

Bump version for beta release
  packages/web-api/package.json
Due: web-api

feat-work-objects: beta version for the web-api pkg (#2405)
  packages/web-api/package.json
Due: web-api

test: use node test runner
  packages/webhook/.gitignore
  packages/webhook/package.json
  packages/webhook/src/IncomingWebhook.test.ts
  packages/webhook/src/IncomingWebhook.ts
  packages/webhook/test/.c8rc.json
  packages/webhook/test/.mocharc.json
  packages/webhook/test/.reports.json
  packages/webhook/tsconfig.json
Due: webhook

build: install types as development or a peer dependency for interfaces
  packages/webhook/package.json
Due: webhook

feat: document a custom adapter for fetch with improved tests
  packages/webhook/README.md
  packages/webhook/package.json
  packages/webhook/src/IncomingWebhook.test.ts
  packages/webhook/src/IncomingWebhook.ts
  packages/webhook/src/errors.ts
  packages/webhook/src/index.ts
  packages/webhook/tsconfig.json
  packages/webhook/typedoc.json
Due: webhook

ci: upload test coverage
  .github/workflows/ci-build.yml
Due: none

ci: attempt to find files instead of test coverage dir
  .github/workflows/ci-build.yml
Due: none

docs: typeo unidici is one close to eleven i recall
  packages/webhook/README.md
Due: webhook

update schema
  packages/types/src/message-metadata.ts
  packages/web-api/src/types/request/entity.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

bump types
  packages/types/package.json
Due: none

feat-work-objects: beta version for the types pkg (#2406)
  packages/types/package.json
Due: none

bump pkg version
  packages/web-api/package.json
Due: web-api

feat-work-objects: beta version for the web-api pkg (#2407)
  packages/web-api/package.json
Due: web-api

test: remove paths to files not found for node 20 jobs
  packages/webhook/package.json
Due: webhook

Update URL in packages/web-api/src/types/request/chat.ts
  packages/web-api/src/types/request/chat.ts
Due: web-api

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
