Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

docs: swap the permalink for a package slug w webhooks
  docs/content/index.md
  docs/content/packages/webhook.md
Due: none

docs: remove tags and badges from github pages
  docs/content/packages/webhook.md
Due: none

docs: replace redirected or missing links to sdk documentation (#2125)
  docs/content/index.md
  docs/content/packages/oauth.md
  docs/content/packages/rtm-api.md
  docs/content/packages/web-api.md
  docs/content/packages/webhook.md
  packages/cli-hooks/package.json
  packages/logger/package.json
  packages/oauth/README.md
  packages/oauth/package.json
  packages/rtm-api/README.md
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/README.md
  packages/web-api/package.json
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/files.ts
  packages/webhook/package.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

feat(cli-test): update traces for env to SLACK_TRACE_ENV_
  packages/cli-test/src/utils/constants.ts
Due: none

feat(cli-test): update traces for env to SLACK_TRACE_ENV_ (#2136)
  packages/cli-test/src/utils/constants.ts
Due: none

Add expand prfoperty to section block type
  packages/types/src/block-kit/blocks.ts
Due: none

chore: adds tsconfig/recommended package
  docs/package-lock.json
Due: none

Add expand prfoperty to section block type (#2137)
  packages/types/src/block-kit/blocks.ts
Due: none

feat(cli-test): include a verbose global option for cli commands
  packages/cli-test/src/cli/cli-process.spec.ts
  packages/cli-test/src/cli/cli-process.ts
Due: none

fix: include the verbose argument in inputs for a host target
  packages/cli-test/src/cli/cli-process.ts
Due: none

fix(cli-test): remove the trailing newline from parsed cli outputs
  packages/cli-test/src/cli/shell.ts
Due: none

fix: avoid removing newlines from the captured shell output
  packages/cli-test/src/cli/shell.ts
Due: none

test: confirm outputs from the shell are returned unchanged
  packages/cli-test/src/cli/shell.spec.ts
Due: none

style: match the ordering of unit tests between describe blocks
  packages/cli-test/src/cli/shell.spec.ts
Due: none

fix(cli-test): remove the trailing newline from parsed cli outputs (#2148)
  packages/cli-test/src/cli/shell.spec.ts
  packages/cli-test/src/cli/shell.ts
Due: none

refactor: separate auth login arguments into separate types
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/commands/auth.ts
Due: none

feat(cli-test): include a verbose global option for cli commands (#2147)
  packages/cli-test/src/cli/cli-process.spec.ts
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/commands/auth.ts
Due: none

chore(cli-test): release @slack/cli-test@2.1.0+cli2.32.2
  packages/cli-test/package.json
Due: none

chore(cli-test): release @slack/cli-test@2.1.0+cli2.32.2 (#2149)
  packages/cli-test/package.json
Due: none

feat(cli-hooks): output node warnings to stderr for debugging outputs
  packages/cli-hooks/src/get-hooks.js
  packages/cli-hooks/src/get-hooks.spec.js
Due: cli-hooks

feat(cli-hooks): exit the start process with the subprocess exit code
  packages/cli-hooks/src/start.js
  packages/cli-hooks/src/start.spec.js
Due: cli-hooks

feat(cli-hooks): output node warnings to stderr for debugging outputs (#2152)
  packages/cli-hooks/src/get-hooks.js
  packages/cli-hooks/src/get-hooks.spec.js
Due: cli-hooks

feat(cli-hooks): exit the start process with the subprocess exit code (#2153)
  packages/cli-hooks/src/start.js
  packages/cli-hooks/src/start.spec.js
Due: cli-hooks

chore(cli-hooks): release @slack/cli-hooks@1.2.0
  packages/cli-hooks/package.json
Due: cli-hooks

chore(cli-hooks): release @slack/cli-hooks@1.2.0 (#2154)
  packages/cli-hooks/package.json
Due: cli-hooks

docs: adds main image
  docs/static/img/slack-logo-on-white.png
Due: none

chore: update packages
  docs/package-lock.json
Due: none

fix: configure dependabot to group react deps
  .github/dependabot.yml
Due: none

fix: configure dependabot to group react deps (#2164)
  .github/dependabot.yml
Due: none

fix: make tests more stable
  packages/oauth/.mocharc.json
  packages/oauth/src/state-stores/spec-utils.ts
Due: oauth

Fix linting issue
  packages/oauth/.mocharc.json
Due: oauth

add typing to AppMentionEvent files array
  packages/types/src/events/app.ts
Due: none

chore(web-api): bump axios to 1.8.2 to address CVE-2025-27152
  packages/web-api/package.json
Due: web-api

chore(webhook): bump axios to 1.8.2 to address CVE-2025-27152
  packages/webhook/package.json
Due: webhook

chore(web-api): bump axios to 1.8.3 for the latest changes
  packages/web-api/package.json
Due: web-api

chore(web-api): bump axios to 1.8.3 for the latest changes
  packages/webhook/package.json
Due: webhook

fix(webhook): bump axios to 1.8.3 to address CVE-2025-27152 (#2173)
  packages/webhook/package.json
Due: webhook

chore(webhook): release @slack/webhook@7.0.5
  packages/webhook/package.json
Due: webhook

ci: cancel test jobs with a timeout after four minutes
  .github/workflows/ci-build.yml
Due: none

chore(webhook): release @slack/webhook@7.0.5 (#2174)
  packages/webhook/package.json
Due: webhook

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
