Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

codecov.yml:

comment:
  layout: "condensed_header, diff, flags"
  
flags:
  cli-hooks:
    paths:
      - packages/cli-hooks/**
    carryforward: true
  logger:
    paths:
      - packages/logger/**
    carryforward: true
  oauth:
    paths:
      - packages/oauth/**
    carryforward: true
  socket-mode:
    paths:
      - packages/socket-mode/**
    carryforward: true
  web-api:
    paths:
      - packages/web-api/**
    carryforward: true
  webhook:
    paths:
      - packages/webhook/**
    carryforward: true

feat: accept chunks as arguments to chat.{start,append,stop}Stream methods
  packages/types/src/chunk.ts
  packages/types/src/index.ts
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

build: update slack/types version in package json
  packages/web-api/package.json
Due: web-api

fix: make markdown text optional and add missing chunk type
  packages/types/src/chunk.ts
  packages/web-api/src/types/request/chat.ts
Due: web-api

feat: chunk processing in chat stream helper
  packages/web-api/src/chat-stream.ts
Due: web-api

tests: add missing chunk type to tests
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

feat: add task_card and plan_blocks
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/types/src/chunk.ts
Due: none

docs: add docs to task, plan, urlsourceelement interfaces
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
Due: none

fix: spacing in block-elements.ts
  packages/types/src/block-kit/block-elements.ts
Due: none

test: add plan and task card tests to chat.postMessage
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

feat: add task display mode option to start of chat streams
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

build: use @slack/logger for debugging parsechunks
  packages/types/package.json
  packages/types/src/chunk.ts
Due: none

type narrowing for parseChunks
  packages/types/src/chunk.ts
Due: none

Update packages/web-api/test/types/methods/chat.test-d.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

fix: buffer logic for chunks and markdown
  packages/web-api/src/chat-stream.ts
Due: web-api

linter errors
  packages/web-api/src/chat-stream.ts
Due: web-api

bug: handle undefined args in ChatStream append
  packages/web-api/src/chat-stream.ts
Due: web-api

Rebase 5e86b299..27478ff8 onto 5e86b299 (2 commands)
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

fix(cli-hooks): stop app process if start hook is exited
  packages/cli-hooks/src/start.js
  packages/cli-hooks/src/start.spec.js
Due: cli-hooks

remove parsechunks
  packages/types/package.json
  packages/types/src/chunk.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

feat: accept chunks as arguments to chat.{start,append,stop}Stream methods (#2467)
  packages/types/src/chunk.ts
  packages/types/src/index.ts
  packages/web-api/package.json
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

Revert "build: use @slack/logger for debugging parsechunks"
  packages/types/package.json
Due: none

fix: flush logic for chunks
  packages/web-api/src/chat-stream.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

test: update charStream tests to support chunks
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/chat-stream.ts
Due: web-api

chore: add opt-in pre-commit lint --write hook
  .githooks/pre-commit
  .github/maintainers_guide.md
Due: none

fix: args destructure
  packages/web-api/src/chat-stream.ts
Due: web-api

update package.json
  packages/web-api/package.json
Due: web-api

testing oauth & socket-mode links to web-api
  packages/oauth/package.json
  packages/socket-mode/package.json
Due: oauth, socket-mode

undo package json changes
  packages/oauth/package.json
  packages/socket-mode/package.json
  packages/web-api/package.json
Due: oauth, socket-mode, web-api

remover icon_url from urlsourceelement
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/types/src/chunk.ts
Due: none

restore changes that were undone in force push
  packages/types/package.json
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/types/src/chunk.ts
Due: none

restore changes that were undone in force push
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/types/src/chunk.ts
Due: none

change flushings to chunksToFlush
  packages/web-api/src/chat-stream.ts
Due: web-api

feat: accept chunks as arguments to chat stream helper (#2470)
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/chat-stream.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

Update packages/types/src/block-kit/blocks.ts
  packages/types/src/block-kit/blocks.ts
Due: none

stricter typing for task block and remove plan_id
  packages/types/src/block-kit/blocks.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api
