Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

codecov.yml:

comment:
  layout: "condensed_header, diff, flags"
  
flags:
  cli-hooks:
    paths:
      - packages/cli-hooks/**
    carryforward: true
  logger:
    paths:
      - packages/logger/**
    carryforward: true
  oauth:
    paths:
      - packages/oauth/**
    carryforward: true
  socket-mode:
    paths:
      - packages/socket-mode/**
    carryforward: true
  web-api:
    paths:
      - packages/web-api/**
    carryforward: true
  webhook:
    paths:
      - packages/webhook/**
    carryforward: true

tests: urlsourceelement
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

build: setup monorepo workspace for dependent packagings
  .github/workflows/ci-build.yml
  package.json
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: oauth, socket-mode, web-api, webhook

revert: undo package bumps
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: oauth, socket-mode, web-api, webhook

ci: ignore prepare script when installing packagse
  .github/workflows/ci-build.yml
Due: none

Revert "remover icon_url from urlsourceelement"
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/types/src/chunk.ts
Due: none

feat: add task display mode option to start of chat streams
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

feat: add task_card and plan blocks (#2471)
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/types/src/chunk.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

build: replace prepare script with prepublish only
  .github/workflows/ci-build.yml
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/logger/package.json
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

build: lint the repo instead of packages
  .github/maintainers_guide.md
  .github/workflows/ci-build.yml
  biome.json
  package.json
  packages/cli-hooks/biome.json
  packages/cli-hooks/package.json
  packages/cli-test/biome.json
  packages/cli-test/package.json
  packages/logger/biome.json
  packages/logger/package.json
  packages/oauth/biome.json
  packages/oauth/package.json
  packages/rtm-api/biome.json
  packages/rtm-api/package.json
  packages/socket-mode/biome.json
  packages/socket-mode/package.json
  packages/types/biome.json
  packages/types/package.json
  packages/web-api/biome.json
  packages/web-api/package.json
  packages/web-api/src/WebClient.ts
  packages/webhook/biome.json
  packages/webhook/package.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

feat(cli-hooks): add default app and manifest watch config
  packages/cli-hooks/src/get-hooks.js
  packages/cli-hooks/src/get-hooks.spec.js
Due: cli-hooks

chore: simplify pre-commit hook
  .githooks/pre-commit
Due: none

Update packages/web-api/test/types/methods/chat.test-d.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

chore: show lint output in pre-commit hook
  .githooks/pre-commit
Due: none

feat: add task display mode option to start of chat streams (#2479)
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

feat(web-api): export the chat streamer and related options from the package
  packages/web-api/src/index.ts
Due: web-api

feat: accept chunks as arguments to chat stream helper (#2470)
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/chat-stream.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

feat: accept chunks as arguments to chat.{start,append,stop}Stream methods (#2467)
  packages/types/src/chunk.ts
  packages/types/src/index.ts
  packages/web-api/package.json
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

build: replace prepublishOnly script with prepack
  packages/cli-test/package.json
  packages/logger/package.json
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: logger, oauth, socket-mode, web-api, webhook

docs: update runbooks and maintainers guide with workspace command
  .github/maintainers_guide.md
Due: none

build: changeset init
  .changeset/README.md
  .changeset/config.json
  package.json
Due: none

chore: add release workflow and steps for contributors and maintainers
  .changeset/README.md
  .changeset/config.json
  .github/maintainers_guide.md
  .github/workflows/release.yml
  packages/client/package.json
  packages/events-api/package.json
  packages/interactive-messages/package.json
Due: none

docs: formalize changesets in documentation
  .changeset/README.md
Due: none

docs: reword a few lines
  .github/maintainers_guide.md
Due: none

docs: codeword changelog
  .github/maintainers_guide.md
Due: none

ci: add workflow_dispatch event for when retries and testing more is required
  .github/workflows/release.yml
Due: none

style: prefix releases with a chore conventional commit
  .github/workflows/release.yml
Due: none

ci: update depenedencies of the monorepo on schedule
  .github/dependabot.yml
Due: none

feat(web-api): export the chat streamer and related options from the package (#2481)
  packages/web-api/src/index.ts
Due: web-api

build: setup monorepo npm workspace for dependent packages (#2478)
  .github/dependabot.yml
  .github/maintainers_guide.md
  .github/workflows/ci-build.yml
  biome.json
  package.json
  packages/cli-hooks/biome.json
  packages/cli-hooks/package.json
  packages/cli-test/biome.json
  packages/cli-test/package.json
  packages/logger/biome.json
  packages/logger/package.json
  packages/oauth/biome.json
  packages/oauth/package.json
  packages/rtm-api/biome.json
  packages/rtm-api/package.json
  packages/socket-mode/biome.json
  packages/socket-mode/package.json
  packages/types/biome.json
  packages/types/package.json
  packages/web-api/biome.json
  packages/web-api/package.json
  packages/web-api/src/WebClient.ts
  packages/webhook/biome.json
  packages/webhook/package.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

docs: note oidc requirement for package publishing
  .github/workflows/release.yml
Due: none

build: automate release packaging and version bumps with changesets (#2483)
  .changeset/README.md
  .changeset/config.json
  .github/maintainers_guide.md
  .github/workflows/release.yml
  package.json
  packages/client/package.json
  packages/events-api/package.json
  packages/interactive-messages/package.json
Due: none

build: fix package format for publishing and reviewing releases in workflow
  .changeset/config.json
  packages/cli-test/package.json
  packages/logger/package.json
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: logger, oauth, socket-mode, web-api, webhook

ci: separate updates to release pr from publish for separate environments
  .github/workflows/release.yml
Due: none

docs: explain manual process for cli-test package releases
  .github/maintainers_guide.md
Due: none

docs: changeset
  .changeset/neat-toys-wonder.md
Due: none

fix: search for explicit .js file extensions
  packages/cli-hooks/src/get-hooks.js
  packages/cli-hooks/src/get-hooks.spec.js
Due: cli-hooks

docs: changeset
  .changeset/green-items-write.md
Due: none
