Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

codecov.yml:

comment:
  layout: "condensed_header, diff, flags"
  
flags:
  cli-hooks:
    paths:
      - packages/cli-hooks/**
    carryforward: true
  logger:
    paths:
      - packages/logger/**
    carryforward: true
  oauth:
    paths:
      - packages/oauth/**
    carryforward: true
  socket-mode:
    paths:
      - packages/socket-mode/**
    carryforward: true
  web-api:
    paths:
      - packages/web-api/**
    carryforward: true
  webhook:
    paths:
      - packages/webhook/**
    carryforward: true

Publish `@slack/cli-test@2.0.0+cli.2.30.1` (#2093)
  packages/cli-test/package.json
Due: none

fix: remove node warnings that break @slack/cli-hooks
  packages/cli-hooks/src/get-hooks.js
Due: cli-hooks

fix: update get-hooks.spec.js
  packages/cli-hooks/src/get-hooks.js
  packages/cli-hooks/src/get-hooks.spec.js
  packages/cli-hooks/src/protocols.js
Due: cli-hooks

docs: update get-hooks in README.md
  packages/cli-hooks/README.md
Due: cli-hooks

feat(cli-test): include expected trace outputs for the 'env' commands
  packages/cli-test/src/utils/constants.ts
Due: none

Add initial methods for installation store (delete bot, delete all)
  packages/oauth/src/installation-stores/interface.ts
Due: oauth

fix(cli-hooks): silence node warnings that can break @slack/cli-hooks (#2096)
  packages/cli-hooks/README.md
  packages/cli-hooks/src/get-hooks.js
  packages/cli-hooks/src/get-hooks.spec.js
  packages/cli-hooks/src/protocols.js
Due: cli-hooks

Publish @slack/cli-hooks@1.1.2
  packages/cli-hooks/package.json
Due: cli-hooks

Publish @slack/cli-hooks@1.1.2 (#2098)
  packages/cli-hooks/package.json
Due: cli-hooks

feat(cli-test): include expected test trace outputs for the "env" subcommands (#2097)
  packages/cli-test/src/utils/constants.ts
Due: none

test: add integration test for 409 response from websocket server during handshake
  packages/socket-mode/test/integration.spec.js
Due: socket-mode

fix doubling up on reconnection attempts
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/errors.ts
  packages/socket-mode/test/integration.spec.js
Due: socket-mode

documenting bug and test validating the fix
  packages/socket-mode/test/integration.spec.js
Due: socket-mode

add a unit test for connect() method of SlackWebSocket
  packages/socket-mode/package.json
  packages/socket-mode/src/SlackWebSocket.spec.ts
  packages/socket-mode/test/integration.spec.js
Due: socket-mode

Publish `@slack/socket-mode@2.0.3-rc.1`
  packages/socket-mode/package.json
Due: socket-mode

Bump minimum axios version for web-api and webhook to avoid security vuln
  packages/web-api/package.json
  packages/webhook/package.json
Due: web-api, webhook

ci: check for changes to lints separate from writing changes
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/logger/package.json
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

chore(deps): bump minimum axios version for web-api and webhook to avoid security vuln (#2116)
  packages/web-api/package.json
  packages/webhook/package.json
Due: web-api, webhook

style: format json according to linter preferences
  packages/logger/tsconfig.json
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: logger, oauth, socket-mode, web-api, webhook

style: run the lint:fix job with the latest biome installed
  packages/oauth/package.json
  packages/oauth/tsconfig.json
  packages/rtm-api/package.json
  packages/rtm-api/tsconfig.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/package.json
  packages/webhook/package.json
  packages/webhook/tsconfig.json
Due: oauth, socket-mode, web-api, webhook

ci: configure git to checkout with eol lf on windows
  .github/workflows/ci-build.yml
Due: none

ci: configure the global git setting before checkout
  .github/workflows/ci-build.yml
Due: none

style: match naming conventions for os steps
  .github/workflows/ci-build.yml
Due: none

ci: avoid converting crlf on windows checkout
  .github/workflows/ci-build.yml
Due: none

ci: check for changes to lints separate from writing changes (#2117)
  .github/workflows/ci-build.yml
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/logger/package.json
  packages/logger/tsconfig.json
  packages/oauth/package.json
  packages/oauth/tsconfig.json
  packages/rtm-api/package.json
  packages/rtm-api/tsconfig.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/package.json
  packages/webhook/package.json
  packages/webhook/tsconfig.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

Publish @slack/webhook@7.1.0 @slack/web-api@7.8.0
  packages/web-api/package.json
  packages/webhook/package.json
Due: web-api, webhook

Publish @slack/webhook@7.0.4
  packages/webhook/package.json
Due: webhook

Release: @slack/webhook@7.0.4, @slack/web-api@7.8.0 (#2118)
  packages/web-api/package.json
  packages/webhook/package.json
Due: web-api, webhook

Update webhook and web-api dependencies in client, oauth, rtm-api, and socket-mode
  packages/client/package.json
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
Due: oauth, socket-mode

revert slack/client changes
  packages/client/package.json
Due: none

socket-mode: Handling WS errors during handshake (#2099)
  packages/socket-mode/package.json
  packages/socket-mode/src/SlackWebSocket.spec.ts
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/errors.ts
  packages/socket-mode/test/integration.spec.js
Due: socket-mode

Update webhook and web-api dependencies in oauth, rtm-api, and socket-mode (#2119)
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
Due: oauth, socket-mode

Release: @slack/socket-mode@2.0.4, @slack/oauth@3.0.2, @slack/rtm-api@7.0.2
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
Due: oauth, socket-mode

adjust socket mode
  packages/socket-mode/package.json
Due: socket-mode

Release: @slack/socket-mode@2.0.3, @slack/oauth@3.0.2, @slack/rtm-api@7.0.2 (#2120)
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
Due: oauth, socket-mode

docs: prepend the tools subdomain to package paths
  packages/cli-hooks/package.json
  packages/logger/package.json
  packages/oauth/README.md
  packages/oauth/package.json
  packages/rtm-api/README.md
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/README.md
  packages/web-api/package.json
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/files.ts
  packages/webhook/package.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

docs: replace indirect links to internal references
  docs/content/packages/oauth.md
  docs/content/packages/rtm-api.md
  docs/content/packages/web-api.md
Due: none

build: unlock breaking changes with the zero versioned typedoc
  docs/package.json
Due: none

chore: group typedoc dependencies with docusaurus
  .github/dependabot.yml
Due: none

build: allow breaking change when updating typedoc for documentation builds (#2122)
  .github/dependabot.yml
  docs/package.json
Due: none
