Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

codecov.yml:

comment:
  layout: "condensed_header, diff, flags"
  
flags:
  cli-hooks:
    paths:
      - packages/cli-hooks/**
    carryforward: true
  logger:
    paths:
      - packages/logger/**
    carryforward: true
  oauth:
    paths:
      - packages/oauth/**
    carryforward: true
  socket-mode:
    paths:
      - packages/socket-mode/**
    carryforward: true
  web-api:
    paths:
      - packages/web-api/**
    carryforward: true
  webhook:
    paths:
      - packages/webhook/**
    carryforward: true

fix: remove manifest.json from filter regexes
  .changeset/green-items-write.md
  packages/cli-hooks/src/get-hooks.js
  packages/cli-hooks/src/get-hooks.spec.js
Due: cli-hooks

docs: note local manifest source requirement for reinstallations
  .changeset/green-items-write.md
Due: none

updates docs
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/types/src/chunk.ts
  packages/web-api/src/types/request/chat.ts
Due: web-api

docs: polishing source wording (#2493)
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/types/src/chunk.ts
  packages/web-api/src/types/request/chat.ts
Due: web-api

rerun
  docs/english/reference/web-api/interfaces/ChatAppendStreamArguments.md
  docs/english/reference/web-api/interfaces/ChatDeleteArguments.md
  docs/english/reference/web-api/interfaces/ChatDeleteScheduledMessageArguments.md
  docs/english/reference/web-api/interfaces/ChatGetPermalinkArguments.md
  docs/english/reference/web-api/interfaces/ChatMeMessageArguments.md
  docs/english/reference/web-api/interfaces/ChatStartStreamArguments.md
  docs/english/reference/web-api/type-aliases/ChatPostEphemeralArguments.md
  docs/english/reference/web-api/type-aliases/ChatPostMessageArguments.md
  docs/english/reference/web-api/type-aliases/ChatScheduleMessageArguments.md
  docs/english/reference/web-api/type-aliases/ChatScheduledMessagesListArguments.md
  docs/english/reference/web-api/type-aliases/ChatStopStreamArguments.md
  docs/english/reference/web-api/type-aliases/ChatUnfurlArguments.md
  docs/english/reference/web-api/type-aliases/ChatUpdateArguments.md
Due: none

tests: add test coverage for flushBuffer edge cases
  packages/web-api/src/WebClient.spec.ts
Due: web-api

build: fix package format for publishing and reviewing releases in workflow (#2492)
  .changeset/config.json
  .github/maintainers_guide.md
  .github/workflows/release.yml
  packages/cli-test/package.json
  packages/logger/package.json
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: logger, oauth, socket-mode, web-api, webhook

build(cli-test): document the compatible version of slack cli with each release
  .changeset/config.json
  .changeset/hungry-friends-tickle.md
  .github/maintainers_guide.md
  packages/cli-test/README.md
Due: none

build(cli-test): document the compatible version of slack cli with each release (#2496)
  .changeset/config.json
  .changeset/hungry-friends-tickle.md
  .github/maintainers_guide.md
  packages/cli-test/README.md
Due: none

ci(deps): auto-approve / auto-merge dependencies from dependabot
  .github/workflows/dependencies.yml
Due: none

ci(deps): auto-approve / auto-merge dependencies from dependabot (#2500)
  .github/workflows/dependencies.yml
Due: none

fix(cli-hooks): stop app process if the start hook exits (#2474)
  .changeset/neat-toys-wonder.md
  packages/cli-hooks/src/start.js
  packages/cli-hooks/src/start.spec.js
Due: cli-hooks

ci: include workflow write permission for changelog steps
  .github/workflows/release.yml
Due: none

chore: comment instructional text in PR template
  .github/pull_request_template.md
Due: none

chore: use dashes for checklist items
  .github/pull_request_template.md
Due: none

ci: update changelog job permissions for changesets action
  .github/workflows/release.yml
Due: none

chore: comment instructional text in pull request template (#2502)
  .github/pull_request_template.md
Due: none

fix(web-api): add channel_id to canvases.create method
  packages/web-api/src/types/request/canvas.ts
  packages/web-api/test/types/methods/canvas.test-d.ts
Due: web-api

chore: changeset
  .changeset/three-turtles-battle.md
Due: none

docs: make optional filter regex for app configuration watch
  packages/cli-hooks/src/get-hooks.js
Due: cli-hooks

feat(cli-hooks): add default app and manifest watch config (#2480)
  .changeset/green-items-write.md
  packages/cli-hooks/src/get-hooks.js
  packages/cli-hooks/src/get-hooks.spec.js
Due: cli-hooks

fix(web-api): fix flaky timeout test by mocking network request
  packages/web-api/src/WebClient.spec.ts
Due: web-api

docs: add thinking steps changeset entries
  .changeset/thinking-steps-feature.md
Due: none

docs: add thinking steps changeset entries (#2508)
  .changeset/thinking-steps-feature.md
Due: none

docs: add thinking steps release notes
  .changeset/thinking-steps-feature.md
  .changeset/thinking-steps-types.md
Due: none

docs: remove outdated spec
  .changeset/thinking-steps-types.md
Due: none

docs: describe a feature better suited in actual use case
  .changeset/thinking-steps-types.md
Due: none

docs: add thinking steps release notes (#2510)
  .changeset/thinking-steps-feature.md
  .changeset/thinking-steps-types.md
Due: none

fix(web-api): add channel_id to canvases.create method (#2505)
  .changeset/three-turtles-battle.md
  packages/web-api/src/types/request/canvas.ts
  packages/web-api/test/types/methods/canvas.test-d.ts
Due: web-api

ci: add build step before publish
  .github/workflows/release.yml
Due: none

ci: add build step before publish (#2511)
  .github/workflows/release.yml
Due: none

docs(chore): update release notes testing and publishing steps to be more clear
  .github/maintainers_guide.md
Due: none

fix(types): narrow tag_color type to supported color literals
  packages/types/src/message-metadata.ts
Due: none

docs(maintainers): update release notes testing and publishing steps to be more clear (#2512)
  .github/maintainers_guide.md
Due: none
