Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

codecov.yml:

comment:
  layout: "condensed_header, diff, flags"
  
flags:
  cli-hooks:
    paths:
      - packages/cli-hooks/**
    carryforward: true
  logger:
    paths:
      - packages/logger/**
    carryforward: true
  oauth:
    paths:
      - packages/oauth/**
    carryforward: true
  socket-mode:
    paths:
      - packages/socket-mode/**
    carryforward: true
  web-api:
    paths:
      - packages/web-api/**
    carryforward: true
  webhook:
    paths:
      - packages/webhook/**
    carryforward: true

refactor(webhook): tighten WebhookTriggerResult to { ok, error? }
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

docs(webhook): retitle README to Slack Webhooks
  packages/webhook/README.md
Due: webhook

docs(webhook): use singular Slack Webhook README title
  packages/webhook/README.md
Due: webhook

chore: release webhook@7.2.0-rc.3
  packages/webhook/package.json
Due: webhook

revert: stable version
  packages/webhook/package.json
Due: webhook

docs(webhook): document opt-in retries in the README
  packages/webhook/README.md
Due: webhook

feat(webhook): add WebhookTrigger class for Workflow Builder triggers (#2615)
  .changeset/webhook-trigger-class.md
  packages/webhook/README.md
  packages/webhook/package.json
  packages/webhook/src/WebhookTrigger.test.ts
  packages/webhook/src/WebhookTrigger.ts
  packages/webhook/src/errors.ts
  packages/webhook/src/index.ts
Due: webhook

fix(web-api): redact response body in debug logs
  packages/web-api/src/WebClient.ts
Due: web-api

feat(webhook): add opt-in retries to IncomingWebhook and WebhookTrigger (#2641)
  .changeset/webhook-opt-in-retries.md
  package-lock.json
  packages/webhook/README.md
  packages/webhook/package.json
  packages/webhook/src/IncomingWebhook.test.ts
  packages/webhook/src/IncomingWebhook.ts
  packages/webhook/src/WebhookTrigger.test.ts
  packages/webhook/src/WebhookTrigger.ts
  packages/webhook/src/index.ts
  packages/webhook/src/retry-policies.test.ts
  packages/webhook/src/retry-policies.ts
Due: webhook

fix(web-api): add test for response body redaction in debug logs
  packages/web-api/src/WebClient.test.ts
Due: web-api

Update packages/web-api/src/WebClient.test.ts
  packages/web-api/src/WebClient.test.ts
Due: web-api

fix(web-api): make redact() recurse into nested objects
  packages/web-api/src/WebClient.ts
Due: web-api

chore: add changeset for response body redaction fix
  .changeset/redact-response-debug-logs.md
Due: none

style: fix formatting in redaction test
  packages/web-api/src/WebClient.test.ts
Due: web-api

fix(web-api): redact response body in debug logs (#2652)
  .changeset/redact-response-debug-logs.md
  packages/web-api/src/WebClient.test.ts
  packages/web-api/src/WebClient.ts
Due: web-api

fix: improve error handling
  .changeset/webhook-trigger-and-retries.md
  packages/webhook/src/WebhookTrigger.test.ts
  packages/webhook/src/WebhookTrigger.ts
  packages/webhook/src/errors.ts
Due: webhook

chore: bump package versions for release candidate
  package-lock.json
  packages/cli-hooks/package.json
  packages/oauth/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: cli-hooks, oauth, socket-mode, web-api, webhook

go
  docs/english/webhook.md
Due: none

docs: updates webhook page to match readme (#2658)
  docs/english/webhook.md
Due: none

Docs: migration guides for new package versions (#2606)
  docs/english/_sidebar.json
  docs/english/migration/legacy/migrating-to-v4.md
  docs/english/migration/legacy/migrating-to-v5.md
  docs/english/migration/legacy/migrating-to-v6.md
  docs/english/migration/migration.md
  docs/english/migration/socket-mode/migrating-socket-mode-package-to-v2.md
  docs/english/migration/socket-mode/migrating-socket-mode-package-to-v3.md
  docs/english/migration/web-api/migrating-web-api-package-to-v7.md
  docs/english/migration/web-api/migrating-web-api-package-to-v8.md
  docs/english/migration/webhook/migrating-webhook-package-to-v8.md
  docs/english/support-schedule.md
Due: none

feat(web-api): add blocks.validate method
  .changeset/web-api-blocks-validate.md
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/blocks.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/BlocksValidateResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/blocks.test-d.ts
Due: web-api

docs: update package READMEs for v7 release candidate
  AGENTS.md
  README.md
  packages/oauth/README.md
  packages/socket-mode/README.md
  packages/web-api/README.md
  packages/webhook/README.md
Due: oauth, socket-mode, web-api, webhook

fix(socket-mode): handle shutdown reconnect race
  packages/socket-mode/src/SocketModeClient.test.ts
  packages/socket-mode/src/SocketModeClient.ts
Due: socket-mode

fix(socket-mode): observe reconnect rejections
  packages/socket-mode/src/SocketModeClient.test.ts
  packages/socket-mode/src/SocketModeClient.ts
Due: socket-mode

docs: update package READMEs for v8 (#2660)
  AGENTS.md
  README.md
  packages/oauth/README.md
  packages/socket-mode/README.md
  packages/web-api/README.md
  packages/webhook/README.md
Due: oauth, socket-mode, web-api, webhook

Update package-lock.json
  package-lock.json
Due: none

chore(webhook): bump p-retry to v7 and fix Node version source of truth
  .github/dependabot.yml
  AGENTS.md
  package-lock.json
  packages/webhook/package.json
Due: webhook

docs: tighten wording in dependabot config comment and AGENTS.md
  .github/dependabot.yml
  AGENTS.md
Due: none

Update package.json
  packages/rtm-api/package.json
Due: none

chore: raise @types/node ignore floor to Node 20 in dependabot config
  .github/dependabot.yml
Due: none
