Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

chore(socket-mode): release @slack/socket-mode@2.0.5 (#2346)
  docs/english/reference/socket-mode/index.md
  packages/socket-mode/package.json
Due: socket-mode

chore(rtm-api): release @slack/rtm-api@7.0.4 (#2347)
  docs/english/reference/rtm-api/index.md
  packages/rtm-api/package.json
Due: none

feat(cli-test): add version command
  packages/cli-test/src/cli/commands/version.spec.ts
  packages/cli-test/src/cli/commands/version.ts
  packages/cli-test/src/cli/index.ts
Due: none

feat(cli-test): add version command (#2353)
  packages/cli-test/src/cli/commands/version.spec.ts
  packages/cli-test/src/cli/commands/version.ts
  packages/cli-test/src/cli/index.ts
Due: none

chore(cli-test): release @slack/cli-test@2.2.0+cli.2.32.2
  docs/english/reference/cli-test/index.md
  docs/english/reference/cli-test/variables/SlackCLI.md
  packages/cli-test/package.json
Due: none

chore(cli-test): release @slack/cli-test@2.2.0+cli.2.32.2 (#2354)
  docs/english/reference/cli-test/index.md
  docs/english/reference/cli-test/variables/SlackCLI.md
  packages/cli-test/package.json
Due: none

cli-test(fix): wait for cli run start trace instead of activity output
  packages/cli-test/src/cli/commands/platform.spec.ts
  packages/cli-test/src/cli/commands/platform.ts
Due: none

Update SearchMessagesArguments to support cursor pagination
  packages/web-api/src/types/request/search.ts
Due: web-api

lint
  packages/web-api/src/types/request/search.ts
Due: web-api

feat(web-api): add chat.{appendStream|startStream|stopStream} methods
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/chat.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/ChatAppendStreamResponse.ts
  packages/web-api/src/types/response/ChatStartStreamResponse.ts
  packages/web-api/src/types/response/ChatStopStreamResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

feat(web-api): add chat.{appendStream|startStream|stopStream} methods (#2362)
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/chat.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/ChatAppendStreamResponse.ts
  packages/web-api/src/types/response/ChatStartStreamResponse.ts
  packages/web-api/src/types/response/ChatStopStreamResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

update
  packages/types/package.json
  packages/types/src/message-metadata.ts
  packages/web-api/package.json
  packages/web-api/src/types/request/chat.ts
Due: web-api

build: use latest biome schema version
  biome.json
  packages/cli-hooks/biome.json
  packages/cli-test/biome.json
  packages/logger/biome.json
  packages/oauth/biome.json
  packages/rtm-api/biome.json
  packages/socket-mode/biome.json
  packages/types/biome.json
  packages/web-api/biome.json
  packages/webhook/biome.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

feat(web-api): add message to chat.stopStream response type
  packages/web-api/src/types/response/ChatStopStreamResponse.ts
Due: web-api

build: use latest biome schema version (#2363)
  biome.json
  packages/cli-hooks/biome.json
  packages/cli-test/biome.json
  packages/logger/biome.json
  packages/oauth/biome.json
  packages/rtm-api/biome.json
  packages/socket-mode/biome.json
  packages/types/biome.json
  packages/web-api/biome.json
  packages/webhook/biome.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

feat(web-api): add message to chat.stopStream response type (#2364)
  packages/web-api/src/types/response/ChatStopStreamResponse.ts
Due: web-api

chore(web-api): release @slack/web-api@7.10.0-aiAppsBeta.1
  packages/web-api/package.json
Due: web-api

update payload object, entity.presentDetails inputs, test, event
  packages/types/src/events/entity-details-requested.ts
  packages/types/src/message-metadata.ts
  packages/web-api/src/types/request/entity.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

bump beta version
  packages/types/package.json
Due: none

feat-work-objects: beta version for the types pkg (#2366)
  packages/types/package.json
Due: none

lint
  packages/web-api/src/types/request/entity.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

beta version
  packages/web-api/package.json
Due: web-api

feat-work-objects: beta version for the web-api pkg (#2367)
  packages/web-api/package.json
Due: web-api

chore(deps): bump axios v1.11.0 to v1.12.0
  examples/express-all-interactions/package.json
  packages/interactive-messages/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: web-api, webhook

docs: update package homepage to docs.slack.dev tools reference
  packages/cli-hooks/README.md
  packages/cli-hooks/package.json
  packages/cli-test/README.md
  packages/logger/package.json
  packages/oauth/README.md
  packages/oauth/package.json
  packages/rtm-api/README.md
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/types/src/block-kit/block-elements.ts
  packages/web-api/README.md
  packages/web-api/package.json
  packages/web-api/src/WebClient.ts
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/files.ts
  packages/webhook/package.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

docs: update package homepage to docs.slack.dev tools reference (#2369)
  packages/cli-hooks/README.md
  packages/cli-hooks/package.json
  packages/cli-test/README.md
  packages/logger/package.json
  packages/oauth/README.md
  packages/oauth/package.json
  packages/rtm-api/README.md
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/types/src/block-kit/block-elements.ts
  packages/web-api/README.md
  packages/web-api/package.json
  packages/web-api/src/WebClient.ts
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/files.ts
  packages/webhook/package.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

feat(types): add feedback_buttons and icon_button blocks as context_actions block elements
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
Due: none

fix: lint
  packages/types/src/block-kit/block-elements.ts
Due: none

fix: make optional attributes optional in types
  packages/types/src/block-kit/block-elements.ts
Due: none

docs: add example and matching description to jsdoc
  packages/types/src/block-kit/block-elements.ts
Due: none

feat(types): add streaming_state to bot_message event
  packages/types/src/events/message.ts
Due: none

fix(web-api): align optional arguments to chat stream methods
  packages/web-api/src/types/request/chat.ts
Due: web-api

docs: align with api documentation in jsdoc
  packages/web-api/src/methods.ts
Due: web-api

test: avoid expected error without markdown_text append
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

feat(web-api): add loading_messages to assistant.threads.setStatus method
  packages/web-api/src/types/request/assistant.ts
  packages/web-api/test/types/methods/assistant.test-d.ts
Due: web-api

feat(types): add streaming_state to bot_message event (#2371)
  packages/types/src/events/message.ts
Due: none

fix: require markdown_text in chat.appendStream method
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

feat(web-api): add loading_messages to assistant.threads.setStatus method (#2373)
  packages/web-api/src/types/request/assistant.ts
  packages/web-api/test/types/methods/assistant.test-d.ts
Due: web-api

feat(types): add feedback_buttons and icon_button blocks as context_actions block elements (#2370)
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
Due: none

feat(web-api): add optional metadata argument to chat.stopStream method (#2372)
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
