Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

Publish `@slack/cli-test@0.2.1+cli.2.26.0`
  packages/cli-test/package.json
Due: none

Publish `@slack/cli-test@0.2.1+cli.2.26.0` (#1829)
  packages/cli-test/package.json
Due: none

style: format indentation of workflow yml
  .github/workflows/ci-build.yml
Due: none

ci: include node version 22 in the testing matrix
  .github/workflows/ci-build.yml
Due: none

test: check coverage for the latest version of node
  .github/workflows/ci-build.yml
Due: none

chore: bump version of actions using deprecated node versions
  .github/workflows/ci-build.yml
Due: none

ci: include node version 22 in the testing matrix (#1830)
  .github/workflows/ci-build.yml
Due: none

socket-mode(fix): redact ephemeral tokens and secrets from debug logs
  packages/socket-mode/package.json
  packages/socket-mode/src/SocketModeClient.spec.js
  packages/socket-mode/src/SocketModeClient.ts
Due: socket-mode

socket-mode(fix): redact ephemeral tokens and secrets from debug logs
  packages/socket-mode/package.json
  packages/socket-mode/src/SocketModeClient.spec.ts
  packages/socket-mode/src/SocketModeClient.ts
Due: socket-mode

chore(release): revert bump to @slack/socket-mode@2.0.1
  packages/socket-mode/package.json
Due: socket-mode

style: rename the object records to be the singular record
  packages/socket-mode/src/SocketModeClient.ts
Due: socket-mode

chore(release): revert bump to @slack/socket-mode@1.3.6
  packages/socket-mode/package.json
Due: socket-mode

cli-test: small TODO
  packages/cli-test/src/cli/index.ts
Due: none

web-api: update `files.info`, `files.list` `files.remote.list` and `team.externalTeams.list` response types.
  packages/web-api/src/types/response/FilesInfoResponse.ts
  packages/web-api/src/types/response/FilesListResponse.ts
  packages/web-api/src/types/response/FilesRemoteListResponse.ts
  packages/web-api/src/types/response/TeamExternalTeamsListResponse.ts
Due: web-api

web-api: update `files.info`, `files.list` `files.remote.list` and `team.externalTeams.list` response types (#1833)
  packages/web-api/src/types/response/FilesInfoResponse.ts
  packages/web-api/src/types/response/FilesListResponse.ts
  packages/web-api/src/types/response/FilesRemoteListResponse.ts
  packages/web-api/src/types/response/TeamExternalTeamsListResponse.ts
Due: web-api

web-api: add new `conversations.externalInvitePermissions.set` API
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/ConversationsExternalInvitePermissionsSetResponse.ts
  packages/web-api/src/types/response/index.ts
Due: web-api

type tests
  packages/web-api/src/methods.ts
  packages/web-api/test/types/methods/conversations.test-d.ts
Due: web-api

fix: improve nested record typings and remove a casting
  packages/socket-mode/src/SocketModeClient.ts
Due: socket-mode

cli-hooks(fix): remove environment variable requirements from the start hook
  packages/cli-hooks/src/start.js
  packages/cli-hooks/src/start.spec.js
Due: cli-hooks

cli-hooks(fix): remove environment variable requirements from the start hook (#1835)
  packages/cli-hooks/src/start.js
  packages/cli-hooks/src/start.spec.js
Due: cli-hooks

web-api: add new `conversations.externalInvitePermissions.set` API (#1834)
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/ConversationsExternalInvitePermissionsSetResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/conversations.test-d.ts
Due: web-api

feat (web-api): add support for `teams.externalTeams.disconnect` API.
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/common.ts
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/src/types/request/team.ts
  packages/web-api/src/types/response/TeamExternalTeamsDisconnectResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/team.test-d.ts
Due: web-api

feat (web-api): add support for `teams.externalTeams.disconnect` API (#1837)
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/common.ts
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/src/types/request/team.ts
  packages/web-api/src/types/response/TeamExternalTeamsDisconnectResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/team.test-d.ts
Due: web-api

Try updating root devdeps to latest to match sub-packages?
  package.json
Due: none

Publish `@slack/web-api@7.3.0`
  packages/web-api/package.json
Due: web-api

Publish `@slack/web-api@7.3.0` (#1839)
  packages/web-api/package.json
Due: web-api

run TS integration test as part of regular test runs
  packages/web-api/package.json
Due: web-api

web-api(fix): revert use of `export type *` to maintain backwards compatibility with TS 4.7 (#1841)
  packages/web-api/.gitignore
  packages/web-api/package.json
  packages/web-api/src/types/request/index.ts
  packages/web-api/test/integration/ts-4.7-project/index.ts
  packages/web-api/test/integration/ts-4.7-project/package.json
  packages/web-api/test/integration/ts-4.7-project/tsconfig.json
Due: web-api

Publish `@slack/web-api@7.3.1`
  packages/web-api/package.json
Due: web-api

Publish `@slack/web-api@7.3.1` (#1842)
  packages/web-api/package.json
Due: web-api

web-api(feat): add support for `conversations.requestShared` `approve` and `deny` APIs
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/ConversationsRequestSharedInviteApproveResponse.ts
  packages/web-api/src/types/response/ConversationsRequestSharedInviteDenyResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/conversations.test-d.ts
Due: web-api

tweaks to requestsharedinvite.approve message overriding arguments.
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/test/types/methods/conversations.test-d.ts
Due: web-api

Publish `@slack/web-api@7.3.1-inviteautomation.1`
  packages/web-api/package.json
Due: web-api

fix: improve type of upload file v2
  packages/web-api/src/types/request/files.ts
  packages/web-api/test/types/methods/files.test-d.ts
Due: web-api

Update package.json
  package.json
Due: none

revert this change
  package.json
Due: none

Update for Windows
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/shell.ts
Due: none

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
