Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

Update URL in packages/web-api/src/types/request/entity.ts
  packages/web-api/src/types/request/entity.ts
Due: web-api

alphabetical order
  packages/types/src/message-metadata.ts
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/manifest.ts
Due: web-api

update comments to jsdoc format
  packages/web-api/src/types/request/entity.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

update schema
  packages/types/src/events/message-metadata.ts
  packages/types/src/message-metadata.ts
  packages/web-api/src/types/request/chat.ts
Due: web-api

bump types
  packages/types/package.json
Due: none

feat-work-objects: beta version for the types pkg (#2408)
  packages/types/package.json
Due: none

whoops
  packages/web-api/src/types/request/chat.ts
Due: web-api

bump
  packages/web-api/package.json
Due: web-api

feat-work-objects: version bump for the web-api pkg (#2409)
  packages/web-api/package.json
Due: web-api

Add TypeScript types entry to package.json
  packages/oauth/package.json
Due: oauth

update comment
  packages/web-api/src/methods.ts
Due: web-api

mv EntityAndEventMessageMetadata
  packages/types/src/message-metadata.ts
  packages/web-api/src/types/request/chat.ts
Due: web-api

rename types for unfurls and metadata param of chat.unfurl
  packages/web-api/src/types/request/chat.ts
Due: web-api

biome fix
  packages/web-api/src/types/request/chat.ts
Due: web-api

make cli-test dependency versions exact
  packages/cli-test/package.json
Due: none

Revert "make cli-test dependency versions exact"
  packages/cli-test/package.json
Due: none

fix [cli-test]: update buffer type in tests
  packages/cli-test/src/cli/shell.spec.ts
  packages/cli-test/src/cli/shell.ts
Due: none

fix[cli-test]: update buffer type in tests (#2411)
  packages/cli-test/src/cli/shell.spec.ts
  packages/cli-test/src/cli/shell.ts
Due: none

separate types changes from web-api changes
  packages/types/package.json
  packages/types/src/events/entity-details-requested.ts
  packages/types/src/events/index.ts
  packages/types/src/message-metadata.ts
Due: none

bump
  packages/types/package.json
Due: none

feat-work-objects-types: version bump (#2413)
  packages/types/package.json
Due: none

change pkg version back
  packages/types/package.json
Due: none

feat(types): add underline to rich text section block element
  packages/types/src/block-kit/extensions.ts
Due: none

upgraded axios
  packages/web-api/package.json
Due: web-api

rm types pkg updates
  packages/types/package.json
  packages/types/src/events/entity-details-requested.ts
  packages/types/src/events/index.ts
  packages/types/src/message-metadata.ts
  packages/web-api/package.json
Due: web-api

feat-work-objects: version bump for the web-api pkg (#2416)
  packages/web-api/package.json
Due: web-api

feat: add support to @slack/types for work objects (#2412)
  packages/types/src/events/entity-details-requested.ts
  packages/types/src/events/index.ts
  packages/types/src/message-metadata.ts
Due: none

chore(types): release @slack/types@2.18.0
  docs/english/reference/types/enumerations/CustomFieldType.md
  docs/english/reference/types/enumerations/EntityType.md
  docs/english/reference/types/index.md
  docs/english/reference/types/interfaces/ContentItemEntityFields.md
  docs/english/reference/types/interfaces/EntityActionButton.md
  docs/english/reference/types/interfaces/EntityArrayItemField.md
  docs/english/reference/types/interfaces/EntityAttributes.md
  docs/english/reference/types/interfaces/EntityCustomField.md
  docs/english/reference/types/interfaces/EntityEditSupport.md
  docs/english/reference/types/interfaces/EntityFullSizePreview.md
  docs/english/reference/types/interfaces/EntityIconField.md
  docs/english/reference/types/interfaces/EntityImageField.md
  docs/english/reference/types/interfaces/EntityMetadata.md
  docs/english/reference/types/interfaces/EntityRefField.md
  docs/english/reference/types/interfaces/EntityStringField.md
  docs/english/reference/types/interfaces/EntityTimestampField.md
  docs/english/reference/types/interfaces/EntityTypedField.md
  docs/english/reference/types/interfaces/EntityUserField.md
  docs/english/reference/types/interfaces/EntityUserIDField.md
  docs/english/reference/types/interfaces/ExternalRef.md
  docs/english/reference/types/interfaces/FileEntityFields.md
  docs/english/reference/types/interfaces/FileEntitySlackFile.md
  docs/english/reference/types/interfaces/IncidentEntityFields.md
  docs/english/reference/types/interfaces/MessageMetadata.md
  docs/english/reference/types/interfaces/MessageMetadataEventPayloadObject.md
  docs/english/reference/types/interfaces/TaskEntityFields.md
  docs/english/reference/types/type-aliases/SlackEvent.md
  packages/types/package.json
Due: none

chore(types): release @slack/types@2.18.0 (#2417)
  docs/english/reference/types/enumerations/CustomFieldType.md
  docs/english/reference/types/enumerations/EntityType.md
  docs/english/reference/types/index.md
  docs/english/reference/types/interfaces/ContentItemEntityFields.md
  docs/english/reference/types/interfaces/EntityActionButton.md
  docs/english/reference/types/interfaces/EntityArrayItemField.md
  docs/english/reference/types/interfaces/EntityAttributes.md
  docs/english/reference/types/interfaces/EntityCustomField.md
  docs/english/reference/types/interfaces/EntityEditSupport.md
  docs/english/reference/types/interfaces/EntityFullSizePreview.md
  docs/english/reference/types/interfaces/EntityIconField.md
  docs/english/reference/types/interfaces/EntityImageField.md
  docs/english/reference/types/interfaces/EntityMetadata.md
  docs/english/reference/types/interfaces/EntityRefField.md
  docs/english/reference/types/interfaces/EntityStringField.md
  docs/english/reference/types/interfaces/EntityTimestampField.md
  docs/english/reference/types/interfaces/EntityTypedField.md
  docs/english/reference/types/interfaces/EntityUserField.md
  docs/english/reference/types/interfaces/EntityUserIDField.md
  docs/english/reference/types/interfaces/ExternalRef.md
  docs/english/reference/types/interfaces/FileEntityFields.md
  docs/english/reference/types/interfaces/FileEntitySlackFile.md
  docs/english/reference/types/interfaces/IncidentEntityFields.md
  docs/english/reference/types/interfaces/MessageMetadata.md
  docs/english/reference/types/interfaces/MessageMetadataEventPayloadObject.md
  docs/english/reference/types/interfaces/TaskEntityFields.md
  docs/english/reference/types/type-aliases/SlackEvent.md
  packages/types/package.json
Due: none

update types dependency and reset web-api package version
  packages/web-api/package.json
Due: web-api

Update SearchMessagesArguments to support cursor pagination
  packages/web-api/src/types/request/search.ts
Due: web-api

lint
  packages/web-api/src/types/request/search.ts
Due: web-api

update test
  packages/web-api/test/types/methods/search.test-d.ts
Due: web-api

web-api(fix):Update SearchMessagesArguments to support cursor pagination (#2361)
  packages/web-api/src/types/request/search.ts
  packages/web-api/test/types/methods/search.test-d.ts
Due: web-api

Update packages/web-api/package.json
  packages/web-api/package.json
Due: web-api

docs(web-api): note the chat stream buffer size default
  packages/web-api/src/WebClient.ts
Due: web-api

feat: add support to @slack/web-api for work objects (#2231)
  packages/web-api/package.json
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/chat.ts
  packages/web-api/src/types/request/entity.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/request/manifest.ts
  packages/web-api/src/types/response/EntityPresentDetailsResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
