Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

codecov.yml:

comment:
  layout: "condensed_header, diff, flags"
  
flags:
  cli-hooks:
    paths:
      - packages/cli-hooks/**
    carryforward: true
  logger:
    paths:
      - packages/logger/**
    carryforward: true
  oauth:
    paths:
      - packages/oauth/**
    carryforward: true
  socket-mode:
    paths:
      - packages/socket-mode/**
    carryforward: true
  web-api:
    paths:
      - packages/web-api/**
    carryforward: true
  webhook:
    paths:
      - packages/webhook/**
    carryforward: true

removing external links for unified nav
  docs/english/_sidebar.json
  docs/english/index.md
Due: none

rearranging
  docs/english/index.md
Due: none

docs: removing external links for unified nav (#2625)
  docs/english/_sidebar.json
  docs/english/index.md
Due: none

added export for 'addAppMetadata'
  packages/webhook/package.json
  packages/webhook/src/index.ts
  packages/webhook/src/instrument.test.ts
Due: webhook

fix: update SlackListsItemFieldMessage to support single and array message shapes
  packages/web-api/src/types/request/slackLists.ts
Due: web-api

chore: add changeset
  .changeset/great-seas-swim.md
Due: none

refactor(oauth,socket-mode)!: unify error handling under base classes
  .changeset/oauth-error-classes.md
  .changeset/socket-mode-error-classes.md
  packages/oauth/src/errors.test.ts
  packages/oauth/src/errors.ts
  packages/oauth/src/install-provider.ts
  packages/socket-mode/src/errors.test.ts
  packages/socket-mode/src/errors.ts
  packages/socket-mode/src/index.ts
Due: oauth, socket-mode

Change @slack/web-api version from major to patch
  .changeset/great-seas-swim.md
Due: none

fix: update SlackListsItemFieldMessage to support single and array message shapes (#2627)
  .changeset/great-seas-swim.md
  packages/web-api/src/types/request/slackLists.ts
Due: web-api

add changeset for webhook addAppMetadata export
  .changeset/export-add-app-metadata.md
Due: none

linter
  packages/webhook/src/index.ts
  packages/webhook/src/instrument.test.ts
Due: webhook

tests
  packages/webhook/package.json
Due: webhook

fix(webhook) #2614: added export for 'addAppMetadata' (#2626)
  .changeset/export-add-app-metadata.md
  packages/webhook/package.json
  packages/webhook/src/index.ts
  packages/webhook/src/instrument.test.ts
Due: webhook

chore: open changeset release PRs as draft
  .github/workflows/release.yml
Due: none

docs: restore canonical security policy
  .github/SECURITY.md
  SECURITY.md
Due: none

chore: open changeset release pull requests as draft (#2629)
  .github/workflows/release.yml
Due: none

docs: restore canonical security policy over bot-added SECURITY.md (#2630)
  .github/SECURITY.md
  SECURITY.md
Due: none

fix: format release notification output
  .github/workflows/release.yml
Due: none

ci: add Node 26 to the test matrix
  .github/workflows/ci-build.yml
Due: none

chore: block Dependabot updates to Node 26 @types/node
  .github/dependabot.yml
Due: none

fix: inline release notification output links for multiple packages (#2631)
  .github/workflows/release.yml
Due: none

chore: block @dependabot updates to @types/node@26 (#2634)
  .github/dependabot.yml
Due: none

ci: add node 26 to the test matrix (#2635)
  .github/workflows/ci-build.yml
Due: none

feat(types): add data_visualization Block Kit block
  .changeset/data-visualization-block.md
  packages/types/src/block-kit/blocks.ts
  packages/types/test/blocks.test-d.ts
Due: none

feat(types): add data_table Block Kit block
  .changeset/data-table-block.md
  packages/types/src/block-kit/blocks.ts
  packages/types/src/block-kit/composition-objects.ts
  packages/types/test/blocks.test-d.ts
Due: none

feat: make thread_ts optional for assistant.threads.setSuggestedPrompts
  packages/web-api/src/types/request/assistant.ts
  packages/web-api/test/types/methods/assistant.test-d.ts
Due: web-api

docs: keep thread_ts description consistent with sibling fields
  packages/web-api/src/types/request/assistant.ts
Due: web-api

test: add changeset and a thread_ts-inclusive typecheck for setSuggestedPrompts
  .changeset/quick-trees-cheer.md
  packages/web-api/test/types/methods/assistant.test-d.ts
Due: web-api

test: use realistic prompt examples in setSuggestedPrompts type tests
  packages/web-api/test/types/methods/assistant.test-d.ts
Due: web-api

test: drop redundant thread_ts comments from setSuggestedPrompts type tests
  packages/web-api/test/types/methods/assistant.test-d.ts
Due: web-api

feat: make thread_ts optional for assistant.threads.setSuggestedPrompts (#2639)
  .changeset/quick-trees-cheer.md
  packages/web-api/src/types/request/assistant.ts
  packages/web-api/test/types/methods/assistant.test-d.ts
Due: web-api

feat: add app_context_changed event type and make thread_ts optional on setSuggestedPrompts
  packages/types/src/events/app.ts
  packages/types/src/events/index.ts
  packages/types/src/events/message.ts
Due: none

test: add changeset for app_context_changed event type
  .changeset/late-clouds-grow.md
Due: none

fix(types): correct app_context_changed shape against real payloads
  packages/types/src/events/app.ts
Due: none

fix(types): make message_context channel_id required
  packages/types/src/events/app.ts
Due: none

test(types): add type coverage for app_context_changed
  packages/types/test/events/app.test-d.ts
Due: none

test(types): use placeholder IDs in app_context_changed coverage
  packages/types/test/events/app.test-d.ts
Due: none

test(types): move app_context message coverage into message tests
  packages/types/test/events/app.test-d.ts
  packages/types/test/events/message.test-d.ts
Due: none

revert: Slack Lists message field back to string[] for request input
  .changeset/great-seas-swim.md
  packages/web-api/src/types/request/slackLists.ts
Due: web-api

revert(web-api): keep string[] for slack lists message field request input (#2640)
  .changeset/great-seas-swim.md
  packages/web-api/src/types/request/slackLists.ts
Due: web-api
