Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

codecov.yml:

comment:
  layout: "condensed_header, diff, flags"
  
flags:
  cli-hooks:
    paths:
      - packages/cli-hooks/**
    carryforward: true
  logger:
    paths:
      - packages/logger/**
    carryforward: true
  oauth:
    paths:
      - packages/oauth/**
    carryforward: true
  socket-mode:
    paths:
      - packages/socket-mode/**
    carryforward: true
  web-api:
    paths:
      - packages/web-api/**
    carryforward: true
  webhook:
    paths:
      - packages/webhook/**
    carryforward: true

revert: prefer including the default argument if tests continue to pass with it
  packages/web-api/src/file-upload.ts
Due: web-api

Fix disallowed undefined header in test
  packages/web-api/src/WebClient.spec.ts
Due: web-api

Use typing to our advantage
  packages/web-api/src/WebClient.spec.ts
Due: web-api

Will this make the tests more stable?
  packages/web-api/src/WebClient.spec.ts
Due: web-api

make things more stable
  packages/web-api/src/WebClient.spec.ts
Due: web-api

clean up changes
  packages/web-api/src/WebClient.spec.ts
Due: web-api

docs: adds guides
  docs/content/migration/migrating-socket-mode-package-to-v2.md
  docs/content/migration/migrating-to-v4.md
  docs/content/migration/migrating-to-v5.md
  docs/content/migration/migrating-to-v6.md
  docs/content/migration/migrating-web-api-package-to-v7.md
  docs/content/support-schedule.md
  docs/content/typescript.md
  docs/sidebars.js
  docs/static/img/support-schedule.png
Due: none

Apply suggestions from code review
  docs/content/migration/migrating-to-v4.md
  docs/content/migration/migrating-to-v5.md
Due: none

Apply suggestions from code review
  docs/content/migration/migrating-web-api-package-to-v7.md
Due: none

docs: tweaks
  docs/content/migration/migrating-to-v4.md
  docs/content/migration/migrating-to-v6.md
Due: none

docs: small tweaks:
  docs/content/migration/migrating-to-v5.md
  docs/content/migration/migrating-to-v6.md
  docs/content/packages/web-api.md
Due: none

docs: moves guides from wiki to docs website (#2238)
  docs/content/migration/migrating-socket-mode-package-to-v2.md
  docs/content/migration/migrating-to-v4.md
  docs/content/migration/migrating-to-v5.md
  docs/content/migration/migrating-to-v6.md
  docs/content/migration/migrating-web-api-package-to-v7.md
  docs/content/packages/web-api.md
  docs/content/support-schedule.md
  docs/content/typescript.md
  docs/sidebars.js
  docs/static/img/support-schedule.png
Due: none

fix: add trailing slash to slackApiUrl if none is provided
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Due: web-api

Add better test coverage and fix
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Due: web-api

fix: add trailing slash to slackApiUrl if none is provided (#2243)
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Due: web-api

ci: pin actions workflow step hashes and use minimum permissions
  .github/workflows/ci-build.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/triage-issues.yml
Due: none

chore(web-api): release @slack/web-api@7.9.2
  packages/web-api/package.json
Due: web-api

chore(web-api): release @slack/web-api@7.9.2 (#2247)
  packages/web-api/package.json
Due: web-api

ci: pin actions workflow step hashes and use minimum permissions (#2246)
  .github/workflows/ci-build.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/triage-issues.yml
Due: none

fix: Add new property to API args
  packages/web-api/src/types/request/canvas.ts
  packages/web-api/test/types/methods/canvas.test-d.ts
Due: web-api

Update packages/oauth/src/state-stores/spec-utils.ts
  packages/oauth/src/state-stores/spec-utils.ts
Due: oauth

Add comma
  packages/web-api/test/types/methods/canvas.test-d.ts
Due: web-api

fix: Add "title" property to conversations.canvases.create API method arguments (#2259)
  packages/web-api/src/types/request/canvas.ts
  packages/web-api/test/types/methods/canvas.test-d.ts
Due: web-api

feat(web-api): include a blocks argument for file uploads
  docs/content/packages/web-api.md
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/file-upload.ts
  packages/web-api/src/types/request/files.ts
Due: web-api

test: confirm content can be uploaded with blocks to a channel
  packages/web-api/src/WebClient.spec.ts
Due: web-api

feat(web-api): include a blocks argument for file uploads (#2261)
  docs/content/packages/web-api.md
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/file-upload.ts
  packages/web-api/src/types/request/files.ts
Due: web-api

feat(web-api): release @slack/web-api@7.9.3
  packages/web-api/package.json
Due: web-api

chore(web-api): release @slack/web-api@7.9.3 (#2272)
  packages/web-api/package.json
Due: web-api

fix: migrate to biome 2.x
  biome.json
  packages/socket-mode/biome.json
  packages/socket-mode/examples/manually-connecting.js
  packages/socket-mode/examples/proxy.js
  packages/socket-mode/examples/simple.js
  packages/socket-mode/package.json
  packages/socket-mode/src/SlackWebSocket.spec.ts
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.spec.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/SocketModeOptions.ts
  packages/socket-mode/src/index.ts
  packages/socket-mode/src/logger.ts
Due: socket-mode

fix: migrate to biome 2.x for packages/cli-hooks
  packages/cli-hooks/biome.json
  packages/cli-hooks/package.json
  packages/cli-hooks/src/check-update.spec.js
  packages/cli-hooks/src/protocols.spec.js
Due: cli-hooks

fix: migrate to biome 2.x for packages/cli-test
  packages/cli-test/biome.json
  packages/cli-test/package.json
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/commands/app.ts
  packages/cli-test/src/cli/commands/auth.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/shell.spec.ts
  packages/cli-test/src/cli/shell.ts
  packages/cli-test/src/index.ts
  packages/cli-test/src/utils/logger.ts
Due: none

fix: migrate to biome 2.x for packages/logger
  packages/logger/biome.json
  packages/logger/package.json
Due: logger

fix: migrate to biome 2.x for packages/oauth
  packages/oauth/biome.json
  packages/oauth/package.json
  packages/oauth/src/index.ts
  packages/oauth/src/install-provider-options.ts
  packages/oauth/src/install-provider.spec.ts
  packages/oauth/src/install-provider.ts
  packages/oauth/src/installation-stores/file-store.spec.js
  packages/oauth/src/installation-stores/file-store.ts
  packages/oauth/src/installation-stores/index.ts
  packages/oauth/src/installation-stores/memory-store.spec.js
  packages/oauth/src/logger.ts
  packages/oauth/src/state-stores/index.ts
  packages/oauth/src/state-stores/spec-utils.ts
Due: oauth

fix: migrate to biome 2.x for packages/rtm-api
  packages/rtm-api/biome.json
  packages/rtm-api/package.json
  packages/rtm-api/src/KeepAlive.ts
  packages/rtm-api/src/RTMClient.ts
  packages/rtm-api/src/index.ts
  packages/rtm-api/src/logger.ts
  packages/rtm-api/test/integration.spec.js
Due: none

fix: migrate to biome 2.x for packages/types
  packages/types/biome.json
  packages/types/package.json
  packages/types/src/block-kit/blocks.ts
  packages/types/src/events/index.ts
  packages/types/src/index.ts
Due: none

Fix name of team_domain_change event in types
  packages/types/src/events/team.ts
Due: none

Rename interface as well
  packages/types/src/events/index.ts
  packages/types/src/events/team.ts
Due: none

fix: migrate to biome 2.x for packages/web-api
  packages/web-api/biome.json
  packages/web-api/package.json
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/src/file-upload.ts
  packages/web-api/src/index.ts
  packages/web-api/src/logger.ts
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/chat.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/integration/esm-project/index.mjs
  packages/web-api/test/integration/ts-4.7-project/index.ts
Due: web-api
