Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

chore: changeset
  .changeset/fiery-sheep-wear.md
Due: none

fix: user-agent must be uri safe
  packages/web-api/src/instrument.test.ts
  packages/web-api/src/instrument.ts
Due: web-api

Improve based on testing
  packages/web-api/src/instrument.test.ts
  packages/web-api/src/instrument.ts
Due: web-api

fix linting issues
  packages/web-api/src/instrument.test.ts
  packages/web-api/src/instrument.ts
Due: web-api

Create safe-user-agent.md
  .changeset/safe-user-agent.md
Due: none

fix: user-agent should be uri safe (#2546)
  .changeset/safe-user-agent.md
  packages/web-api/src/instrument.test.ts
  packages/web-api/src/instrument.ts
Due: web-api

fix: normalize line endings to LF and apply Biome lint fixes
  packages/cli-hooks/src/check-update.js
Due: cli-hooks

build: use version control lockfile of package dependencies for development
  .gitignore
  package-lock.json
Due: none

ci: use pinned dependencies during installations
  .github/workflows/ci-build.yml
  .github/workflows/release.yml
Due: none

build(deps): bump minimum axios version to 1.15.0
  .changeset/hip-socks-fetch.md
  packages/web-api/package.json
  packages/webhook/package.json
Due: web-api, webhook

build(deps): bump minimum axios version to 1.15.0 (#2552)
  .changeset/hip-socks-fetch.md
  packages/web-api/package.json
  packages/webhook/package.json
Due: web-api, webhook

docs: reference
  docs/english/reference/web-api/functions/addAppMetadata.md
  docs/english/reference/web-api/index.md
  docs/english/reference/webhook/index.md
Due: none

chore: changeset
  .changeset/eleven-apples-retire.md
Due: none

refactor(cli-hooks): use optional chaining check to gather project dependencies (#2548)
  .changeset/eleven-apples-retire.md
  packages/cli-hooks/src/check-update.js
Due: cli-hooks

chore: lockfile
  package-lock.json
Due: none

build: use version control lockfile of package dependencies for development (#2551)
  .github/workflows/ci-build.yml
  .github/workflows/release.yml
  .gitignore
  package-lock.json
Due: none

refactor(cli-test)!: rename env add/remove to env set/unset (#2545)
  .changeset/fiery-sheep-wear.md
  packages/cli-test/src/cli/commands/env.test.ts
  packages/cli-test/src/cli/commands/env.ts
  packages/cli-test/src/utils/constants.ts
Due: none

refactor(cli-test)!: move 'create' to 'project create'
  .changeset/four-ads-hide.md
  packages/cli-test/src/cli/commands/project.test.ts
  packages/cli-test/src/cli/commands/project.ts
  packages/cli-test/src/cli/index.ts
Due: none

refactor(cli-test)!: move 'create' to 'project create' (#2554)
  .changeset/four-ads-hide.md
  packages/cli-test/src/cli/commands/project.test.ts
  packages/cli-test/src/cli/commands/project.ts
  packages/cli-test/src/cli/index.ts
Due: none

docs: generate
  docs/english/reference/cli-test/index.md
  docs/english/reference/cli-test/variables/SlackCLI.md
  docs/english/reference/cli-test/variables/SlackTracerId.md
  packages/cli-test/README.md
Due: none

docs(maintainers): separate agent directives into different packages
  AGENTS.md
  packages/web-api/AGENTS.md
Due: web-api

revert: undo sparse changes
  packages/web-api/AGENTS.md
Due: web-api

docs(maintainers): organize sections
  AGENTS.md
  packages/web-api/AGENTS.md
Due: web-api

docs(maintainers): separate agent directives into different packages (#2556)
  AGENTS.md
  packages/web-api/AGENTS.md
Due: web-api

docs(maintainers): add agent directives for types packages
  AGENTS.md
  packages/types/AGENTS.md
Due: none

docs(maintainers): add agent directives for types packages (#2557)
  AGENTS.md
  packages/types/AGENTS.md
Due: none

chore: update package lock file alongside release steps
  .github/maintainers_guide.md
  package-lock.json
Due: none

chore: update package lock file alongside release steps (#2558)
  .github/maintainers_guide.md
  package-lock.json
Due: none

ci: update package lockfile and docs with changesets release
  .github/maintainers_guide.md
  .github/workflows/release.yml
  package.json
Due: none

ci: publish releases using the @slackapi github app token
  .github/workflows/release.yml
Due: none

ci: update package lockfile and docs with changesets release (#2559)
  .github/maintainers_guide.md
  .github/workflows/release.yml
  package.json
Due: none

ci: publish releases using the @slackapi github app token (#2560)
  .github/workflows/release.yml
Due: none

ci: skip publish step if no release is needed
  .github/workflows/release.yml
Due: none

ci: skip publish step if no release is needed (#2561)
  .github/workflows/release.yml
Due: none

docs: match reference
  packages/web-api/src/types/request/assistant.ts
  packages/web-api/src/types/request/chat.ts
Due: web-api

agents: adding block kit types instructions
  AGENTS.md
  packages/types/AGENTS.md
Due: none

style: match order
  packages/web-api/src/types/request/assistant.ts
  packages/web-api/src/types/request/chat.ts
Due: web-api

test: include recipient arguments for api expectations
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

chore: changeset
  .changeset/rare-boats-brake.md
Due: none

docs(maintainers): adding block kit types instructions (#2562)
  AGENTS.md
  packages/types/AGENTS.md
Due: none

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
