Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

docs: changeset examples
  .changeset/rare-boats-brake.md
Due: none

fix(socket-mode): terminate closing connections earlier if normal close response fails
  .changeset/full-spiders-enter.md
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/test/integration.test.js
Due: socket-mode

chore: changeset
  .changeset/full-spiders-enter.md
Due: none

ci: simplify test scripts and separate coverage from test runs
  .github/workflows/ci-build.yml
  package-lock.json
  package.json
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/logger/package.json
  packages/oauth/package.json
  packages/socket-mode/package.json
  packages/web-api/AGENTS.md
  packages/web-api/package.json
  packages/webhook/package.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

Create simple-tests-shine.md
  .changeset/simple-tests-shine.md
Due: none

feat(types): add Card, Carousel, and Alert block types
  packages/types/src/block-kit/blocks.ts
  packages/types/test/blocks.test-d.ts
Due: none

why did you want to use glob from the begining
  package-lock.json
  package.json
  packages/cli-test/package.json
  packages/oauth/package.json
Due: oauth

test out a fix
  packages/cli-test/package.json
  packages/oauth/package.json
Due: oauth

clean things up
  packages/cli-test/package.json
  packages/oauth/package.json
Due: oauth

make things work on windows
  packages/socket-mode/package.json
  packages/web-api/package.json
Due: socket-mode, web-api

make it pass
  packages/cli-hooks/package.json
Due: cli-hooks

style: remove blank line from package json file
  package.json
Due: none

test: assert close attempts equal one before force terminate
  packages/socket-mode/test/integration.test.js
Due: socket-mode

docs: changeset description
  .changeset/full-spiders-enter.md
Due: none

ci: build packages before generating docs for changelog
  .github/workflows/release.yml
Due: none

Apply suggestion from @zimeg
  .github/workflows/ci-build.yml
Due: none

Update AGENTS.md
  packages/web-api/AGENTS.md
Due: web-api

ci: send release announcements on publish
  .github/workflows/release.yml
Due: none

chore: drop Node.js 18 support for web-api and webhook
  .changeset/drop-node18-web-api.md
  .changeset/drop-node18-webhook.md
  .github/workflows/ci-build.yml
  packages/web-api/README.md
  packages/web-api/package.json
  packages/webhook/README.md
  packages/webhook/package.json
Due: web-api, webhook

chore: sync package-lock.json after dropping Node.js 18 support
  package-lock.json
Due: none

improve naming
  .github/workflows/ci-build.yml
Due: none

fix: move from axios to fetch
  package-lock.json
  packages/web-api/package.json
  packages/web-api/src/WebClient.test.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/src/chat-stream.ts
  packages/web-api/src/errors.ts
  packages/web-api/src/index.ts
  packages/web-api/src/methods.ts
  packages/web-api/test/types/methods/chat.test-d.ts
  packages/webhook/package.json
  packages/webhook/src/IncomingWebhook.test.ts
  packages/webhook/src/IncomingWebhook.ts
  packages/webhook/src/errors.ts
  packages/webhook/src/index.ts
Due: web-api, webhook

drop support for node 18 everywhere
  .changeset/drop-node18-cli-hooks.md
  .changeset/drop-node18-cli-test.md
  .changeset/drop-node18-logger.md
  .changeset/drop-node18-oauth.md
  .changeset/drop-node18-rtm-api.md
  .changeset/drop-node18-socket-mode.md
  .changeset/drop-node18-types.md
  .github/workflows/ci-build.yml
  package-lock.json
  packages/cli-hooks/README.md
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/logger/README.md
  packages/logger/package.json
  packages/oauth/README.md
  packages/oauth/package.json
  packages/rtm-api/README.md
  packages/rtm-api/package.json
  packages/socket-mode/README.md
  packages/socket-mode/package.json
  packages/types/README.md
  packages/types/package.json
Due: cli-hooks, logger, oauth, socket-mode

chore: changeset
  .changeset/deep-hands-peel.md
Due: none

don't touch the rtm package
  .changeset/drop-node18-rtm-api.md
  packages/rtm-api/README.md
  packages/rtm-api/package.json
Due: none

refactor(types): order Alert, Card, Carousel blocks alphabetically and add changeset
  .changeset/new-block-kit-elements.md
  packages/types/src/block-kit/blocks.ts
Due: none

Update packages/cli-hooks/package.json
  packages/cli-hooks/package.json
Due: cli-hooks

Also bump the npm version
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/logger/package.json
  packages/oauth/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

chore: drop Node.js 18 support for relevant packages (#2572)
  .changeset/drop-node18-cli-hooks.md
  .changeset/drop-node18-cli-test.md
  .changeset/drop-node18-logger.md
  .changeset/drop-node18-oauth.md
  .changeset/drop-node18-socket-mode.md
  .changeset/drop-node18-types.md
  .changeset/drop-node18-web-api.md
  .changeset/drop-node18-webhook.md
  .github/workflows/ci-build.yml
  package-lock.json
  packages/cli-hooks/README.md
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/logger/README.md
  packages/logger/package.json
  packages/oauth/README.md
  packages/oauth/package.json
  packages/socket-mode/README.md
  packages/socket-mode/package.json
  packages/types/README.md
  packages/types/package.json
  packages/web-api/README.md
  packages/web-api/package.json
  packages/webhook/README.md
  packages/webhook/package.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

make rtm use older version of packages
  package-lock.json
  packages/logger/package.json
  packages/rtm-api/package.json
  packages/web-api/package.json
Due: logger, web-api

use undici in socket-mode
  package-lock.json
  packages/socket-mode/examples/proxy.js
  packages/socket-mode/package.json
  packages/socket-mode/src/SlackWebSocket.test.ts
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/SocketModeOptions.ts
Due: socket-mode

docs: reference links for blocks
  packages/types/CHANGELOG.md
Due: none

improve behavior based on review
  packages/web-api/src/WebClient.test.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/src/errors.ts
  packages/webhook/src/IncomingWebhook.test.ts
  packages/webhook/src/IncomingWebhook.ts
Due: web-api, webhook

docs(types): align Alert, Card, Carousel block descriptions with official docs
  .changeset/fix-block-descriptions.md
  packages/types/src/block-kit/blocks.ts
Due: none

imporve based on review
  .github/workflows/ci-build.yml
  packages/socket-mode/src/SlackWebSocket.test.ts
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.ts
Due: socket-mode

improve based on prototyping
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.ts
Due: socket-mode

improve based on review and prototyping
  package-lock.json
  packages/socket-mode/package.json
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.test.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/SocketModeOptions.ts
Due: socket-mode

Update SlackWebSocket.ts
  packages/socket-mode/src/SlackWebSocket.ts
Due: socket-mode

simplify changes
  packages/socket-mode/src/SocketModeClient.test.ts
  packages/web-api/src/WebClient.test.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/src/chat-stream.ts
  packages/web-api/src/index.ts
  packages/web-api/src/methods.ts
  packages/webhook/src/IncomingWebhook.test.ts
  packages/webhook/src/IncomingWebhook.ts
  packages/webhook/src/index.ts
Due: socket-mode, web-api, webhook

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
