Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

feat(types): add context to app_home_opened and drop score from app_context
  packages/types/src/events/app.ts
  packages/types/test/events/app.test-d.ts
  packages/types/test/events/message.test-d.ts
Due: none

chore: optimistic changeset link
  .changeset/late-clouds-grow.md
Due: none

test(types): reorder app_home_opened context coverage
  packages/types/test/events/app.test-d.ts
Due: none

feat(webhook): add retry policies mirroring @slack/web-api
  package-lock.json
  packages/webhook/package.json
  packages/webhook/src/index.ts
  packages/webhook/src/retry-policies.test.ts
  packages/webhook/src/retry-policies.ts
Due: webhook

feat(webhook): add opt-in retries to WebhookTrigger
  packages/webhook/src/WebhookTrigger.test.ts
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

feat(webhook): add opt-in retries to IncomingWebhook
  packages/webhook/src/IncomingWebhook.test.ts
  packages/webhook/src/IncomingWebhook.ts
Due: webhook

refactor(webhook): order retryConfig before timeout in default args
  packages/webhook/src/IncomingWebhook.ts
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

feat(webhook): make WebhookTrigger.send payload optional
  packages/webhook/src/WebhookTrigger.test.ts
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

feat: add app_context_changed event type (#2633)
  .changeset/late-clouds-grow.md
  packages/types/src/events/app.ts
  packages/types/src/events/index.ts
  packages/types/src/events/message.ts
  packages/types/test/events/app.test-d.ts
  packages/types/test/events/message.test-d.ts
Due: none

feat(webhook): default WebhookTrigger.send payload to empty object
  packages/webhook/src/WebhookTrigger.test.ts
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

docs(webhook): revert send @param comment to original wording
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

fix(webhook): reject empty URL in WebhookTrigger constructor
  packages/webhook/src/WebhookTrigger.test.ts
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

feat(web-api): expand app manifest types for agent apps
  .changeset/manifest-agent-view.md
  packages/web-api/src/types/request/manifest.ts
  packages/web-api/test/types/methods/apps.test-d.ts
Due: web-api

fix(web-api): make agent_view and assistant_view mutually exclusive
  packages/web-api/src/types/request/manifest.ts
  packages/web-api/test/types/methods/apps.test-d.ts
Due: web-api

refactor(web-api): keep agent_view and assistant_view as plain optional fields
  packages/web-api/src/types/request/manifest.ts
  packages/web-api/test/types/methods/apps.test-d.ts
Due: web-api

test(web-api): consolidate scope and event manifest coverage
  packages/web-api/test/types/methods/apps.test-d.ts
Due: web-api

docs(webhook): drop retry-classification comment from send()
  packages/webhook/src/IncomingWebhook.ts
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

feat: expand app manifest types for agent apps (#2648)
  .changeset/manifest-agent-view.md
  packages/web-api/src/types/request/manifest.ts
  packages/web-api/test/types/methods/apps.test-d.ts
Due: web-api

test(webhook): cover 401 application failure, drop extra-field success test
  packages/webhook/src/WebhookTrigger.test.ts
Due: webhook

feat(webhook): add WebhookTrigger-specific error types
  packages/webhook/src/WebhookTrigger.test.ts
  packages/webhook/src/errors.ts
  packages/webhook/src/index.ts
Due: webhook

refactor(webhook): colocate each WebhookTrigger error alias with its source
  packages/webhook/src/errors.ts
Due: webhook

test(webhook): group WebhookTrigger send() tests by success and failure
  packages/webhook/src/WebhookTrigger.test.ts
Due: webhook

test(webhook): assert send() transmits the payload body
  packages/webhook/src/WebhookTrigger.test.ts
Due: webhook

docs(webhook): add WebhookTrigger changeset and README usage example
  .changeset/webhook-trigger-class.md
  packages/webhook/README.md
Due: webhook

docs: readme
  packages/webhook/README.md
Due: webhook

fix(webhook): derive WebhookTrigger result ok strictly from the body
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

docs(webhook): add changeset for opt-in retries
  .changeset/webhook-opt-in-retries.md
Due: none

chore: simplify the request timeout
  packages/web-api/src/WebClient.ts
Due: web-api

chore: simplify timeout
  packages/web-api/src/WebClient.ts
  packages/webhook/src/IncomingWebhook.ts
Due: web-api, webhook

fix(webhook): abort retries on all 4xx, including 429
  packages/webhook/src/IncomingWebhook.test.ts
  packages/webhook/src/IncomingWebhook.ts
  packages/webhook/src/WebhookTrigger.test.ts
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

chore: release webhook@7.2.0-rc.1
  packages/webhook/package.json
Due: webhook

refactor(webhook): export retryPolicies as default namespace, pin p-retry
  packages/webhook/package.json
  packages/webhook/src/index.ts
Due: webhook

chore: release webhook@7.2.0-rc.2
  packages/webhook/package.json
Due: webhook

refactor(webhook): return the trigger response body directly from send()
  packages/webhook/src/WebhookTrigger.test.ts
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

test(webhook): verify addAppMetadata expands WebhookTrigger User-Agent
  packages/webhook/src/WebhookTrigger.test.ts
Due: webhook

test(webhook): drop explanatory comment from addAppMetadata UA test
  packages/webhook/src/WebhookTrigger.test.ts
Due: webhook

refactor(webhook): inline the trigger response body, drop buildResult
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
