Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

codecov.yml:

comment:
  layout: "condensed_header, diff, flags"
  
flags:
  cli-hooks:
    paths:
      - packages/cli-hooks/**
    carryforward: true
  logger:
    paths:
      - packages/logger/**
    carryforward: true
  oauth:
    paths:
      - packages/oauth/**
    carryforward: true
  socket-mode:
    paths:
      - packages/socket-mode/**
    carryforward: true
  web-api:
    paths:
      - packages/web-api/**
    carryforward: true
  webhook:
    paths:
      - packages/webhook/**
    carryforward: true

chore(oauth): release @slack/oauth@3.0.3 (#2209)
  packages/oauth/package.json
Due: oauth

chore(rtm-api): bump @slack/web-api from 7.8.0 to 7.9.1 (#2194)
  packages/rtm-api/package.json
Due: none

chore(rtm-api): release @slack/rtm-api@7.0.3
  packages/rtm-api/package.json
Due: none

chore(rtm-api): release @slack/rtm-api@7.0.3 (#2210)
  packages/rtm-api/package.json
Due: none

chore(socket-mode): bump @slack/web-api from 7.8.0 to 7.9.1 (#2195)
  packages/socket-mode/package.json
Due: socket-mode

chore(socket-mode): release @slack/socket-mode@2.0.4
  packages/socket-mode/package.json
Due: socket-mode

chore(socket-mode): release @slack/socket-mode@2.0.4 (#2211)
  packages/socket-mode/package.json
Due: socket-mode

tests: attempt to fix flaky behavior in file state store
  packages/oauth/src/state-stores/file-state-store.ts
Due: oauth

tests: fix flaky tests caused by rapid file reading and writing
  packages/oauth/src/state-stores/file-state-store.spec.ts
  packages/oauth/src/state-stores/file-state-store.ts
Due: oauth

fix linting issue
  packages/oauth/src/state-stores/file-state-store.ts
Due: oauth

trigger tests
  packages/oauth/src/state-stores/file-state-store.spec.ts
Due: oauth

try something else
  packages/oauth/src/state-stores/file-state-store.ts
  packages/oauth/src/state-stores/spec-utils.ts
Due: oauth

fix lint
  packages/oauth/src/state-stores/spec-utils.ts
Due: oauth

comment out unit test
  packages/oauth/src/state-stores/file-state-store.spec.ts
  packages/oauth/src/state-stores/spec-utils.ts
Due: oauth

comment some suff
  packages/oauth/src/state-stores/file-state-store.spec.ts
Due: oauth

Update file-state-store.spec.ts
  packages/oauth/src/state-stores/file-state-store.spec.ts
Due: oauth

Update spec-utils.ts
  packages/oauth/src/state-stores/spec-utils.ts
Due: oauth

tighten up the PR
  packages/oauth/src/state-stores/file-state-store.spec.ts
  packages/oauth/src/state-stores/spec-utils.ts
Due: oauth

Update packages/oauth/src/state-stores/spec-utils.ts
  packages/oauth/src/state-stores/spec-utils.ts
Due: oauth

Add support for flexpane API
  packages/types/src/events/entity-details-requested.ts
  packages/types/src/events/index.ts
  packages/types/src/message-metadata.ts
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/chat.ts
  packages/web-api/src/types/request/entity.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/EntityPresentDetailsResponse.ts
  packages/web-api/src/types/response/index.ts
Due: web-api

beta version bump for the types pkg
  packages/types/package.json
Due: none

feat-work-objects: version bump for types pkg (#2229)
  packages/types/package.json
Due: none

beta version bump
  packages/web-api/package.json
Due: web-api

Update web-api
  packages/types/src/message-metadata.ts
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

Update
  packages/types/src/message-metadata.ts
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

update
  packages/types/package.json
Due: none

Update
  packages/types/package.json
  packages/types/src/message-metadata.ts
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

version bump
  packages/types/package.json
Due: none

feat-work-objects: version bump 2 for the types pkg (#2234)
  packages/types/package.json
Due: none

bump version
  packages/web-api/package.json
Due: web-api

feat-work-objects: version bump for the web-api pkg (#2232)
  packages/web-api/package.json
Due: web-api

fix issues with buffer types in file-upload
  packages/web-api/src/file-upload.ts
Due: web-api

fix: Buffer.byteLength for tsd 0.32.0
  packages/web-api/src/file-upload.ts
Due: web-api

Partial fix
  packages/web-api/src/file-upload.ts
Due: web-api

fix linting issues
  packages/web-api/src/file-upload.ts
Due: web-api

clean up slightly
  packages/web-api/src/file-upload.ts
Due: web-api

Improve naming
  packages/web-api/src/file-upload.ts
Due: web-api

fix: return buffer byte length from provided file data type
  packages/web-api/src/file-upload.ts
Due: web-api
