Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

codecov.yml:

comment:
  layout: "condensed_header, diff, flags"
  
flags:
  cli-hooks:
    paths:
      - packages/cli-hooks/**
    carryforward: true
  logger:
    paths:
      - packages/logger/**
    carryforward: true
  oauth:
    paths:
      - packages/oauth/**
    carryforward: true
  socket-mode:
    paths:
      - packages/socket-mode/**
    carryforward: true
  web-api:
    paths:
      - packages/web-api/**
    carryforward: true
  webhook:
    paths:
      - packages/webhook/**
    carryforward: true

some small typos
  .github/maintainers_guide.md
  README.md
Due: none

workign web-api docs
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/typedoc.json
  packages/web-api/README.md
  packages/web-api/package.json
  packages/web-api/typedoc.json
Due: web-api

typedocs
  packages/cli-hooks/package.json
  packages/cli-hooks/typedoc.json
  packages/web-api/package.json
  packages/webhook/package.json
  packages/webhook/typedoc.json
Due: cli-hooks, web-api, webhook

chore: adds webhook package to dependabot.yml
  .github/dependabot.yml
Due: none

moves it to be alphabetical
  .github/dependabot.yml
Due: none

Apply suggestions from code review
  .github/dependabot.yml
Due: none

socketmode
  packages/socket-mode/package.json
  packages/socket-mode/typedoc.json
Due: socket-mode

oauth
  packages/socket-mode/typedoc.json
Due: socket-mode

feat(web-api): add workflows.featured.{add|list|remove|set} methods
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/request/workflows.ts
  packages/web-api/src/types/response/WorkflowsFeaturedAddResponse.ts
  packages/web-api/src/types/response/WorkflowsFeaturedListResponse.ts
  packages/web-api/src/types/response/WorkflowsFeaturedRemoveResponse.ts
  packages/web-api/src/types/response/WorkflowsFeaturedSetResponse.ts
  packages/web-api/src/types/response/index.ts
Due: web-api

fix: avoid warnings of deprecated methods for new workflow methods
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Due: web-api

chore: adds webhook package to dependabot.yml (#2302)
  .github/dependabot.yml
Due: none

test: confirm unexpected arguments cause type errors
  packages/web-api/test/types/methods/workflows.test-d.ts
Due: web-api

style: run the linter before making a commit
  packages/web-api/test/types/methods/workflows.test-d.ts
Due: web-api

removing cli hooks
  packages/cli-hooks/package.json
  packages/cli-hooks/typedoc.json
Due: cli-hooks

oauth
  packages/oauth/package.json
  packages/oauth/typedoc.json
Due: oauth

rest of packages
  docs/sidebars.js
  packages/cli-test/package.json
  packages/cli-test/typedoc.json
  packages/logger/package.json
  packages/logger/typedoc.json
  packages/rtm-api/package.json
  packages/rtm-api/typedoc.json
  packages/types/package.json
  packages/types/typedoc.json
Due: logger

biome formatting
  packages/cli-test/typedoc.json
  packages/logger/typedoc.json
  packages/oauth/typedoc.json
  packages/rtm-api/typedoc.json
  packages/socket-mode/typedoc.json
  packages/types/typedoc.json
  packages/web-api/typedoc.json
  packages/webhook/typedoc.json
Due: logger, oauth, socket-mode, web-api, webhook

formatting
  packages/web-api/typedoc.json
Due: web-api

webhook
  docs/sidebars.js
  packages/webhook/package.json
Due: webhook

feat(web-api): add workflows.featured.{add|list|remove|set} methods (#2303)
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/request/workflows.ts
  packages/web-api/src/types/response/WorkflowsFeaturedAddResponse.ts
  packages/web-api/src/types/response/WorkflowsFeaturedListResponse.ts
  packages/web-api/src/types/response/WorkflowsFeaturedRemoveResponse.ts
  packages/web-api/src/types/response/WorkflowsFeaturedSetResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/workflows.test-d.ts
Due: web-api

updates maintainers guide
  .github/maintainers_guide.md
Due: none

remove wrong redirecet
  docs/docusaurus.config.js
Due: none

typoe reference
  .github/maintainers_guide.md
Due: none

undo readme changes
  packages/web-api/README.md
Due: web-api

fixes package.json as requested
  packages/cli-test/package.json
  packages/logger/package.json
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/package.json
  packages/web-api/typedoc.json
  packages/webhook/package.json
Due: logger, oauth, socket-mode, web-api, webhook

updating package
  packages/web-api/package.json
Due: web-api

removes extraneous param in typedoc
  packages/cli-test/typedoc.json
  packages/logger/typedoc.json
  packages/oauth/typedoc.json
  packages/rtm-api/typedoc.json
  packages/socket-mode/typedoc.json
  packages/types/typedoc.json
  packages/web-api/typedoc.json
  packages/webhook/typedoc.json
Due: logger, oauth, socket-mode, web-api, webhook

adds versioned link
  packages/cli-test/typedoc.json
  packages/logger/typedoc.json
  packages/oauth/typedoc.json
  packages/rtm-api/typedoc.json
  packages/socket-mode/typedoc.json
  packages/types/typedoc.json
  packages/web-api/typedoc.json
  packages/webhook/typedoc.json
Due: logger, oauth, socket-mode, web-api, webhook

docs: autogenerated typedoc reference (#2308)
  .github/maintainers_guide.md
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/typedoc.json
  packages/cli-test/package.json
  packages/cli-test/typedoc.json
  packages/logger/package.json
  packages/logger/typedoc.json
  packages/oauth/package.json
  packages/oauth/typedoc.json
  packages/rtm-api/package.json
  packages/rtm-api/typedoc.json
  packages/socket-mode/package.json
  packages/socket-mode/typedoc.json
  packages/types/package.json
  packages/types/typedoc.json
  packages/web-api/package.json
  packages/web-api/typedoc.json
  packages/webhook/package.json
  packages/webhook/typedoc.json
Due: logger, oauth, socket-mode, web-api, webhook

proper reference url
  docs/english/_sidebar.json
Due: none

actual correct link
  docs/english/_sidebar.json
Due: none

another link
  docs/english/_sidebar.json
Due: none

bump form-data to at least 4.0.4. to resolve CVE-2025-7783
  packages/web-api/package.json
Due: web-api

bump form-data to at least 4.0.4. to resolve CVE-2025-7783 (#2314)
  packages/web-api/package.json
Due: web-api

feat: add custom manifest filename ability.
  packages/cli-hooks/src/get-manifest.js
  packages/cli-hooks/src/get-manifest.spec.js
Due: cli-hooks

ci: add package label to dependabot updates
  .github/dependabot.yml
Due: none

feat: remove doc specific updates
  .github/dependabot.yml
Due: none
