Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

codecov.yml:

comment:
  layout: "condensed_header, diff, flags"
  
flags:
  cli-hooks:
    paths:
      - packages/cli-hooks/**
    carryforward: true
  logger:
    paths:
      - packages/logger/**
    carryforward: true
  oauth:
    paths:
      - packages/oauth/**
    carryforward: true
  socket-mode:
    paths:
      - packages/socket-mode/**
    carryforward: true
  web-api:
    paths:
      - packages/web-api/**
    carryforward: true
  webhook:
    paths:
      - packages/webhook/**
    carryforward: true

test: improve type assertions of expected values
  packages/web-api/src/file-upload.test.ts
Due: web-api

chore: lint
  packages/web-api/src/file-upload.test.ts
Due: web-api

build: use minimum support @types/node@18 in development
  .changeset/vast-drinks-raise.md
  .claude/settings.json
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/logger/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: cli-hooks, logger, web-api, webhook

test: use @types/node@18 in development when exporting a range
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: oauth, socket-mode, web-api, webhook

build: use a shared tsconfig for workspace packages
  .claude/settings.json
  package.json
  packages/cli-hooks/jsconfig.json
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/cli-test/tsconfig.json
  packages/logger/package.json
  packages/logger/tsconfig.json
  packages/oauth/package.json
  packages/oauth/tsconfig.json
  packages/rtm-api/package.json
  packages/rtm-api/tsconfig.json
  packages/socket-mode/package.json
  packages/socket-mode/tsconfig.json
  packages/types/package.json
  packages/types/tsconfig.json
  packages/web-api/package.json
  packages/web-api/tsconfig.json
  packages/webhook/package.json
  packages/webhook/tsconfig.json
  tsconfig.base.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

chore: centralize shared shx and tsx dependencies
  package.json
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/logger/package.json
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/rtm-api/tsconfig.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/types/tsconfig.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

build: write all docs for workspace packages
  .claude/settings.json
  .github/maintainers_guide.md
  package.json
  packages/cli-test/package.json
  packages/logger/package.json
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: logger, oauth, socket-mode, web-api, webhook

ci: add support for node 24 version
  .github/workflows/ci-build.yml
  AGENTS.md
  README.md
Due: none

docs: changeset
  .changeset/plenty-times-rhyme.md
Due: none

ci: build docs
  .github/workflows/ci-build.yml
Due: none

ci: remove specific shell
  .github/workflows/ci-build.yml
Due: none

chore: normalize pre-commit hook header
  .githooks/pre-commit
Due: none

docs: move pre-commit hook to tasks section
  .github/maintainers_guide.md
Due: none

feat: add support for apps.user.connection.update
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/apps.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/AppsUserConnectionUpdateResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/apps.test-d.ts
Due: web-api

Add a changeset
  .changeset/grumpy-jobs-poke.md
Due: none

conventional commit format for changeset
  .changeset/grumpy-jobs-poke.md
Due: none

feat: add support for apps.user.connection.update (#2535)
  .changeset/grumpy-jobs-poke.md
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/apps.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/AppsUserConnectionUpdateResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/apps.test-d.ts
Due: web-api

chore: add opt-in pre-commit lint --write hook (#2475)
  .githooks/pre-commit
  .github/maintainers_guide.md
Due: none

revert: continue requiring types for logger
  packages/logger/package.json
Due: logger

docs: remove changeset
  .changeset/vast-drinks-raise.md
Due: none

chore: halt updates across major types/node versions
  .github/dependabot.yml
Due: none

revert: coauthored by claude
  .github/dependabot.yml
Due: none

build: use minimum support @types/node@18 in development (#2531)
  .claude/settings.json
  .github/dependabot.yml
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/logger/package.json
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

revert: changeset from rebase
  .changeset/vast-drinks-raise.md
Due: none

revert: coauthored by claude
  packages/logger/package.json
Due: logger

chore(deps): ignore major updates to types/node
  .github/dependabot.yml
Due: none

build: use root types/node@18 for development
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: oauth, web-api, webhook

ci: remove ignore from packages without runtime types/node dependencies
  .github/dependabot.yml
Due: none

build: use a shared tsconfig for workspace packages (#2532)
  .claude/settings.json
  .github/dependabot.yml
  package.json
  packages/cli-hooks/jsconfig.json
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/cli-test/tsconfig.json
  packages/logger/package.json
  packages/logger/tsconfig.json
  packages/oauth/package.json
  packages/oauth/tsconfig.json
  packages/rtm-api/package.json
  packages/rtm-api/tsconfig.json
  packages/socket-mode/package.json
  packages/socket-mode/tsconfig.json
  packages/types/package.json
  packages/types/tsconfig.json
  packages/web-api/package.json
  packages/web-api/tsconfig.json
  packages/webhook/package.json
  packages/webhook/tsconfig.json
  tsconfig.base.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

chore: claude remove typescript blog
  .claude/settings.json
Due: none

revert: coauthored by claude
  .changeset/vast-drinks-raise.md
Due: none

build: write all docs for workspace packages (#2533)
  .claude/settings.json
  .github/maintainers_guide.md
  .github/workflows/ci-build.yml
  package.json
  packages/cli-test/package.json
  packages/logger/package.json
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: logger, oauth, socket-mode, web-api, webhook

revert: coauthored by claude
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/web-api/package.json
Due: oauth, web-api

ci: add support for node 24 version (#2534)
  .changeset/plenty-times-rhyme.md
  .changeset/vast-drinks-raise.md
  .github/workflows/ci-build.yml
  AGENTS.md
  README.md
Due: none

docs: remove reverted change to logger package
  packages/logger/CHANGELOG.md
Due: logger

docs(maintainers): generate docs with releases
  .github/maintainers_guide.md
Due: none

refactor(cli-test): rename env add/remove to env set/unset
  docs/english/reference/cli-test/variables/SlackCLI.md
  docs/english/reference/cli-test/variables/SlackTracerId.md
  packages/cli-test/src/cli/commands/env.test.ts
  packages/cli-test/src/cli/commands/env.ts
  packages/cli-test/src/utils/constants.ts
Due: none

revert: remove docs changes from previous commit
  docs/english/reference/cli-test/variables/SlackCLI.md
  docs/english/reference/cli-test/variables/SlackTracerId.md
Due: none
