Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

codecov.yml:

comment:
  layout: "condensed_header, diff, flags"
  
flags:
  cli-hooks:
    paths:
      - packages/cli-hooks/**
    carryforward: true
  logger:
    paths:
      - packages/logger/**
    carryforward: true
  oauth:
    paths:
      - packages/oauth/**
    carryforward: true
  socket-mode:
    paths:
      - packages/socket-mode/**
    carryforward: true
  web-api:
    paths:
      - packages/web-api/**
    carryforward: true
  webhook:
    paths:
      - packages/webhook/**
    carryforward: true

fix: improve type for upload file v2 (#1848)
  packages/web-api/src/types/request/files.ts
  packages/web-api/test/types/methods/files.test-d.ts
Due: web-api

ci: lock to npm 10.7 when running on node 22
  .github/workflows/ci-build.yml
Due: none

wtf
  .github/workflows/ci-build.yml
  package.json
Due: none

try different npm version
  .github/workflows/ci-build.yml
Due: none

try npm 10.6
  .github/workflows/ci-build.yml
Due: none

lock to node 22.4 for now
  .github/workflows/ci-build.yml
Due: none

lock to node 22.4.x
  .github/workflows/ci-build.yml
Due: none

ci: lock to node 22.4.x when running on node 22; fixes npm issues w/ node 22.5.x (#1847)
  .github/workflows/ci-build.yml
  package.json
Due: none

release: @slack/cli-test@0.2.2+cli.2.27.1
  packages/cli-test/package.json
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/shell.ts
Due: none

feat (cli-test): By default, `logout` only logs out of the specified team. Also expose new parameter `shouldLogOut` to control whether to logout or not.
  packages/cli-test/src/cli/index.ts
Due: none

feat (cli-test): `logout` only logs out of the specified team, plus `shouldLogOut` parameter (#1852)
  packages/cli-test/src/cli/index.ts
Due: none

Publish `@slack/cli-test@0.3.0+cli.2.27.1`
  packages/cli-test/package.json
Due: none

Publish `@slack/cli-test@0.3.0+cli.2.27.1` (#1853)
  packages/cli-test/package.json
Due: none

cli-hooks(chore): release v1.1.1
  packages/cli-hooks/package.json
Due: cli-hooks

Publish `@slack/cli-hooks@1.1.1` (#1854)
  packages/cli-hooks/package.json
Due: cli-hooks

docs(fix): update anchor links in the maintainers guide
  .github/maintainers_guide.md
Due: none

docs(fix): update anchor links in the maintainers guide (#1855)
  .github/maintainers_guide.md
Due: none

remove command and custom error classes; let the exceptions fall where they may
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/command-error.ts
  packages/cli-test/src/cli/commands/app.ts
  packages/cli-test/src/cli/commands/auth.ts
  packages/cli-test/src/cli/commands/collaborator.ts
  packages/cli-test/src/cli/commands/create.ts
  packages/cli-test/src/cli/commands/env.ts
  packages/cli-test/src/cli/commands/external-auth.ts
  packages/cli-test/src/cli/commands/function.ts
  packages/cli-test/src/cli/commands/manifest.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/commands/trigger.ts
  packages/cli-test/src/cli/shell.ts
  packages/cli-test/src/utils/custom-errors.ts
Due: none

🔪 cli-test: remove command and custom error classes (#1856)
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/command-error.ts
  packages/cli-test/src/cli/commands/app.ts
  packages/cli-test/src/cli/commands/auth.ts
  packages/cli-test/src/cli/commands/collaborator.ts
  packages/cli-test/src/cli/commands/create.ts
  packages/cli-test/src/cli/commands/env.ts
  packages/cli-test/src/cli/commands/external-auth.ts
  packages/cli-test/src/cli/commands/function.ts
  packages/cli-test/src/cli/commands/manifest.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/commands/trigger.ts
  packages/cli-test/src/cli/shell.ts
  packages/cli-test/src/utils/custom-errors.ts
Due: none

feat (cli-test): expose arbitrary apihost flag to underlying SlackCLIProcess class.
  packages/cli-test/src/cli/cli-process.spec.ts
  packages/cli-test/src/cli/cli-process.ts
Due: none

feat (cli-test): expose arbitrary apihost flag to underlying SlackCLIProcess class (#1858)
  packages/cli-test/src/cli/cli-process.spec.ts
  packages/cli-test/src/cli/cli-process.ts
Due: none

start of a types dir, remove duplicate SlackProduct constant
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/commands/auth.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/shell.spec.ts
  packages/cli-test/src/cli/shell.ts
  packages/cli-test/src/types/shell.ts
Due: none

moar progress
  packages/cli-test/package.json
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/commands/app.spec.ts
  packages/cli-test/src/cli/commands/app.ts
  packages/cli-test/src/cli/commands/auth.spec.ts
  packages/cli-test/src/cli/commands/auth.ts
  packages/cli-test/src/cli/commands/collaborator.spec.ts
  packages/cli-test/src/cli/commands/collaborator.ts
  packages/cli-test/src/cli/index.spec.ts
  packages/cli-test/src/cli/index.ts
  packages/cli-test/src/cli/shell.spec.ts
  packages/cli-test/src/types/commands/common_arguments.ts
  packages/cli-test/src/utils/test.ts
Due: none

fix (web-api): tweak type of `reply_broadcast` to be wider, to allow for wider `boolean` usage with it. fixes #1859
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

docs- update pages
  docs/.env.sample
  docs/.gitignore
  docs/.ruby-version
  docs/Gemfile
  docs/_config.yml
  docs/_includes/analytics.html
  docs/_includes/focused_nav.html
  docs/_includes/head.html
  docs/_includes/main_nav.html
  docs/_includes/page_header.html
  docs/_includes/tag_manager.html
  docs/_layouts/contained.html
  docs/_layouts/default.html
  docs/_main/about.md
  docs/_main/changelog.md
  docs/_main/getting_started.md
  docs/_main/installation.md
  docs/_main/typescript.md
  docs/_packages/events_api.md
  docs/_packages/interactive_messages.md
  docs/_packages/oauth.md
  docs/_packages/rtm_api.md
  docs/_packages/socket_mode.md
  docs/_packages/web_api.md
  docs/_packages/webhook.md
  docs/_reference/events-api.md
  docs/_reference/interactive-messages.md
  docs/_reference/logger.md
  docs/_reference/oauth.md
  docs/_reference/rtm-api.md
  docs/_reference/types.md
  docs/_reference/web-api.md
  docs/_reference/webhook.md
  docs/_tutorials/local_development.md
  docs/_tutorials/migrating_to_v5.md
  docs/_tutorials/migrating_to_v6.md
  docs/scripts/auto_anchor.js
  docs/styles/docs.css
Due: none

docs- renamed folders
  docs/auth.md
  docs/changelog.md
  docs/getting_started.md
  docs/index.md
  docs/installation.md
  docs/packages/events_api.md
  docs/packages/interactive_messages.md
  docs/packages/oauth.md
  docs/packages/rtm_api.md
  docs/packages/socket_mode.md
  docs/packages/web_api.md
  docs/packages/webhook.md
  docs/reference/.gitkeep
  docs/reference/events-api.md
  docs/reference/index.md
  docs/reference/interactive-messages.md
  docs/reference/logger.md
  docs/reference/oauth.md
  docs/reference/rtm-api.md
  docs/reference/types.md
  docs/reference/web-api.md
  docs/reference/webhook.md
  docs/tutorials/basic-information-page.png
  docs/tutorials/bot-token.png
  docs/tutorials/local_development.md
  docs/tutorials/migrating_to_v5.md
  docs/tutorials/migrating_to_v6.md
  docs/tutorials/ngrok.gif
  docs/tutorials/request-url-config.png
  docs/tutorials/signing-secret.png
  docs/typescript.md
Due: none

docs: remove dot file
  docs/reference/.gitkeep
Due: none

docs: more edits
  docs/content/getting-started.md
  docs/content/index.md
  docs/content/packages/events-api.md
  docs/content/packages/interactive-messages.md
  docs/content/packages/oauth.md
  docs/content/packages/rtm-api.md
  docs/content/packages/socket-mode.md
  docs/content/packages/web-api.md
  docs/content/packages/webhook.md
  docs/content/reference/events-api.md
  docs/content/reference/index.md
  docs/content/tutorials/migrating-to-v5.md
  docs/content/tutorials/migrating-to-v6.md
  docs/docusaurus.config.js
  docs/src/css/custom.css
Due: none

fix (web-api): tweak type of `reply_broadcast` to be wider (#1860)
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

Publish `@slack/web-api@7.3.2`
  packages/web-api/package.json
Due: web-api

Publish `@slack/web-api@7.3.2` (#1861)
  packages/web-api/package.json
Due: web-api

collaborator commands
  packages/cli-test/src/cli/commands/collaborator.spec.ts
  packages/cli-test/src/cli/commands/collaborator.ts
  packages/cli-test/src/cli/index.ts
Due: none

docs: markdown mostly for reference
  docs/content/changelog.md
  docs/content/reference/interactive-messages.md
  docs/content/reference/logger.md
  docs/content/reference/oauth.md
  docs/content/reference/rtm-api.md
  docs/content/reference/types.md
  docs/content/reference/web-api.md
  docs/content/reference/webhook.md
  docs/content/typescript.md
  docs/docusaurus.config.js
  docs/sidebars.js
Due: none

docs - more readying
  .github/workflows/docs-deploy.yml
  docs/content/index.md
  docs/content/packages/events-api.md
  docs/content/packages/interactive-messages.md
  docs/content/packages/oauth.md
  docs/content/packages/rtm-api.md
  docs/content/packages/web-api.md
  docs/content/packages/webhook.md
  packages/events-api/README.md
  packages/interactive-messages/README.md
  packages/oauth/README.md
  packages/rtm-api/README.md
  packages/socket-mode/README.md
  packages/web-api/README.md
  packages/webhook/README.md
Due: oauth, socket-mode, web-api, webhook

docs: readme
  docs/README.md
Due: none

most of the way through a 1.0 rewrite
  packages/cli-test/src/cli/cli-process.spec.ts
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/commands/app.spec.ts
  packages/cli-test/src/cli/commands/app.ts
  packages/cli-test/src/cli/commands/create.spec.ts
  packages/cli-test/src/cli/commands/create.ts
  packages/cli-test/src/cli/commands/env.spec.ts
  packages/cli-test/src/cli/commands/env.ts
  packages/cli-test/src/cli/commands/external-auth.spec.ts
  packages/cli-test/src/cli/commands/external-auth.ts
  packages/cli-test/src/cli/commands/function.spec.ts
  packages/cli-test/src/cli/commands/function.ts
  packages/cli-test/src/cli/commands/manifest.spec.ts
  packages/cli-test/src/cli/commands/manifest.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/index.spec.ts
  packages/cli-test/src/cli/index.ts
Due: none

docs-reference notes
  docs/README.md
Due: none

docs: accidentally modified package readmes
  .github/maintainers_guide.md
  .github/workflows/docs-deploy.yml
  packages/events-api/README.md
  packages/interactive-messages/README.md
  packages/oauth/README.md
  packages/rtm-api/README.md
  packages/socket-mode/README.md
  packages/web-api/README.md
  packages/webhook/README.md
Due: oauth, socket-mode, web-api, webhook
