Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

ci: clean up dependabot groups and references to no longer used packages.
  .github/dependabot.yml
Due: none

ci: clean up dependabot groups and references to no longer used packages (#2063)
  .github/dependabot.yml
Due: none

docs: dynamically load generated sidebar items, add biome / linting to docs folder, lint during docs CI, tweak generated reference documentation styles (tables instead of lists where possible).
  .github/workflows/docs-deploy.yml
  docs/.gitignore
  docs/README.md
  docs/biome.json
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/theme/NotFound/Content/index.js
  docs/src/theme/NotFound/index.js
  docs/static/img/style.css
  docs/typedoc.json
  packages/logger/src/index.ts
Due: logger

jsdoc for refdoc generation helper function
  docs/docusaurus.config.js
Due: none

more drying up of packages, install sub-package deps before building docs
  .github/workflows/docs-deploy.yml
  docs/docusaurus.config.js
  docs/sidebars.js
Due: none

ignore certain sub-packages when installing deps
  .github/workflows/docs-deploy.yml
Due: none

fix up bash hackery
  .github/workflows/docs-deploy.yml
Due: none

try to await generated typedoc sidebar entries to be ready before importing them
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/sidebars.js
Due: none

move api reference sidebar item building into own for..of loop
  docs/sidebars.js
Due: none

link up to issue submission on 404 page, try using esbuild and loader to speed up builds
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/src/theme/NotFound/Content/index.js
Due: none

fixing some broken links
  docs/content/packages/oauth.md
  docs/content/packages/rtm-api.md
  docs/content/packages/web-api.md
Due: none

add nvmrc for each node switching to required version
  docs/.nvmrc
Due: none

one more broken link
  docs/content/packages/rtm-api.md
Due: none

try no-minify when building
  docs/package.json
Due: none

try no-minify when watching too
  docs/package.json
Due: none

lint fix
  docs/package.json
Due: none

log out doc building performance logging
  docs/package.json
Due: none

testing some stuff out
  docs/sidebars.js
Due: none

just use static sidebar links for each sub-package API reference, dont rely on typedoc execution for sidebar entries.
  docs/docusaurus.config.js
  docs/sidebars.js
Due: none

some cleanup
  docs/sidebars.js
Due: none

web-api(feat): minor additions to some admin API response types; lint response type generation after running the script.
  packages/web-api/src/types/response/AdminAppsActivitiesListResponse.ts
  packages/web-api/src/types/response/AdminFunctionsListResponse.ts
  packages/web-api/src/types/response/AdminUsersListResponse.ts
  scripts/generate-web-api-types.sh
Due: web-api

web-api(feat): minor additions to some admin API response types (#2071)
  packages/web-api/src/types/response/AdminAppsActivitiesListResponse.ts
  packages/web-api/src/types/response/AdminFunctionsListResponse.ts
  packages/web-api/src/types/response/AdminUsersListResponse.ts
  scripts/generate-web-api-types.sh
Due: web-api

web-api(feat): add support for `conversations.requestShared.list` API.
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/ConversationsRequestSharedInviteListResponse.ts
  packages/web-api/src/types/response/index.ts
Due: web-api

list api has optional arguments. add some type tests.
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/test/types/methods/conversations.test-d.ts
Due: web-api

web-api(feat): add support for `conversations.requestShared.list` API (#2072)
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/ConversationsRequestSharedInviteListResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/conversations.test-d.ts
Due: web-api

Publish `@slack/web-api@7.6.0`
  packages/web-api/package.json
Due: web-api

Publish `@slack/web-api@7.6.0` (#2074)
  packages/web-api/package.json
Due: web-api

feat(web-api): WebClient can be configured with a request interceptor
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Due: web-api

refactor(web-api): move transformRequest logic to Axios request interceptor
  packages/web-api/src/WebClient.ts
Due: web-api

feat(web-api): WebClient can be configured with an adapter
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Due: web-api

refactor(web-api): rename serializeApiCallOptions -> serializeApiCallData and remove data alias
  packages/web-api/src/WebClient.ts
Due: web-api

fix(web-api): ensure support for async requestInterceptor as defined by interface
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Due: web-api

docs(web-api): add documentation to requestInterceptor and adapter WebClient options
  docs/content/packages/web-api.md
Due: none

chore(web-api): add JSDocs for new WebClientOptions
  packages/web-api/src/WebClient.ts
Due: web-api

test(web-api): update custom adapter test to better reflect real use case
  packages/web-api/src/WebClient.spec.ts
Due: web-api

chore(web-api): address typos
  docs/content/packages/web-api.md
  packages/web-api/src/WebClient.ts
Due: web-api

test(web-api): remove unneeded timeout
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Due: web-api

feat(web-api): add request interceptor and HTTP adapter config to WebClient (#2076), resolves #2073
  docs/content/packages/web-api.md
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Due: web-api

Add assistant_thread to message event payload type
  packages/types/src/events/message.ts
Due: none

feat(types): Add `assistant_thread` to message event payload type (#2077)
  packages/types/src/events/message.ts
Due: none

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
