Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

chore: remove unneeded eslint ignore comment
  packages/web-api/src/types/request/openid.ts
Due: web-api

docs: update Typescript minimum version: v7 + link (#1812)
  docs/_main/typescript.md
Due: none

test: add team.info web client type test
  packages/web-api/test/types/methods/team.test-d.ts
Due: web-api

partial support for canvases.create api request types.
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/index.ts
Due: web-api

Add canvas public API base response shapes./
  packages/web-api/src/types/response/CanvasesAccessDeleteResponse.ts
  packages/web-api/src/types/response/CanvasesAccessSetResponse.ts
  packages/web-api/src/types/response/CanvasesCreateResponse.ts
  packages/web-api/src/types/response/CanvasesDeleteResponse.ts
  packages/web-api/src/types/response/CanvasesEditResponse.ts
  packages/web-api/src/types/response/CanvasesSectionsLookupResponse.ts
  packages/web-api/src/types/response/ConversationsCanvasesCreateResponse.ts
  packages/web-api/src/types/response/index.ts
Due: web-api

add request shapes for canvas apis, add method entries for them too
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/canvas.ts
  packages/web-api/src/types/request/index.ts
Due: web-api

latest response data for canvas apis
  packages/web-api/src/types/response/CanvasesAccessDeleteResponse.ts
  packages/web-api/src/types/response/CanvasesAccessSetResponse.ts
  packages/web-api/src/types/response/CanvasesCreateResponse.ts
  packages/web-api/src/types/response/CanvasesDeleteResponse.ts
  packages/web-api/src/types/response/CanvasesEditResponse.ts
  packages/web-api/src/types/response/CanvasesSectionsLookupResponse.ts
  packages/web-api/src/types/response/ConversationsCanvasesCreateResponse.ts
Due: web-api

add missing sections.lookup api response
  packages/web-api/src/types/response/CanvasesSectionsLookupResponse.ts
Due: web-api

woops
  packages/web-api/src/methods.ts
Due: web-api

make canvas.create optional args, fix up conversations.canvas.create args
  packages/web-api/src/types/request/auth.ts
  packages/web-api/src/types/request/canvas.ts
Due: web-api

add type tests for canvas apis
  packages/web-api/test/types/methods/canvas.test-d.ts
Due: web-api

web-api: public canvas APIs (#1813)
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/auth.ts
  packages/web-api/src/types/request/canvas.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/CanvasesAccessDeleteResponse.ts
  packages/web-api/src/types/response/CanvasesAccessSetResponse.ts
  packages/web-api/src/types/response/CanvasesCreateResponse.ts
  packages/web-api/src/types/response/CanvasesDeleteResponse.ts
  packages/web-api/src/types/response/CanvasesEditResponse.ts
  packages/web-api/src/types/response/CanvasesSectionsLookupResponse.ts
  packages/web-api/src/types/response/ConversationsCanvasesCreateResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/canvas.test-d.ts
Due: web-api

Public `@slack/web-api@7.1.0`
  packages/web-api/package.json
Due: web-api

Public `@slack/web-api@7.1.0` (#1814)
  packages/web-api/package.json
Due: web-api

Add a new `TextObject` union of `PlainTextElement` and `MrkdwnElement`, use it where applicable.
  packages/types/src/block-kit/blocks.ts
  packages/types/src/block-kit/composition-objects.ts
Due: none

export union type of usable elements within certain blocks. add more jsdocs.
  packages/types/src/block-kit/blocks.ts
Due: none

Reuse AnyBlock
  packages/types/src/message-attachments.ts
  packages/types/src/views.ts
Due: none

lintfix
  packages/types/src/block-kit/blocks.ts
Due: none

types: export helper union types (#1819)
  packages/types/src/block-kit/blocks.ts
  packages/types/src/block-kit/composition-objects.ts
  packages/types/src/message-attachments.ts
  packages/types/src/views.ts
Due: none

types: small refactor in views, jsdoc all view properties, add start of type tests to types package.
  packages/types/package.json
  packages/types/src/views.ts
  packages/types/test/views.test-d.ts
Due: none

types: small refactor in views, jsdoc all view properties, add type tests (#1820)
  packages/types/package.json
  packages/types/src/views.ts
  packages/types/test/views.test-d.ts
Due: none

feat: user id map in MigrationExchangeResponse as map
  packages/web-api/src/types/response/MigrationExchangeResponse.ts
Due: web-api

regenerate w/ latest sample json
  packages/web-api/src/types/response/AdminAppsActivitiesListResponse.ts
  packages/web-api/src/types/response/AdminConversationsSearchResponse.ts
  packages/web-api/src/types/response/AdminInviteRequestsApprovedListResponse.ts
  packages/web-api/src/types/response/AdminInviteRequestsDeniedListResponse.ts
  packages/web-api/src/types/response/AdminInviteRequestsListResponse.ts
  packages/web-api/src/types/response/AdminUsergroupsListChannelsResponse.ts
  packages/web-api/src/types/response/CanvasesAccessDeleteResponse.ts
  packages/web-api/src/types/response/CanvasesCreateResponse.ts
  packages/web-api/src/types/response/CanvasesDeleteResponse.ts
  packages/web-api/src/types/response/CanvasesEditResponse.ts
  packages/web-api/src/types/response/CanvasesSectionsLookupResponse.ts
  packages/web-api/src/types/response/ChatPostMessageResponse.ts
  packages/web-api/src/types/response/ChatScheduleMessageResponse.ts
  packages/web-api/src/types/response/ChatUpdateResponse.ts
  packages/web-api/src/types/response/ConversationsCanvasesCreateResponse.ts
  packages/web-api/src/types/response/ConversationsHistoryResponse.ts
  packages/web-api/src/types/response/ConversationsOpenResponse.ts
  packages/web-api/src/types/response/ConversationsRepliesResponse.ts
  packages/web-api/src/types/response/FilesCompleteUploadExternalResponse.ts
  packages/web-api/src/types/response/FilesRemoteAddResponse.ts
  packages/web-api/src/types/response/FilesRemoteInfoResponse.ts
  packages/web-api/src/types/response/FilesRemoteShareResponse.ts
  packages/web-api/src/types/response/FilesRemoteUpdateResponse.ts
  packages/web-api/src/types/response/FilesRevokePublicURLResponse.ts
  packages/web-api/src/types/response/FilesSharedPublicURLResponse.ts
  packages/web-api/src/types/response/FilesUploadResponse.ts
  packages/web-api/src/types/response/PinsListResponse.ts
  packages/web-api/src/types/response/ReactionsGetResponse.ts
  packages/web-api/src/types/response/ReactionsListResponse.ts
  packages/web-api/src/types/response/RtmStartResponse.ts
  packages/web-api/src/types/response/SearchAllResponse.ts
  packages/web-api/src/types/response/SearchFilesResponse.ts
  packages/web-api/src/types/response/SearchMessagesResponse.ts
  packages/web-api/src/types/response/UsersConversationsResponse.ts
  packages/web-api/src/types/response/UsersDiscoverableContactsLookupResponse.ts
  packages/web-api/src/types/response/index.ts
Due: web-api

feat (web-api): user id map in MigrationExchangeResponse as map (#1821)
  packages/web-api/src/types/response/MigrationExchangeResponse.ts
Due: web-api

feat: set QA apihost
  packages/cli-test/src/cli/cli-process.ts
Due: none

Update test
  packages/cli-test/src/cli/cli-process.spec.ts
Due: none

chore (types): small refactorings, adding and removing some TODOs, inching towards tackling breaking changes / prep for major release of types.
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/types/src/block-kit/composition-objects.ts
  packages/types/src/block-kit/extensions.ts
  packages/types/src/message-attachments.ts
  packages/web-api/src/types/request/chat.ts
  packages/webhook/src/IncomingWebhook.ts
Due: web-api, webhook

naming
  packages/types/src/block-kit/composition-objects.ts
Due: none

derp
  packages/types/src/block-kit/composition-objects.ts
Due: none

chore (types): small refactorings and two new helper types (#1823)
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/types/src/block-kit/composition-objects.ts
  packages/types/src/block-kit/extensions.ts
  packages/types/src/message-attachments.ts
  packages/web-api/src/types/request/chat.ts
  packages/webhook/src/IncomingWebhook.ts
Due: web-api, webhook

feat(web-api): run response generation script (#1824)
  packages/web-api/src/types/response/AdminAppsActivitiesListResponse.ts
  packages/web-api/src/types/response/AdminConversationsSearchResponse.ts
  packages/web-api/src/types/response/AdminInviteRequestsApprovedListResponse.ts
  packages/web-api/src/types/response/AdminInviteRequestsDeniedListResponse.ts
  packages/web-api/src/types/response/AdminInviteRequestsListResponse.ts
  packages/web-api/src/types/response/AdminUsergroupsListChannelsResponse.ts
  packages/web-api/src/types/response/CanvasesAccessDeleteResponse.ts
  packages/web-api/src/types/response/CanvasesCreateResponse.ts
  packages/web-api/src/types/response/CanvasesDeleteResponse.ts
  packages/web-api/src/types/response/CanvasesEditResponse.ts
  packages/web-api/src/types/response/CanvasesSectionsLookupResponse.ts
  packages/web-api/src/types/response/ChatPostMessageResponse.ts
  packages/web-api/src/types/response/ChatScheduleMessageResponse.ts
  packages/web-api/src/types/response/ChatUpdateResponse.ts
  packages/web-api/src/types/response/ConversationsCanvasesCreateResponse.ts
  packages/web-api/src/types/response/ConversationsHistoryResponse.ts
  packages/web-api/src/types/response/ConversationsOpenResponse.ts
  packages/web-api/src/types/response/ConversationsRepliesResponse.ts
  packages/web-api/src/types/response/FilesCompleteUploadExternalResponse.ts
  packages/web-api/src/types/response/FilesRemoteAddResponse.ts
  packages/web-api/src/types/response/FilesRemoteInfoResponse.ts
  packages/web-api/src/types/response/FilesRemoteShareResponse.ts
  packages/web-api/src/types/response/FilesRemoteUpdateResponse.ts
  packages/web-api/src/types/response/FilesRevokePublicURLResponse.ts
  packages/web-api/src/types/response/FilesSharedPublicURLResponse.ts
  packages/web-api/src/types/response/FilesUploadResponse.ts
  packages/web-api/src/types/response/PinsListResponse.ts
  packages/web-api/src/types/response/ReactionsGetResponse.ts
  packages/web-api/src/types/response/ReactionsListResponse.ts
  packages/web-api/src/types/response/RtmStartResponse.ts
  packages/web-api/src/types/response/SearchAllResponse.ts
  packages/web-api/src/types/response/SearchFilesResponse.ts
  packages/web-api/src/types/response/SearchMessagesResponse.ts
  packages/web-api/src/types/response/UsersConversationsResponse.ts
  packages/web-api/src/types/response/UsersDiscoverableContactsLookupResponse.ts
  packages/web-api/src/types/response/index.ts
Due: web-api

feat(web-api): add new Slack Connect APIs `team.externalTeams.list` and `users.discoverableContacts.lookup`.
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/request/team.ts
  packages/web-api/src/types/request/users.ts
  packages/web-api/src/types/response/TeamExternalTeamsListResponse.ts
  packages/web-api/src/types/response/index.ts
Due: web-api

feat(web-api): add new Slack Connect APIs `team.externalTeams.list` and `users.discoverableContacts.lookup` (#1826)
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/request/team.ts
  packages/web-api/src/types/request/users.ts
  packages/web-api/src/types/response/TeamExternalTeamsListResponse.ts
  packages/web-api/src/types/response/index.ts
Due: web-api

Publish `@slack/web-api@7.2.0`
  packages/web-api/package.json
Due: web-api

Publish `@slack/web-api@7.2.0` (#1828)
  packages/web-api/package.json
Due: web-api

comment fix
  packages/web-api/src/methods.ts
Due: web-api

chore: tweak response types generation script (#1825)
  scripts/code_generator.rb
  scripts/generate-web-api-types.sh
Due: none

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
