Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

codecov.yml:

comment:
  layout: "condensed_header, diff, flags"
  
flags:
  cli-hooks:
    paths:
      - packages/cli-hooks/**
    carryforward: true
  logger:
    paths:
      - packages/logger/**
    carryforward: true
  oauth:
    paths:
      - packages/oauth/**
    carryforward: true
  socket-mode:
    paths:
      - packages/socket-mode/**
    carryforward: true
  web-api:
    paths:
      - packages/web-api/**
    carryforward: true
  webhook:
    paths:
      - packages/webhook/**
    carryforward: true

test: use version with matching release notes url
  packages/cli-hooks/src/check-update.test.js
Due: cli-hooks

test: save from github ui
  packages/cli-hooks/src/check-update.test.js
Due: cli-hooks

chore: extract build script and expand socket-mode test coverage
  .github/workflows/ci-build.yml
  package.json
  packages/socket-mode/package.json
  scripts/build.sh
Due: socket-mode

chore: extract build script and expand socket-mode test coverage
  packages/socket-mode/package.json
Due: socket-mode

go
  docs/english/_sidebar.json
  docs/english/migration/migrating-socket-mode-package-to-v3.md
  docs/english/migration/migrating-web-api-package-to-v8.md
  docs/english/migration/migrating-webhook-package-to-v8.md
Due: none

go
  docs/english/migration/migrating-socket-mode-package-to-v3.md
  docs/english/migration/migrating-web-api-package-to-v8.md
  docs/english/migration/migrating-webhook-package-to-v8.md
Due: none

go
  docs/english/_sidebar.json
  docs/english/migration/legacy-migration-guides/migrating-to-v4.md
  docs/english/migration/legacy-migration-guides/migrating-to-v5.md
  docs/english/migration/legacy-migration-guides/migrating-to-v6.md
  docs/english/migration/socket-mode/migrating-socket-mode-package-to-v2.md
  docs/english/migration/socket-mode/migrating-socket-mode-package-to-v3.md
  docs/english/migration/web-api/migrating-web-api-package-to-v7.md
  docs/english/migration/web-api/migrating-web-api-package-to-v8.md
  docs/english/migration/webhook/migrating-webhook-package-to-v8.md
Due: none

go
  docs/english/_sidebar.json
  docs/english/migration/legacy/migrating-to-v4.md
  docs/english/migration/legacy/migrating-to-v5.md
  docs/english/migration/legacy/migrating-to-v6.md
  docs/english/migration/migration.md
  docs/english/migration/socket-mode/migrating-socket-mode-package-to-v2.md
  docs/english/migration/socket-mode/migrating-socket-mode-package-to-v3.md
  docs/english/migration/web-api/migrating-web-api-package-to-v7.md
  docs/english/migration/web-api/migrating-web-api-package-to-v8.md
  docs/english/migration/webhook/migrating-webhook-package-to-v8.md
  docs/english/support-schedule.md
Due: none

go
  docs/english/_sidebar.json
Due: none

go
  docs/english/migration/migration.md
Due: none

sidebar
  docs/english/_sidebar.json
Due: none

chore: extract build script and expand socket-mode test coverage (#2604)
  .github/workflows/ci-build.yml
  package.json
  packages/socket-mode/package.json
  scripts/build.sh
Due: socket-mode

chore: fix broken CI
  packages/socket-mode/package.json
Due: socket-mode

Apply suggestions from code review
  docs/english/migration/socket-mode/migrating-socket-mode-package-to-v2.md
  docs/english/migration/socket-mode/migrating-socket-mode-package-to-v3.md
  docs/english/migration/web-api/migrating-web-api-package-to-v8.md
  docs/english/migration/webhook/migrating-webhook-package-to-v8.md
Due: none

Apply suggestions from code review
  docs/english/migration/socket-mode/migrating-socket-mode-package-to-v3.md
  docs/english/migration/web-api/migrating-web-api-package-to-v8.md
Due: none

go
  docs/english/migration/socket-mode/migrating-socket-mode-package-to-v2.md
  docs/english/migration/socket-mode/migrating-socket-mode-package-to-v3.md
  docs/english/migration/web-api/migrating-web-api-package-to-v8.md
  docs/english/migration/webhook/migrating-webhook-package-to-v8.md
Due: none

docs: add security policy
  .github/SECURITY.md
Due: none

docs: add security policy (#2609)
  .github/SECURITY.md
Due: none

feat(web-api): expose public ts property on ChatStream
  packages/web-api/src/WebClient.test.ts
  packages/web-api/src/chat-stream.ts
Due: web-api

add changeset
  .changeset/expose-ts-on-chat-streamer.md
Due: none

fix(cli-hooks): update test fixtures to match expected bolt 4.x versions
  packages/cli-hooks/src/check-update.test.js
Due: cli-hooks

fix(cli-hooks): use correct bolt-js release notes tag format (#2602)
  .changeset/stale-dolls-shave.md
  packages/cli-hooks/src/check-update.js
  packages/cli-hooks/src/check-update.test.js
Due: cli-hooks

Add assistant search Web API methods
  .changeset/quick-maps-search.md
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/assistant.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/AssistantSearchContextResponse.ts
  packages/web-api/src/types/response/AssistantSearchInfoResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/assistant.test-d.ts
Due: web-api

Update packages/web-api/src/chat-stream.ts
  packages/web-api/src/chat-stream.ts
Due: web-api

feat(web-api): expose public ts property on ChatStream (#2611)
  .changeset/expose-ts-on-chat-streamer.md
  packages/web-api/src/WebClient.test.ts
  packages/web-api/src/chat-stream.ts
Due: web-api

Upload required SECURITY.md file for compliance
  SECURITY.md
Due: none

feat(webhook): add WebhookTrigger class for Workflow Builder triggers
  packages/webhook/package.json
  packages/webhook/src/WebhookTrigger.test.ts
  packages/webhook/src/WebhookTrigger.ts
  packages/webhook/src/index.ts
Due: webhook

docs(webhook): update WebhookTrigger @see link to JSODC article
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

fix(webhook): constrain WebhookTriggerSendArguments values to string
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

fix(web-api): type Slack Lists message field responses
  packages/web-api/src/types/request/slackLists.ts
  packages/web-api/test/types/methods/slacklists-response.test-d.ts
Due: web-api

test(cli-test): remove --app global flag from create command tests
  packages/cli-test/src/cli/cli-process.ts
Due: none

chore: chagneset
  .changeset/silver-papers-lick.md
Due: none

Update packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/cli-process.ts
Due: none

remove app defaults and update test
  packages/cli-test/src/cli/cli-process.test.ts
  packages/cli-test/src/cli/cli-process.ts
Due: none

fix: lint formatting
  packages/cli-test/src/cli/cli-process.test.ts
Due: none

Update .changeset/silver-papers-lick.md
  .changeset/silver-papers-lick.md
Due: none

fix(cli-test)!: remove default "--app deployed" global flag from commands (#2624)
  .changeset/silver-papers-lick.md
  packages/cli-test/src/cli/cli-process.test.ts
  packages/cli-test/src/cli/cli-process.ts
Due: none
