Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

codecov.yml:

comment:
  layout: "condensed_header, diff, flags"
  
flags:
  cli-hooks:
    paths:
      - packages/cli-hooks/**
    carryforward: true
  logger:
    paths:
      - packages/logger/**
    carryforward: true
  oauth:
    paths:
      - packages/oauth/**
    carryforward: true
  socket-mode:
    paths:
      - packages/socket-mode/**
    carryforward: true
  web-api:
    paths:
      - packages/web-api/**
    carryforward: true
  webhook:
    paths:
      - packages/webhook/**
    carryforward: true

Publish @slack/web-api@7.5.0 (#2035)
  packages/web-api/package.json
Due: web-api

Publish @slack/types@2.14.0
  packages/types/package.json
Due: none

Publish @slack/types@2.14.0 (#2036)
  packages/types/package.json
Due: none

chore:add a linter --write precommit hook
  .gitignore
  package.json
Due: none

docs(oauth): replace hardcoded state secrets with process env variables
  docs/content/packages/oauth.md
  examples/oauth-v1/app.js
  examples/oauth-v2/app.js
  packages/oauth/README.md
Due: oauth

style: remove trailing spaces at the end of markdown lines
  examples/oauth-v1/README.md
  examples/oauth-v2/README.md
Due: none

docs: include instruction for setting the state secret variable
  examples/oauth-v1/README.md
  examples/oauth-v2/README.md
Due: none

oauth(docs): replace hardcoded state secrets with process env variables (#2039)
  docs/content/packages/oauth.md
  examples/oauth-v1/README.md
  examples/oauth-v1/app.js
  examples/oauth-v2/README.md
  examples/oauth-v2/app.js
  packages/oauth/README.md
Due: oauth

Added datastore basic command
  packages/cli-test/src/cli/commands/datastore.spec.ts
  packages/cli-test/src/cli/commands/datastore.ts
Due: none

Add support for assistant.*
  packages/web-api/src/methods.ts
  packages/web-api/src/response/AssistantThreadsSetStatusResponse.ts
  packages/web-api/src/response/AssistantThreadsSetSuggestedPromptsResponse.ts
  packages/web-api/src/response/AssistantThreadsSetTitleResponse.ts
  packages/web-api/src/response/index.ts
Due: web-api

Fix linting error
  packages/web-api/src/methods.ts
Due: web-api

feat (web-api): Add support for assistant.* API (#2042)
  packages/web-api/src/methods.ts
  packages/web-api/src/response/AssistantThreadsSetStatusResponse.ts
  packages/web-api/src/response/AssistantThreadsSetSuggestedPromptsResponse.ts
  packages/web-api/src/response/AssistantThreadsSetTitleResponse.ts
  packages/web-api/src/response/index.ts
Due: web-api

Updated with proper way to model the data
  packages/cli-test/src/cli/commands/datastore.spec.ts
  packages/cli-test/src/cli/commands/datastore.ts
Due: none

updated data type
  packages/cli-test/src/cli/commands/datastore.spec.ts
  packages/cli-test/src/cli/commands/datastore.ts
Due: none

Update datastore.ts
  packages/cli-test/src/cli/commands/datastore.ts
Due: none

Update datastore.spec.ts
  packages/cli-test/src/cli/commands/datastore.spec.ts
Due: none

web-api(chore): release @slack/web-api@6.13.0
  packages/web-api/package.json
Due: web-api

web-api(chore): release @slack/web-api@6.13.0 (#2043)
  packages/web-api/package.json
Due: web-api

oauth(fix): remove double quotes from the default 'add to slack' img alt text
  packages/oauth/src/default-render-html-for-install-path.ts
Due: oauth

oauth(fix): remove double quotes from the default 'add to slack' img alt text (#2044)
  packages/oauth/src/default-render-html-for-install-path.ts
Due: oauth

Revert "chore(deps-dev): bump @types/chai from 4.3.20 to 5.0.0 in /packages/w…"
  packages/web-api/package.json
Due: web-api

Revert "chore(deps-dev): bump @types/chai from 4.3.20 to 5.0.0 in /packages/s…"
  packages/socket-mode/package.json
Due: socket-mode

Revert "chore(deps-dev): bump @types/chai from 4.3.20 to 5.0.0 in /packages/o…"
  packages/oauth/package.json
Due: oauth

Revert "chore(deps-dev): bump @types/chai from 4.3.20 to 5.0.0 in /packages/l…"
  packages/logger/package.json
Due: logger

Revert "chore(deps-dev): bump @types/chai from 4.3.20 to 5.0.0 in /packages/c…"
  packages/cli-test/package.json
Due: none

Revert "chore(deps-dev): bump @types/chai from 4.3.20 to 5.0.0 in /packages/web-api in the dev-chai group across 1 directory" (#2050)
  packages/web-api/package.json
Due: web-api

Revert "chore(deps-dev): bump @types/chai from 4.3.20 to 5.0.0 in /packages/socket-mode in the dev-chai group" (#2051)
  packages/socket-mode/package.json
Due: socket-mode

Revert "chore(deps-dev): bump @types/chai from 4.3.20 to 5.0.0 in /packages/oauth in the dev-chai group" (#2052)
  packages/oauth/package.json
Due: oauth

Revert "chore(deps-dev): bump @types/chai from 4.3.20 to 5.0.0 in /packages/logger in the dev-chai group" (#2053)
  packages/logger/package.json
Due: logger

Revert "chore(deps-dev): bump @types/chai from 4.3.20 to 5.0.0 in /packages/cli-test in the dev-chai group" (#2054)
  packages/cli-test/package.json
Due: none

Publish `@slack/cli-test@1.2.0+cli.2.29.2`
  packages/cli-test/package.json
Due: none

Publish `@slack/cli-test@1.2.0+cli.2.29.2` (#2058)
  packages/cli-test/package.json
Due: none

socket-mode(fix): do not handle message events twice. fixes #2057
  packages/socket-mode/package.json
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.spec.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/tsconfig.json
Due: socket-mode

socket-mode(fix): do not handle message events twice (#2059)
  packages/socket-mode/package.json
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.spec.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/tsconfig.json
Due: socket-mode

Publish `@slack/socket-mode@2.0.2`
  packages/socket-mode/package.json
Due: socket-mode

Publish `@slack/socket-mode@2.0.2` (#2060)
  packages/socket-mode/package.json
Due: socket-mode

Added datastore command into the index
  packages/cli-test/src/cli/index.ts
Due: none

Publish @slack/cli-test@1.3.0+cli.2.29.2
  packages/cli-test/package.json
Due: none
