Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

docs: changeset
  .changeset/regen-web-api-response-types.md
Due: none

feat(web-api): add agents.sessions.rename and agents.sessions.setStatus
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/agents.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/AgentsSessionsRenameResponse.ts
  packages/web-api/src/types/response/AgentsSessionsSetStatusResponse.ts
  packages/web-api/src/types/response/index.ts
Due: web-api

docs(web-api): add changeset for agents.sessions methods
  .changeset/agents-sessions-methods.md
Due: none

feat(web-api): add agents.sessions.rename and agents.sessions.setStatus (#2703)
  .changeset/agents-sessions-methods.md
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/agents.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/AgentsSessionsRenameResponse.ts
  packages/web-api/src/types/response/AgentsSessionsSetStatusResponse.ts
  packages/web-api/src/types/response/index.ts
Due: web-api

feat(types): add agent_session_stopped and agent_session_title_changed events
  packages/types/src/events/agents.ts
  packages/types/src/events/index.ts
Due: none

docs(types): add changeset for agent session events
  .changeset/agent-session-events.md
Due: none

docs(web-api): simplify session_status description
  packages/web-api/src/types/request/chat.ts
Due: web-api

feat(web-api): add session_status to chat.stopStream arguments
  packages/web-api/src/types/request/chat.ts
Due: web-api

docs(web-api): add changeset for chat.stopStream session_status
  .changeset/chat-stopstream-session-status.md
Due: none

feat(web-api): type blocks.validate args and errors[] response
  .changeset/web-api-blocks-validate.md
  packages/web-api/src/types/request/blocks.ts
  packages/web-api/src/types/response/BlocksValidateResponse.ts
  packages/web-api/test/types/methods/blocks.test-d.ts
Due: web-api

docs(web-api): trim blocks.validate changeset to the standard one-line form
  .changeset/web-api-blocks-validate.md
Due: none

docs(web-api): align blocks.validate description and changeset
  .changeset/web-api-blocks-validate.md
  packages/web-api/src/methods.ts
Due: web-api

feat(web-api): type blocks.validate constraint expected/got as unions
  packages/web-api/src/types/response/BlocksValidateResponse.ts
Due: web-api

fix(web-api): drop TokenOverridable from blocks.validate args
  packages/web-api/src/types/request/blocks.ts
Due: web-api

test(web-api): construct tokenless client in blocks.validate type test
  packages/web-api/test/types/methods/blocks.test-d.ts
Due: web-api

fix(web-api): regenerate blocks.validate response type from the fixture
  packages/web-api/src/types/response/BlocksValidateResponse.ts
Due: web-api

test(socket-mode): add failing tests reproducing socket leak (#2709)
  packages/socket-mode/src/SlackWebSocket.test.ts
  packages/socket-mode/src/SocketModeClient.test.ts
Due: socket-mode

fix(socket-mode): tear down leaked sockets on disconnect (#2709)
  packages/socket-mode/src/SlackWebSocket.test.ts
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.ts
Due: socket-mode

feat(web-api): add blocks.validate method (#2659)
  .changeset/web-api-blocks-validate.md
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/blocks.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/BlocksValidateResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/blocks.test-d.ts
Due: web-api

refactor(types): rename events/agents.ts to agent.ts for naming consistency
  packages/types/src/events/agent.ts
  packages/types/src/events/index.ts
Due: none

feat(types): add agent_session_stopped and agent_session_title_changed events (#2707)
  .changeset/agent-session-events.md
  packages/types/src/events/agent.ts
  packages/types/src/events/index.ts
Due: none

docs: match api reference for argument parameters
  packages/web-api/src/types/request/chat.ts
Due: web-api

feat(web-api): add session_status to chat.stopStream arguments (#2708)
  .changeset/chat-stopstream-session-status.md
  packages/web-api/src/types/request/chat.ts
Due: web-api

chore(socket-mode): extract buildDefaultDispatcher() and drop redundant Agent tracking
  .changeset/socket-mode-default-dispatcher.md
  packages/socket-mode/src/SlackWebSocket.test.ts
  packages/socket-mode/src/SlackWebSocket.ts
Due: socket-mode

docs(socket-mode): tighten dispatcher option JSDoc
  packages/socket-mode/src/SlackWebSocket.ts
Due: socket-mode

refactor(socket-mode): rename connect callback param to `callback`
  packages/socket-mode/src/SlackWebSocket.ts
Due: socket-mode

chore(socket-mode): reframe changeset as the #2709 socket-leak fix
  .changeset/socket-mode-default-dispatcher.md
  .changeset/socket-mode-disconnect-socket-leak.md
Due: none

test(socket-mode): cover buildDefaultDispatcher() connect hook
  packages/socket-mode/src/SlackWebSocket.test.ts
Due: socket-mode

fix: revert internal packages requiring esm loading for backward compatible support
  .changeset/restore-cjs-loadable-deps.md
  .github/dependabot.yml
  package-lock.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: web-api, webhook

docs(deps): collapse dependabot ignore comments to one-liners
  .github/dependabot.yml
Due: none

fix: revert internal packages requiring esm loading for backward compatible support (#2712)
  .changeset/restore-cjs-loadable-deps.md
  .github/dependabot.yml
  package-lock.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: web-api, webhook

ci(release): migrate release.yml to changesets/action v2 inputs
  .github/workflows/release.yml
Due: none

Revert "chore: release (#2713)"
  .changeset/restore-cjs-loadable-deps.md
  docs/english/reference/web-api/index.md
  docs/english/reference/webhook/index.md
  package-lock.json
  packages/web-api/CHANGELOG.md
  packages/web-api/package.json
  packages/webhook/CHANGELOG.md
  packages/webhook/package.json
Due: web-api, webhook

ci(release): read changesets/action v2 kebab-case outputs
  .github/workflows/release.yml
Due: none

ci: adjust outputs of changeset releases to reattempt most recent releases (#2718)
  .changeset/restore-cjs-loadable-deps.md
  .github/workflows/release.yml
  docs/english/reference/web-api/index.md
  docs/english/reference/webhook/index.md
  package-lock.json
  packages/web-api/CHANGELOG.md
  packages/web-api/package.json
  packages/webhook/CHANGELOG.md
  packages/webhook/package.json
Due: web-api, webhook

fix(socket-mode): tear down leaked sockets on disconnect (#2709) (#2710)
  .changeset/socket-mode-disconnect-socket-leak.md
  packages/socket-mode/src/SlackWebSocket.test.ts
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.test.ts
  packages/socket-mode/src/SocketModeClient.ts
Due: socket-mode

feat(types): add ContainerBlock for block kit
  packages/types/src/block-kit/blocks.ts
  packages/types/test/blocks.test-d.ts
Due: none

Apply suggestion from @zimeg
  packages/socket-mode/src/undiciVersion.test.ts
Due: socket-mode

chore: add changeset for ContainerBlock
  .changeset/add-container-block.md
Due: none

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
