Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

fix: migrate to biome 2.x for packages/webhook
  packages/webhook/biome.json
  packages/webhook/package.json
  packages/webhook/src/IncomingWebhook.spec.ts
  packages/webhook/src/index.ts
Due: webhook

fix: disable organizeImports for web-api/src/index.ts
  packages/web-api/biome.json
  packages/web-api/src/index.ts
Due: web-api

es-toolkit
  packages/events-api/package.json
  packages/events-api/src/adapter.ts
  packages/events-api/test/integration/test-adapter-options.js
  packages/interactive-messages/package.json
  packages/interactive-messages/src/adapter.ts
  packages/oauth/package.json
Due: oauth

update utlities to errors and logging
  packages/oauth/src/index.ts
Due: oauth

refactor(oauth): remove lodash from dependencies
  packages/oauth/package.json
Due: oauth

refactor(oauth): remove lodash.isstring from dependencies (#2293)
  packages/oauth/package.json
Due: oauth

PR feedback
  README.md
  docs/content/index.md
  docs/content/packages/interactive-messages.md
  docs/content/packages/oauth.md
  docs/content/packages/socket-mode.md
  docs/content/tutorials/local-development.md
  packages/rtm-api/README.md
Due: none

fix(types): use correct name of team_domain_change event (#2280)
  packages/types/src/events/index.ts
  packages/types/src/events/team.ts
Due: none

chore(types): release @slack/types@2.15.0
  packages/types/package.json
Due: none

chore(types): release @slack/types@2.15.0 (#2295)
  packages/types/package.json
Due: none

trying to make test happy
  docs/eslint.config.mjs
  packages/web-api/src/WebClient.ts
Due: web-api

deleteing a file I did not mean to commit
  docs/eslint.config.mjs
Due: none

fix: adds comma
  packages/web-api/src/WebClient.ts
Due: web-api

feat(types): add markdown block
  packages/types/src/block-kit/blocks.ts
Due: none

fix(web-api): remove bounds on assistant.threads.setSuggestedPrompts prompts count in types
  packages/web-api/src/types/request/assistant.ts
Due: web-api

feat(types): add markdown block (#2296)
  packages/types/src/block-kit/blocks.ts
Due: none

docs(types): fix markdown block type annotation
  packages/types/src/block-kit/blocks.ts
Due: none

docs: include a trailing period for the doc link too
  packages/types/src/block-kit/blocks.ts
Due: none

docs(types): fix markdown block type annotation (#2298)
  packages/types/src/block-kit/blocks.ts
Due: none

fix(web-api): remove bounds on assistant.threads.setSuggestedPrompts prompts count in types (#2297)
  packages/web-api/src/types/request/assistant.ts
Due: web-api

Update packages/web-api/src/methods.ts
  packages/web-api/src/methods.ts
Due: web-api

chore(cli-hooks): release @slack/cli-hooks@1.2.1
  packages/cli-hooks/package.json
Due: cli-hooks

feat(web-api): add admin.conversations.{createForObjects|linkObjects|unlinkObjects} methods
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/admin/conversations.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/AdminConversationsCreateForObjectsResponse.ts
  packages/web-api/src/types/response/AdminConversationsLinkObjectsResponse.ts
  packages/web-api/src/types/response/AdminConversationsUnlinkObjectsResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/admin.conversations.test-d.ts
Due: web-api

chore(cli-hooks): release @slack/cli-hooks@1.2.1 (#2299)
  packages/cli-hooks/package.json
Due: cli-hooks

removes extraneous landing slug
  docs/english/index.md
Due: none

matching slugs to folders
  docs/english/events-api.md
  docs/english/interactive-messages.md
  docs/english/oauth.md
  docs/english/rtm-api.md
  docs/english/socket-mode.md
  docs/english/web-api.md
  docs/english/webhook.md
Due: none

actually saving
  docs/english/events-api.md
  docs/english/interactive-messages.md
  docs/english/oauth.md
  docs/english/rtm-api.md
  docs/english/socket-mode.md
  docs/english/webhook.md
Due: none

sidebar formatting
  docs/english/_sidebar.json
  docs/english/legacy/events-api.md
  docs/english/legacy/interactive-messages.md
Due: none

update links
  docs/english/getting-started.md
  docs/english/index.md
  docs/english/legacy/events-api.md
  docs/english/legacy/interactive-messages.md
  docs/english/migration/migrating-to-v5.md
  docs/english/migration/migrating-to-v6.md
  docs/english/oauth.md
  docs/english/rtm-api.md
  docs/english/socket-mode.md
  docs/english/support-schedule.md
  docs/english/tutorials/local-development.md
  docs/english/typescript.md
  docs/english/web-api.md
  docs/english/webhook.md
Due: none

broken image link
  docs/english/support-schedule.md
Due: none

all relative links
  docs/english/getting-started.md
  docs/english/index.md
  docs/english/legacy/events-api.md
  docs/english/legacy/interactive-messages.md
  docs/english/migration/migrating-socket-mode-package-to-v2.md
  docs/english/migration/migrating-to-v4.md
  docs/english/migration/migrating-to-v5.md
  docs/english/migration/migrating-to-v6.md
  docs/english/migration/migrating-web-api-package-to-v7.md
  docs/english/oauth.md
  docs/english/rtm-api.md
  docs/english/socket-mode.md
  docs/english/tutorials/local-development.md
  docs/english/web-api.md
  docs/english/webhook.md
Due: none

small fixes
  docs/english/getting-started.md
  docs/english/index.md
Due: none

tools to docs site
  .github/maintainers_guide.md
  README.md
  packages/cli-hooks/README.md
  packages/cli-hooks/package.json
  packages/cli-test/README.md
  packages/logger/package.json
  packages/oauth/README.md
  packages/oauth/package.json
  packages/rtm-api/README.md
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/types/src/block-kit/block-elements.ts
  packages/web-api/README.md
  packages/web-api/package.json
  packages/web-api/src/WebClient.ts
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/files.ts
  packages/webhook/package.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

links
  packages/web-api/README.md
  packages/web-api/package.json
  packages/web-api/src/WebClient.ts
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/files.ts
Due: web-api

links in full repo
  packages/cli-hooks/README.md
  packages/cli-hooks/package.json
  packages/cli-test/README.md
  packages/logger/package.json
  packages/oauth/README.md
  packages/oauth/package.json
  packages/rtm-api/README.md
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/types/src/block-kit/block-elements.ts
  packages/webhook/package.json
Due: cli-hooks, logger, oauth, socket-mode, webhook

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
