Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

fix(web-api): bump axios to 1.8.3 to address CVE-2025-27152 (#2172)
  packages/web-api/package.json
Due: web-api

feat(web-api): add configs to toggle absolute url usage in dynamic api calls
  docs/content/packages/web-api.md
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Due: web-api

style: lint a ternary operator onto a single conditional line
  packages/web-api/src/WebClient.ts
Due: web-api

ci: cancel test jobs with a timeout after running for four minutes (#2175)
  .github/workflows/ci-build.yml
Due: none

refactor: derive the request url in a standalone private function
  packages/web-api/src/WebClient.ts
Due: web-api

test: upload individual test results to codecov to gather stats
  .github/workflows/ci-build.yml
  codecov.yml
  packages/cli-hooks/package.json
  packages/cli-hooks/test/.c8rc.json
  packages/cli-hooks/test/.mocharc.json
  packages/cli-hooks/test/.reports.json
  packages/cli-test/.mocharc.json
  packages/cli-test/package.json
  packages/cli-test/test/.c8rc.json
  packages/cli-test/test/.mocharc.json
  packages/cli-test/test/.reports.json
  packages/logger/.mocharc.json
  packages/logger/package.json
  packages/logger/test/.c8rc.json
  packages/logger/test/.mocharc.json
  packages/logger/test/.reports.json
  packages/oauth/.mocharc.json
  packages/oauth/package.json
  packages/oauth/test/.c8rc.json
  packages/oauth/test/.mocharc.json
  packages/oauth/test/.reports.json
  packages/rtm-api/.gitignore
  packages/socket-mode/.gitignore
  packages/socket-mode/package.json
  packages/socket-mode/test/.c8rc.json
  packages/socket-mode/test/.mocharc.json
  packages/socket-mode/test/.reports.json
  packages/web-api/.gitignore
  packages/web-api/.mocharc.json
  packages/web-api/package.json
  packages/web-api/test/.c8rc.json
  packages/web-api/test/.mocharc.json
  packages/web-api/test/.reports.json
  packages/webhook/.mocharc.json
  packages/webhook/package.json
  packages/webhook/test/.c8rc.json
  packages/webhook/test/.mocharc.json
  packages/webhook/test/.reports.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

test: upload individual test results to codecov to gather stats (#2178)
  .github/workflows/ci-build.yml
  codecov.yml
  packages/cli-hooks/package.json
  packages/cli-hooks/test/.c8rc.json
  packages/cli-hooks/test/.mocharc.json
  packages/cli-hooks/test/.reports.json
  packages/cli-test/.mocharc.json
  packages/cli-test/package.json
  packages/cli-test/test/.c8rc.json
  packages/cli-test/test/.mocharc.json
  packages/cli-test/test/.reports.json
  packages/logger/.mocharc.json
  packages/logger/package.json
  packages/logger/test/.c8rc.json
  packages/logger/test/.mocharc.json
  packages/logger/test/.reports.json
  packages/oauth/.mocharc.json
  packages/oauth/package.json
  packages/oauth/test/.c8rc.json
  packages/oauth/test/.mocharc.json
  packages/oauth/test/.reports.json
  packages/rtm-api/.gitignore
  packages/socket-mode/.gitignore
  packages/socket-mode/package.json
  packages/socket-mode/test/.c8rc.json
  packages/socket-mode/test/.mocharc.json
  packages/socket-mode/test/.reports.json
  packages/web-api/.gitignore
  packages/web-api/.mocharc.json
  packages/web-api/package.json
  packages/web-api/test/.c8rc.json
  packages/web-api/test/.mocharc.json
  packages/web-api/test/.reports.json
  packages/webhook/.mocharc.json
  packages/webhook/package.json
  packages/webhook/test/.c8rc.json
  packages/webhook/test/.mocharc.json
  packages/webhook/test/.reports.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

test(socket-mode): assert a certain amount of close events happen after disconnecting
  packages/socket-mode/test/integration.spec.js
Due: socket-mode

test(socket-mode): assert a certain amount of close events happen after disconnecting (#2187)
  packages/socket-mode/test/integration.spec.js
Due: socket-mode

style: order constructor option initialization as shown in parameters above
  packages/web-api/src/WebClient.ts
Due: web-api

fix: check for absolute url prefixes with separate protocol strings
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Due: web-api

feat(web-api): add configs to toggle absolute url usage in dynamic api calls (#2176)
  docs/content/packages/web-api.md
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Due: web-api

chore(web-api): release @slack/web-api@7.9.0
  packages/web-api/package.json
Due: web-api

chore(web-api): release @slack/web-api@7.9.0 (#2191)
  packages/web-api/package.json
Due: web-api

chore(oauth): bump @slack/web-api to 7.9.0
  packages/oauth/package.json
Due: oauth

chore(rtm-api): bump @slack/web-api to 7.9.0
  packages/rtm-api/package.json
Due: none

chore(socket-mode): bump @slack/web-api to 7.9.0
  packages/socket-mode/package.json
Due: socket-mode

fix: derive the base or absolute request url of provided api calls only
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Due: web-api

test: use the recommended channel_id input argument instead of channels
  packages/web-api/src/WebClient.spec.ts
Due: web-api

test: confirm files upload v2 makes the expected requests to various urls
  packages/web-api/src/WebClient.spec.ts
Due: web-api

revert: remove unrelated changes of the test parameters used
  packages/web-api/src/WebClient.spec.ts
Due: web-api

test(web-api): use channel_id instead of channels for files upload v2
  packages/web-api/src/WebClient.spec.ts
Due: web-api

test: attempt to stabilize socket mode unit tests
  packages/socket-mode/test/integration.spec.js
Due: socket-mode

Update integration.spec.js
  packages/socket-mode/test/integration.spec.js
Due: socket-mode

test(web-api): use channel_id instead of channels with files upload v2 (#2197)
  packages/web-api/src/WebClient.spec.ts
Due: web-api

Update packages/socket-mode/test/integration.spec.js
  packages/socket-mode/test/integration.spec.js
Due: socket-mode

test: attempt to stabilize socket mode unit tests (#2198)
  packages/socket-mode/test/integration.spec.js
Due: socket-mode

fix(web-api): complete file upload v2 calls if absolute urls are not allowed (#2196)
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Due: web-api

test(oauth): increase timeouts for file state store checks with multiple entries
  packages/oauth/src/state-stores/spec-utils.ts
Due: oauth

chore(web-api): release @slack/web-api@7.9.1
  packages/web-api/package.json
Due: web-api

test(oauth): increase timeouts for file state store checks with multiple entries (#2201)
  packages/oauth/src/state-stores/spec-utils.ts
Due: oauth

chore(web-api): release @slack/web-api@7.9.1 (#2206)
  packages/web-api/package.json
Due: web-api

chore(oauth): bump @slack/web-api from 7.9.0 to 7.9.1
  packages/oauth/package.json
Due: oauth

chore(oauth): bump @slack/web-api from 7.9.0 to 7.9.1
  packages/rtm-api/package.json
Due: none

chore(oauth): bump @slack/web-api from 7.8.0 to 7.9.1 (#2193)
  packages/oauth/package.json
Due: oauth

chore(oauth): release @slack/oauth@3.0.3
  packages/oauth/package.json
Due: oauth

chore(oauth): bump @slack/web-api from 7.9.0 to 7.9.1
  packages/socket-mode/package.json
Due: socket-mode

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
