Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

chore: raise @types/node ignore floor to Node 20 in dependabot config (#2663)
  .github/dependabot.yml
Due: none

chore(webhook): bump p-retry to v7 and fix Node version source of truth (#2662)
  .github/dependabot.yml
  AGENTS.md
  package-lock.json
  packages/webhook/package.json
Due: webhook

fix(webhook): use WrapOptions to fix RetryOptions after @types/retry bump
  packages/webhook/src/retry-policies.ts
Due: webhook

fix(web-api): use WrapOptions to fix RetryOptions after @types/retry bump
  package-lock.json
  packages/web-api/src/retry-policies.ts
Due: web-api

Update package-lock.json
  package-lock.json
Due: none

fix(webhook): do not retry after a successful trigger delivery
  packages/webhook/src/WebhookTrigger.test.ts
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

chore(webhook): add changeset for trigger retry fix
  .changeset/webhook-trigger-retry-after-success.md
Due: none

oauth: remove Examples section pointing at deleted example apps
  packages/oauth/README.md
Due: oauth

docs: remove OAuth examples links to deleted example apps
  docs/english/oauth.md
Due: none

docs: fix broken cross-references in migration guides
  docs/english/migration/socket-mode/migrating-socket-mode-package-to-v3.md
  docs/english/migration/web-api/migrating-web-api-package-to-v8.md
Due: none

feat(types): add min_lines and max_lines to RichTextInput
  packages/types/src/block-kit/block-elements.ts
Due: none

test(types): add type tests for RichTextInput min_lines/max_lines
  packages/types/test/block-elements.test-d.ts
Due: none

chore: add changeset for RichTextInput min_lines/max_lines
  .changeset/rich-text-input-min-max-lines.md
Due: none

Update documentation for OAuth examples and migration guide
  .changeset/sweet-badgers-remain.md
Due: none

Update packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/block-elements.ts
Due: none

Update packages/types/test/block-elements.test-d.ts
  packages/types/test/block-elements.test-d.ts
Due: none

feat(types): add min_lines/max_lines to RichTextInput (#2680)
  .changeset/rich-text-input-min-max-lines.md
  packages/types/src/block-kit/block-elements.ts
  packages/types/test/block-elements.test-d.ts
Due: none

Update packages/webhook/src/WebhookTrigger.ts
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

fix(webhook): do not retry after a successful trigger delivery (#2674)
  .changeset/webhook-trigger-retry-after-success.md
  packages/webhook/src/WebhookTrigger.test.ts
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

Update biome.json
  biome.json
Due: none

feat(webhook): warn when URL pattern mismatches webhook class
  .changeset/webhook-url-mismatch-warning.md
  package-lock.json
  packages/webhook/package.json
  packages/webhook/src/IncomingWebhook.ts
  packages/webhook/src/WebhookTrigger.ts
  packages/webhook/src/index.ts
  packages/webhook/src/logger.ts
Due: webhook

chore(webhook): alphabetize interface fields, use ^5.0.0 for @slack/logger
  package-lock.json
  packages/webhook/package.json
  packages/webhook/src/IncomingWebhook.ts
  packages/webhook/src/WebhookTrigger.ts
Due: webhook

chore(webhook): simplify logger helper, clean lockfile
  packages/webhook/src/logger.ts
Due: webhook

test(webhook): add unit tests for URL mismatch warnings
  packages/webhook/src/IncomingWebhook.test.ts
  packages/webhook/src/WebhookTrigger.test.ts
Due: webhook

fix(deps): sync package-lock for undici 8.9.0 (socket-mode)
  package-lock.json
Due: none

fix(types): include action_id in WorkflowButton (#2207)
  .changeset/workflow-button-action-id.md
  packages/types/src/block-kit/block-elements.ts
  packages/types/test/block-elements.test-d.ts
Due: none

feat(socket-mode): support undici v8 as a peer dependency
  .changeset/socket-mode-undici-v8.md
  .github/workflows/ci-build.yml
  packages/socket-mode/README.md
  packages/socket-mode/package.json
  packages/socket-mode/src/undiciVersion.test.ts
Due: socket-mode

docs(ci): condense undici install step comment to one line
  .github/workflows/ci-build.yml
Due: none

docs(ci): trim undici install step comment
  .github/workflows/ci-build.yml
Due: none

test(socket-mode): simplify undici version guardrail test
  .github/workflows/ci-build.yml
  packages/socket-mode/README.md
  packages/socket-mode/src/undiciVersion.test.ts
Due: socket-mode

feat(socket-mode): emit a hello event with the handshake payload
  .changeset/socket-mode-hello-event.md
  packages/socket-mode/README.md
  packages/socket-mode/src/HelloMessage.ts
  packages/socket-mode/src/SocketModeClient.test.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/index.ts
  packages/socket-mode/test/integrations/integration.test.js
Due: socket-mode

chore(web-api): add changeset for admin.users.getExpiration
  .changeset/admin-users-get-expiration.md
Due: none

chore(web-api): link the method in the getExpiration changeset
  .changeset/admin-users-get-expiration.md
Due: none

feat(web-api): Add support for admin.users.getExpiration (#2451)
  .changeset/admin-users-get-expiration.md
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/admin/users.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/AdminUsersGetExpirationResponse.ts
  packages/web-api/src/types/response/index.ts
Due: web-api

fix(socket-mode): suppress heartbeat warnings during shutdown
  .changeset/socket-mode-shutdown-heartbeat.md
  packages/socket-mode/src/SlackWebSocket.test.ts
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.ts
Due: socket-mode

feat(web-api): refresh response types from 2026-08-19 samples
  packages/web-api/src/types/response/ChatPostMessageResponse.ts
  packages/web-api/src/types/response/ChatScheduleMessageResponse.ts
  packages/web-api/src/types/response/ChatStopStreamResponse.ts
  packages/web-api/src/types/response/ChatUpdateResponse.ts
  packages/web-api/src/types/response/ConversationsHistoryResponse.ts
  packages/web-api/src/types/response/ConversationsOpenResponse.ts
  packages/web-api/src/types/response/ConversationsRepliesResponse.ts
  packages/web-api/src/types/response/FilesInfoResponse.ts
  packages/web-api/src/types/response/FilesListResponse.ts
  packages/web-api/src/types/response/FilesRemoteAddResponse.ts
  packages/web-api/src/types/response/FilesRemoteInfoResponse.ts
  packages/web-api/src/types/response/FilesRemoteListResponse.ts
  packages/web-api/src/types/response/FilesRemoteShareResponse.ts
  packages/web-api/src/types/response/FilesRemoteUpdateResponse.ts
  packages/web-api/src/types/response/PinsListResponse.ts
  packages/web-api/src/types/response/ReactionsGetResponse.ts
  packages/web-api/src/types/response/ReactionsListResponse.ts
  packages/web-api/src/types/response/SearchAllResponse.ts
  packages/web-api/src/types/response/SearchFilesResponse.ts
  packages/web-api/src/types/response/SearchMessagesResponse.ts
  packages/web-api/src/types/response/UsersInfoResponse.ts
  packages/web-api/src/types/response/UsersListResponse.ts
  packages/web-api/src/types/response/UsersLookupByEmailResponse.ts
  packages/web-api/src/types/response/WorkflowsFeaturedListResponse.ts
Due: web-api

feat(web-api): regenerate response types from merged java-slack-sdk main
  packages/web-api/src/types/response/BotsInfoResponse.ts
  packages/web-api/src/types/response/ChatPostMessageResponse.ts
  packages/web-api/src/types/response/ChatScheduleMessageResponse.ts
  packages/web-api/src/types/response/ChatStopStreamResponse.ts
  packages/web-api/src/types/response/ChatUpdateResponse.ts
  packages/web-api/src/types/response/ConversationsHistoryResponse.ts
  packages/web-api/src/types/response/ConversationsOpenResponse.ts
  packages/web-api/src/types/response/ConversationsRepliesResponse.ts
  packages/web-api/src/types/response/FilesDeleteResponse.ts
  packages/web-api/src/types/response/FilesInfoResponse.ts
  packages/web-api/src/types/response/FilesListResponse.ts
  packages/web-api/src/types/response/FilesRemoteAddResponse.ts
  packages/web-api/src/types/response/FilesRemoteInfoResponse.ts
  packages/web-api/src/types/response/FilesRemoteListResponse.ts
  packages/web-api/src/types/response/FilesRemoteShareResponse.ts
  packages/web-api/src/types/response/FilesRemoteUpdateResponse.ts
  packages/web-api/src/types/response/PinsListResponse.ts
  packages/web-api/src/types/response/ReactionsGetResponse.ts
  packages/web-api/src/types/response/ReactionsListResponse.ts
  packages/web-api/src/types/response/SearchAllResponse.ts
  packages/web-api/src/types/response/SearchFilesResponse.ts
  packages/web-api/src/types/response/SearchMessagesResponse.ts
  packages/web-api/src/types/response/SlackListsCreateResponse.ts
  packages/web-api/src/types/response/SlackListsItemsCreateResponse.ts
  packages/web-api/src/types/response/SlackListsItemsInfoResponse.ts
  packages/web-api/src/types/response/SlackListsItemsListResponse.ts
Due: web-api

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
