Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

chore(deps): bump axios to ^1.13.5
  packages/web-api/package.json
  packages/webhook/package.json
Due: web-api, webhook

docs: changeset
  .changeset/tangy-ideas-enjoy.md
Due: none

chore(deps): bump axios to ^1.13.5 (#2415)
  .changeset/tangy-ideas-enjoy.md
  packages/web-api/package.json
  packages/webhook/package.json
Due: web-api, webhook

chore: adjust formatting and links of issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/document.md
  .github/ISSUE_TEMPLATE/enhancement---feature-request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/issue_template.md
Due: none

chore: use rendered issue templates
  .github/ISSUE_TEMPLATE/00-question.yml
  .github/ISSUE_TEMPLATE/01-bug.yml
  .github/ISSUE_TEMPLATE/02-feature.yml
  .github/ISSUE_TEMPLATE/03-document.yml
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/document.md
  .github/ISSUE_TEMPLATE/enhancement---feature-request.md
  .github/ISSUE_TEMPLATE/question.md
Due: none

farewell
  docs/english/legacy/events-api.md
  docs/english/legacy/interactive-messages.md
Due: none

removes readme callout
  README.md
Due: none

chore: use rendered issue templates (#2518)
  .github/ISSUE_TEMPLATE/00-question.yml
  .github/ISSUE_TEMPLATE/01-bug.yml
  .github/ISSUE_TEMPLATE/02-feature.yml
  .github/ISSUE_TEMPLATE/03-document.yml
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/document.md
  .github/ISSUE_TEMPLATE/enhancement---feature-request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/issue_template.md
Due: none

docs: updates legacy packages with info regarding their removal (#2519)
  README.md
  docs/english/legacy/events-api.md
  docs/english/legacy/interactive-messages.md
Due: none

chore: add opt-in pre-commit lint --write hook
  .githooks/pre-commit
  .github/maintainers_guide.md
Due: none

chore: simplify pre-commit hook
  .githooks/pre-commit
Due: none

chore: show lint output in pre-commit hook
  .githooks/pre-commit
Due: none

chore: simplify pre-commit hook to run root lint
  .githooks/pre-commit
  .github/maintainers_guide.md
Due: none

chore: add an AGENTS.md
  .claude/.gitignore
  .claude/CLAUDE.md
  .claude/settings.json
  AGENTS.md
Due: none

Update .claude/settings.json
  .claude/settings.json
Due: none

axe ruby generation script details
  AGENTS.md
Due: none

chore: add an AGENTS.md (#2528)
  .claude/.gitignore
  .claude/CLAUDE.md
  .claude/settings.json
  AGENTS.md
Due: none

chore: agents
  .claude/settings.json
  AGENTS.md
Due: none

docs(maintainers): npm test
  .github/maintainers_guide.md
Due: none

test(cli-hooks): use actual tmp to avoid race condition
  packages/cli-hooks/src/check-update.test.js
  packages/cli-hooks/src/get-manifest.test.js
  packages/cli-hooks/src/start.test.js
Due: cli-hooks

build: remove source map support from development dependencies
  packages/logger/package.json
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/webhook/package.json
Due: logger, oauth, socket-mode, webhook

chore: lint
  packages/cli-test/src/cli/cli-process.test.ts
  packages/cli-test/src/cli/commands/app.test.ts
  packages/cli-test/src/cli/commands/auth.test.ts
  packages/cli-test/src/cli/commands/collaborator.test.ts
  packages/cli-test/src/cli/commands/create.test.ts
  packages/cli-test/src/cli/commands/datastore.test.ts
  packages/cli-test/src/cli/commands/env.test.ts
  packages/cli-test/src/cli/commands/external-auth.test.ts
  packages/cli-test/src/cli/commands/function.test.ts
  packages/cli-test/src/cli/commands/manifest.test.ts
  packages/cli-test/src/cli/commands/platform.test.ts
  packages/cli-test/src/cli/commands/trigger.test.ts
  packages/cli-test/src/cli/commands/version.test.ts
  packages/cli-test/src/cli/index.test.ts
  packages/cli-test/src/cli/shell.test.ts
  packages/cli-test/src/index.test.ts
  packages/oauth/src/callback-options.test.ts
  packages/oauth/src/install-path-options.test.ts
  packages/oauth/src/install-provider.test.ts
  packages/oauth/src/installation-stores/file-store.test.ts
  packages/oauth/src/state-stores/spec-utils.ts
  packages/socket-mode/src/SlackWebSocket.test.ts
  packages/socket-mode/src/SocketModeClient.test.ts
  packages/socket-mode/test/integration.test.js
  packages/web-api/src/WebClient.test.ts
  packages/web-api/src/file-upload.test.ts
Due: oauth, socket-mode, web-api

style: lint
  packages/oauth/src/install-provider.test.ts
  packages/oauth/src/installation-stores/file-store.test.ts
  packages/webhook/src/IncomingWebhook.test.ts
Due: oauth, webhook

ci: run tests on earlier versions
  .github/workflows/ci-build.yml
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/logger/package.json
  packages/oauth/package.json
  packages/socket-mode/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: cli-hooks, logger, oauth, socket-mode, web-api, webhook

style: glob
  packages/cli-test/package.json
  packages/oauth/package.json
  packages/socket-mode/package.json
  packages/web-api/package.json
Due: oauth, socket-mode, web-api

test(oauth): use path.join for cross-platform compatibility in tests
  packages/oauth/src/installation-stores/file-store.test.ts
Due: oauth

ci: bash
  .github/workflows/ci-build.yml
Due: none

test(socket-mode): avoid rushing reconnect attempts
  packages/socket-mode/test/integration.test.js
Due: socket-mode

ci: coverage node 22
  .github/workflows/ci-build.yml
Due: none

fix(oauth): use path.join for standard filepath operations
  packages/oauth/src/installation-stores/file-store.ts
Due: oauth

build: glob
  package.json
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/oauth/package.json
  packages/socket-mode/package.json
  packages/web-api/package.json
Due: cli-hooks, oauth, socket-mode, web-api

build: npx
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/oauth/package.json
  packages/socket-mode/package.json
  packages/web-api/package.json
Due: cli-hooks, oauth, socket-mode, web-api

build: glob dev deps package
  package.json
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/oauth/package.json
  packages/socket-mode/package.json
  packages/web-api/package.json
Due: cli-hooks, oauth, socket-mode, web-api

build: globstar
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/oauth/package.json
  packages/socket-mode/package.json
  packages/web-api/package.json
Due: cli-hooks, oauth, socket-mode, web-api

test: bash
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/oauth/package.json
  packages/socket-mode/package.json
  packages/web-api/package.json
Due: cli-hooks, oauth, socket-mode, web-api

ci: test results
  .github/workflows/ci-build.yml
Due: none

style: improve casting of expected values before assertion
  packages/oauth/src/installation-stores/file-store.test.ts
  packages/web-api/src/WebClient.test.ts
  packages/web-api/src/file-upload.test.ts
Due: oauth, web-api

docs: changeset
  .changeset/chatty-tires-invite.md
Due: none

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
