Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

Publish `@slack/cli-test@1.1.0` (#1898)
  packages/cli-test/package.json
Due: none

logger(docs): include an example setup with some configurations
  packages/logger/README.md
Due: logger

logger(docs): include an example setup with some configurations (#1899)
  packages/logger/README.md
Due: logger

doc: fix typo in web-api.md
  docs/content/packages/web-api.md
Due: none

doc: fix typo in web-api.md (#1900)
  docs/content/packages/web-api.md
Due: none

chore (web-api): update response types w/ latest generated sample responses.
  packages/web-api/src/types/response/AdminConversationsSearchResponse.ts
  packages/web-api/src/types/response/AppsManifestCreateResponse.ts
  packages/web-api/src/types/response/ChatPostMessageResponse.ts
  packages/web-api/src/types/response/ChatScheduleMessageResponse.ts
  packages/web-api/src/types/response/ChatUpdateResponse.ts
  packages/web-api/src/types/response/ConversationsHistoryResponse.ts
  packages/web-api/src/types/response/ConversationsJoinResponse.ts
  packages/web-api/src/types/response/ConversationsListResponse.ts
  packages/web-api/src/types/response/ConversationsOpenResponse.ts
  packages/web-api/src/types/response/ConversationsRepliesResponse.ts
  packages/web-api/src/types/response/FilesInfoResponse.ts
  packages/web-api/src/types/response/FilesListResponse.ts
  packages/web-api/src/types/response/FilesRemoteAddResponse.ts
  packages/web-api/src/types/response/FilesRemoteInfoResponse.ts
  packages/web-api/src/types/response/FilesRemoteListResponse.ts
  packages/web-api/src/types/response/FilesRemoteShareResponse.ts
  packages/web-api/src/types/response/FilesRemoteUpdateResponse.ts
  packages/web-api/src/types/response/FilesRevokePublicURLResponse.ts
  packages/web-api/src/types/response/FilesSharedPublicURLResponse.ts
  packages/web-api/src/types/response/FilesUploadResponse.ts
  packages/web-api/src/types/response/PinsListResponse.ts
  packages/web-api/src/types/response/ReactionsGetResponse.ts
  packages/web-api/src/types/response/ReactionsListResponse.ts
  packages/web-api/src/types/response/RtmStartResponse.ts
  packages/web-api/src/types/response/SearchAllResponse.ts
  packages/web-api/src/types/response/SearchFilesResponse.ts
  packages/web-api/src/types/response/SearchMessagesResponse.ts
  packages/web-api/src/types/response/UsersConversationsResponse.ts
  packages/web-api/src/types/response/ViewsOpenResponse.ts
  packages/web-api/src/types/response/ViewsPublishResponse.ts
  packages/web-api/src/types/response/ViewsPushResponse.ts
  packages/web-api/src/types/response/ViewsUpdateResponse.ts
Due: web-api

chore (web-api): update response types w/ latest generated sample responses (#1901)
  packages/web-api/src/types/response/AdminConversationsSearchResponse.ts
  packages/web-api/src/types/response/AppsManifestCreateResponse.ts
  packages/web-api/src/types/response/ChatPostMessageResponse.ts
  packages/web-api/src/types/response/ChatScheduleMessageResponse.ts
  packages/web-api/src/types/response/ChatUpdateResponse.ts
  packages/web-api/src/types/response/ConversationsHistoryResponse.ts
  packages/web-api/src/types/response/ConversationsJoinResponse.ts
  packages/web-api/src/types/response/ConversationsListResponse.ts
  packages/web-api/src/types/response/ConversationsOpenResponse.ts
  packages/web-api/src/types/response/ConversationsRepliesResponse.ts
  packages/web-api/src/types/response/FilesInfoResponse.ts
  packages/web-api/src/types/response/FilesListResponse.ts
  packages/web-api/src/types/response/FilesRemoteAddResponse.ts
  packages/web-api/src/types/response/FilesRemoteInfoResponse.ts
  packages/web-api/src/types/response/FilesRemoteListResponse.ts
  packages/web-api/src/types/response/FilesRemoteShareResponse.ts
  packages/web-api/src/types/response/FilesRemoteUpdateResponse.ts
  packages/web-api/src/types/response/FilesRevokePublicURLResponse.ts
  packages/web-api/src/types/response/FilesSharedPublicURLResponse.ts
  packages/web-api/src/types/response/FilesUploadResponse.ts
  packages/web-api/src/types/response/PinsListResponse.ts
  packages/web-api/src/types/response/ReactionsGetResponse.ts
  packages/web-api/src/types/response/ReactionsListResponse.ts
  packages/web-api/src/types/response/RtmStartResponse.ts
  packages/web-api/src/types/response/SearchAllResponse.ts
  packages/web-api/src/types/response/SearchFilesResponse.ts
  packages/web-api/src/types/response/SearchMessagesResponse.ts
  packages/web-api/src/types/response/UsersConversationsResponse.ts
  packages/web-api/src/types/response/ViewsOpenResponse.ts
  packages/web-api/src/types/response/ViewsPublishResponse.ts
  packages/web-api/src/types/response/ViewsPushResponse.ts
  packages/web-api/src/types/response/ViewsUpdateResponse.ts
Due: web-api

feat: adding event payloads from bolt-js as a starting point. fixes #1395
  packages/types/src/common/bot-profile.ts
  packages/types/src/common/status-emoji-display-info.ts
  packages/types/src/events/app.ts
  packages/types/src/events/call.ts
  packages/types/src/events/channel-membership.ts
  packages/types/src/events/channel.ts
  packages/types/src/events/dnd.ts
  packages/types/src/events/email.ts
  packages/types/src/events/emoji.ts
  packages/types/src/events/file.ts
  packages/types/src/events/function.ts
  packages/types/src/events/grid-migration.ts
  packages/types/src/events/group.ts
  packages/types/src/events/im.ts
  packages/types/src/events/index.ts
  packages/types/src/events/invite.ts
  packages/types/src/events/link-shared.ts
  packages/types/src/events/message-metadata.ts
  packages/types/src/events/message.ts
  packages/types/src/events/pin.ts
  packages/types/src/events/reaction.ts
  packages/types/src/events/shared-channel.ts
  packages/types/src/events/star.ts
  packages/types/src/events/steps-from-apps.ts
  packages/types/src/events/subteam.ts
  packages/types/src/events/team.ts
  packages/types/src/events/token.ts
  packages/types/src/events/user.ts
Due: none

simplify export listing with export *, export all event bits at top level.
  packages/types/src/events/index.ts
  packages/types/src/index.ts
Due: none

channel-membership -> member
  packages/types/src/events/index.ts
  packages/types/src/events/member.ts
Due: none

axe duplicate BotProfile in message event file
  packages/types/src/events/message.ts
Due: none

feat: adding event payloads from bolt-js as a starting point (#1907)
  packages/types/src/common/bot-profile.ts
  packages/types/src/common/status-emoji-display-info.ts
  packages/types/src/events/app.ts
  packages/types/src/events/call.ts
  packages/types/src/events/channel.ts
  packages/types/src/events/dnd.ts
  packages/types/src/events/email.ts
  packages/types/src/events/emoji.ts
  packages/types/src/events/file.ts
  packages/types/src/events/function.ts
  packages/types/src/events/grid-migration.ts
  packages/types/src/events/group.ts
  packages/types/src/events/im.ts
  packages/types/src/events/index.ts
  packages/types/src/events/invite.ts
  packages/types/src/events/link-shared.ts
  packages/types/src/events/member.ts
  packages/types/src/events/message-metadata.ts
  packages/types/src/events/message.ts
  packages/types/src/events/pin.ts
  packages/types/src/events/reaction.ts
  packages/types/src/events/shared-channel.ts
  packages/types/src/events/star.ts
  packages/types/src/events/steps-from-apps.ts
  packages/types/src/events/subteam.ts
  packages/types/src/events/team.ts
  packages/types/src/events/token.ts
  packages/types/src/events/user.ts
  packages/types/src/index.ts
Due: none

Publish `@slack/types@2.13.0`
  packages/types/package.json
Due: none

Publish `@slack/types@2.13.0` (#1908)
  packages/types/package.json
Due: none

Updating app_requested payload to include new field
  packages/types/src/events/app.ts
Due: none

Updating app_requested payload to include new field (#1909)
  packages/types/src/events/app.ts
Due: none

chore: tsconfig skiplibcheck:true - dont typecheck dependency d.ts files
  packages/cli-test/tsconfig.json
  packages/logger/tsconfig.json
  packages/oauth/tsconfig.json
  packages/rtm-api/tsconfig.json
  packages/socket-mode/tsconfig.json
  packages/types/tsconfig.json
  packages/web-api/tsconfig.json
  packages/webhook/tsconfig.json
Due: logger, oauth, socket-mode, web-api, webhook

ts4.7 integration test should also skiplibcheck
  packages/web-api/test/integration/ts-4.7-project/tsconfig.json
Due: web-api

chore: tsconfig skiplibcheck:true - dont typecheck dependency d.ts files (#1913)
  packages/cli-test/tsconfig.json
  packages/logger/tsconfig.json
  packages/oauth/tsconfig.json
  packages/rtm-api/tsconfig.json
  packages/socket-mode/tsconfig.json
  packages/types/tsconfig.json
  packages/web-api/test/integration/ts-4.7-project/tsconfig.json
  packages/web-api/tsconfig.json
  packages/webhook/tsconfig.json
Due: logger, oauth, socket-mode, web-api, webhook

chore: remove commented out old integration tests, remove empty different integration test folder, remove old support ref-docs, update maintainers guide re: integration tests.
  .github/maintainers_guide.md
  integration-tests/.vscode/launch.json
  support/integration-tests/.gitignore
  support/integration-tests/README.md
  support/integration-tests/package.json
  support/integration-tests/proxy-test.js
  support/ref-docs/.gitignore
  support/ref-docs/models/.gitkeep
  support/ref-docs/package.json
  support/ref-docs/src/documenter.ts
  support/ref-docs/src/index.ts
  support/ref-docs/src/macros.ts
  support/ref-docs/src/package-parser.ts
  support/ref-docs/tsconfig.json
  support/ref-docs/types/rehype-stringify.d.ts
  support/ref-docs/types/remark-rehype.d.ts
Due: none

chore: remove commented out old integration tests, support ref-docs (#1912)
  .github/maintainers_guide.md
  integration-tests/.vscode/launch.json
  support/integration-tests/.gitignore
  support/integration-tests/README.md
  support/integration-tests/package.json
  support/integration-tests/proxy-test.js
  support/ref-docs/.gitignore
  support/ref-docs/models/.gitkeep
  support/ref-docs/package.json
  support/ref-docs/src/documenter.ts
  support/ref-docs/src/index.ts
  support/ref-docs/src/macros.ts
  support/ref-docs/src/package-parser.ts
  support/ref-docs/tsconfig.json
  support/ref-docs/types/rehype-stringify.d.ts
  support/ref-docs/types/remark-rehype.d.ts
Due: none

types (chore!): minimum requirement is node 18, upgrade typscript to 5.3.3
  packages/types/package.json
Due: none

partway through msg attachments redo
  packages/types/src/message-attachments.ts
  packages/types/test/message-attachments.test-d.ts
Due: none

start of splitting out msg attachment
  packages/types/src/message-attachments.ts
Due: none

chore: configure dependabot
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

chore: configure dependabot (#1915)
  .github/dependabot.yml
Due: none

chore: dependabot ignore & grouping
  .github/dependabot.yml
Due: none

chore: dependabot ignore & grouping (#1962)
  .github/dependabot.yml
Due: none

chore: isolate dependabot config
  .github/dependabot.yml
Due: none

chore: isolate dependabot config (#1973)
  .github/dependabot.yml
Due: none

first step introducing biome
  biome.json
  package.json
  packages/cli-test/.eslintignore
  packages/cli-test/.eslintrc.js
  packages/cli-test/biome.json
  packages/cli-test/package.json
  packages/cli-test/src/cli/cli-process.spec.ts
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/commands/app.spec.ts
  packages/cli-test/src/cli/commands/auth.spec.ts
  packages/cli-test/src/cli/commands/auth.ts
  packages/cli-test/src/cli/commands/collaborator.spec.ts
  packages/cli-test/src/cli/commands/collaborator.ts
  packages/cli-test/src/cli/commands/create.spec.ts
  packages/cli-test/src/cli/commands/create.ts
  packages/cli-test/src/cli/commands/env.spec.ts
  packages/cli-test/src/cli/commands/env.ts
  packages/cli-test/src/cli/commands/external-auth.spec.ts
  packages/cli-test/src/cli/commands/external-auth.ts
  packages/cli-test/src/cli/commands/function.spec.ts
  packages/cli-test/src/cli/commands/function.ts
  packages/cli-test/src/cli/commands/manifest.spec.ts
  packages/cli-test/src/cli/commands/manifest.ts
  packages/cli-test/src/cli/commands/platform.spec.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/commands/trigger.spec.ts
  packages/cli-test/src/cli/commands/trigger.ts
  packages/cli-test/src/cli/index.spec.ts
  packages/cli-test/src/cli/index.ts
  packages/cli-test/src/cli/shell.spec.ts
  packages/cli-test/src/cli/shell.ts
  packages/cli-test/src/types/shell.ts
  packages/cli-test/src/utils/logger.ts
  packages/cli-test/src/utils/test.ts
  packages/cli-test/tsconfig.eslint.json
  packages/cli-test/tsconfig.json
Due: none

biomelint logger, remove symlinks to old eslint configs from deprecated packages
  packages/client/.eslintignore
  packages/client/.eslintrc.js
  packages/client/tsconfig.eslint.json
  packages/events-api/.eslintignore
  packages/events-api/.eslintrc.js
  packages/events-api/tsconfig.eslint.json
  packages/interactive-messages/.eslintignore
  packages/interactive-messages/.eslintrc.js
  packages/interactive-messages/tsconfig.eslint.json
  packages/logger/.eslintignore
  packages/logger/.eslintrc.js
  packages/logger/.mocharc.json
  packages/logger/.vscode/launch.json
  packages/logger/.vscode/settings.json
  packages/logger/api-extractor.json
  packages/logger/biome.json
  packages/logger/package.json
  packages/logger/src/index.spec.js
  packages/logger/src/index.ts
  packages/logger/tsconfig.eslint.json
  packages/logger/tsconfig.json
Due: logger

axe root lint configs, biomelint cli-hooks
  lint-configs/.eslintignore
  lint-configs/.eslintrc.js
  lint-configs/tsconfig.eslint.json
  packages/cli-hooks/.eslintignore
  packages/cli-hooks/.eslintrc.cjs
  packages/cli-hooks/biome.json
  packages/cli-hooks/jsconfig.json
  packages/cli-hooks/package.json
  packages/cli-hooks/src/check-update.js
  packages/cli-hooks/src/check-update.spec.js
  packages/cli-hooks/src/doctor.js
  packages/cli-hooks/src/doctor.spec.js
  packages/cli-hooks/src/get-hooks.js
  packages/cli-hooks/src/get-hooks.spec.js
  packages/cli-hooks/src/get-manifest.js
  packages/cli-hooks/src/get-manifest.spec.js
  packages/cli-hooks/src/protocols.js
  packages/cli-hooks/src/protocols.spec.js
  packages/cli-hooks/src/start.js
  packages/cli-hooks/src/start.spec.js
Due: cli-hooks

biomelint oauth
  packages/oauth/.eslintignore
  packages/oauth/.eslintrc.js
  packages/oauth/.vscode/launch.json
  packages/oauth/.vscode/settings.json
  packages/oauth/api-extractor.json
  packages/oauth/biome.json
  packages/oauth/package.json
  packages/oauth/src/callback-options.spec.ts
  packages/oauth/src/callback-options.ts
  packages/oauth/src/install-path-options.spec.ts
  packages/oauth/src/install-path-options.ts
  packages/oauth/src/install-provider-options.spec.ts
  packages/oauth/src/install-provider-options.ts
  packages/oauth/src/install-provider.spec.js
  packages/oauth/src/install-provider.ts
  packages/oauth/src/install-url-options.spec.ts
  packages/oauth/src/installation-query.spec.ts
  packages/oauth/src/installation-query.ts
  packages/oauth/src/installation-stores/file-store.spec.js
  packages/oauth/src/installation-stores/file-store.ts
  packages/oauth/src/installation-stores/interface.ts
  packages/oauth/src/installation-stores/memory-store.spec.js
  packages/oauth/src/installation-stores/memory-store.ts
  packages/oauth/src/installation.spec.ts
  packages/oauth/src/installation.ts
  packages/oauth/src/logger.ts
  packages/oauth/src/state-stores/clear-state-store.ts
  packages/oauth/src/state-stores/file-state-store.spec.ts
  packages/oauth/src/state-stores/file-state-store.ts
  packages/oauth/src/state-stores/interface.ts
  packages/oauth/src/state-stores/spec-utils.ts
  packages/oauth/tsconfig.eslint.json
  packages/oauth/tsconfig.json
Due: oauth

biomelint rtm-api
  packages/rtm-api/.eslintignore
  packages/rtm-api/.eslintrc.js
  packages/rtm-api/.mocharc.json
  packages/rtm-api/.vscode/settings.json
  packages/rtm-api/api-extractor.json
  packages/rtm-api/biome.json
  packages/rtm-api/package.json
  packages/rtm-api/src/KeepAlive.ts
  packages/rtm-api/src/RTMClient.ts
  packages/rtm-api/src/errors.ts
  packages/rtm-api/src/logger.ts
  packages/rtm-api/test/integration.spec.js
  packages/rtm-api/tsconfig.eslint.json
  packages/rtm-api/tsconfig.json
Due: none

biomelint socket-mode
  packages/socket-mode/.eslintignore
  packages/socket-mode/.eslintrc.js
  packages/socket-mode/.vscode/settings.json
  packages/socket-mode/biome.json
  packages/socket-mode/examples/manually-connecting.js
  packages/socket-mode/examples/proxy.js
  packages/socket-mode/examples/simple.js
  packages/socket-mode/package.json
  packages/socket-mode/src/SlackWebSocket.spec.ts
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.spec.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/SocketModeOptions.ts
  packages/socket-mode/src/errors.ts
  packages/socket-mode/src/logger.ts
  packages/socket-mode/test/integration.spec.js
  packages/socket-mode/tsconfig.eslint.json
  packages/socket-mode/tsconfig.json
Due: socket-mode

biomelint types
  packages/types/.eslintignore
  packages/types/.eslintrc.js
  packages/types/.vscode/settings.json
  packages/types/api-extractor.json
  packages/types/biome.json
  packages/types/package.json
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/types/src/block-kit/composition-objects.ts
  packages/types/src/block-kit/extensions.ts
  packages/types/src/events/app.ts
  packages/types/src/events/channel.ts
  packages/types/src/events/function.ts
  packages/types/src/events/index.ts
  packages/types/src/events/message-metadata.ts
  packages/types/src/events/message.ts
  packages/types/src/events/pin.ts
  packages/types/src/events/steps-from-apps.ts
  packages/types/src/events/team.ts
  packages/types/src/events/user.ts
  packages/types/src/message-attachments.ts
  packages/types/src/message-metadata.ts
  packages/types/src/views.ts
  packages/types/test/views.test-d.ts
  packages/types/tsconfig.eslint.json
  packages/types/tsconfig.json
Due: none

biomelint webhook
  packages/webhook/.eslintignore
  packages/webhook/.eslintrc.js
  packages/webhook/.gitignore
  packages/webhook/.vscode/launch.json
  packages/webhook/.vscode/settings.json
  packages/webhook/api-extractor.json
  packages/webhook/biome.json
  packages/webhook/package.json
  packages/webhook/src/IncomingWebhook.spec.js
  packages/webhook/src/IncomingWebhook.spec.ts
  packages/webhook/src/IncomingWebhook.ts
  packages/webhook/src/errors.ts
  packages/webhook/src/instrument.ts
  packages/webhook/tsconfig.eslint.json
  packages/webhook/tsconfig.json
Due: webhook

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
