Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

style: remove an extra line
  .github/dependabot.yml
Due: none

removes github deploy workflow
  .github/workflows/docs-deploy.yml
Due: none

ci: add package label to dependabot updates (#2318)
  .github/dependabot.yml
Due: none

migration link
  docs/english/oauth.md
  docs/english/tutorials/local-development.md
  packages/interactive-messages/README.md
Due: none

links
  README.md
  docs/english/legacy/events-api.md
  docs/english/legacy/interactive-messages.md
  packages/client/package.json
  packages/events-api/README.md
Due: none

tools
  docs/english/_sidebar.json
  docs/english/index.md
  docs/english/legacy/events-api.md
  docs/english/legacy/interactive-messages.md
  docs/english/migration/migrating-to-v5.md
  docs/english/migration/migrating-to-v6.md
  docs/english/oauth.md
  docs/english/rtm-api.md
  docs/english/socket-mode.md
  docs/english/tutorials/local-development.md
  docs/english/typescript.md
  docs/english/web-api.md
Due: none

Add markdown_text property to chat.postMessage
  packages/web-api/src/types/request/chat.ts
Due: web-api

saving
  docs/english/legacy/events-api.md
  docs/english/tutorials/local-development.md
Due: none

tip
  docs/english/rtm-api.md
Due: none

Update packages/client/package.json
  packages/client/package.json
Due: none

Add chat.postEphemeral, chat.update, and chat.scheduleMEssage to the mix
  packages/web-api/src/types/request/chat.ts
Due: web-api

Bump axios to 1.11.0 for the latest changes
  packages/web-api/package.json
Due: web-api

chore(deps): bump axios from ^1.8.3 to ^1.11.0 in @slack/web-api (#2332)
  packages/web-api/package.json
Due: web-api

chore(deps): bump axios from ^1.8.3 to ^1.11.0 in @slack/webhook
  examples/express-all-interactions/package.json
  packages/interactive-messages/package.json
  packages/webhook/package.json
Due: webhook

docs: include example in jsdoc
  packages/web-api/src/types/request/chat.ts
Due: web-api

fix: avoid sending warning to logs when markdown_text is provided
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Due: web-api

fix: accept markdown_text as a possible message content in typings
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

feat(web-api): add markdown_text property to chat.{postEphemeral|postMessage|scheduleMessage|update} methods (#2330)
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

chore(deps): bump axios from ^1.8.3 to ^1.11.0 in @slack/webhook (#2335)
  examples/express-all-interactions/package.json
  packages/interactive-messages/package.json
  packages/webhook/package.json
Due: webhook

docs: autogenerate package reference to language specific paths
  packages/cli-test/typedoc.json
  packages/logger/typedoc.json
  packages/oauth/typedoc.json
  packages/rtm-api/typedoc.json
  packages/socket-mode/typedoc.json
  packages/types/typedoc.json
  packages/web-api/typedoc.json
  packages/webhook/typedoc.json
Due: logger, oauth, socket-mode, web-api, webhook

chore(webhook): release @slack/webhook@7.0.6
  docs/english/reference/webhook/index.md
  docs/english/reference/webhook/interfaces/CodedError.md
  docs/english/reference/webhook/interfaces/IncomingWebhookHTTPError.md
  docs/english/reference/webhook/interfaces/IncomingWebhookRequestError.md
  packages/webhook/package.json
Due: webhook

docs: use a tools path to slackcli pages in the maintainers guide
  .github/maintainers_guide.md
Due: none

docs: bump package version before autogenerating reference
  .github/maintainers_guide.md
Due: none

chore(types): release @slack/types@2.16.0
  docs/english/reference/types/index.md
  packages/types/package.json
Due: none

chore(types): release @slack/types@2.16.0 (#2339)
  docs/english/reference/types/index.md
  packages/types/package.json
Due: none

chore(webhook): release @slack/webhook@7.0.6 (#2338)
  docs/english/reference/webhook/index.md
  docs/english/reference/webhook/interfaces/CodedError.md
  docs/english/reference/webhook/interfaces/IncomingWebhookHTTPError.md
  docs/english/reference/webhook/interfaces/IncomingWebhookRequestError.md
  packages/webhook/package.json
Due: webhook

chore(oauth): bump @slack/web-api to 7.10.0
  packages/oauth/package.json
Due: oauth

chore(rtm-api): bump @slack/web-api to 7.10.0
  packages/rtm-api/package.json
Due: none

chore(socket-mode): bump @slack/web-api to 7.10.0
  packages/socket-mode/package.json
Due: socket-mode

docs: autogenerate package reference to language specific paths (#2337)
  .github/maintainers_guide.md
  packages/cli-test/typedoc.json
  packages/logger/typedoc.json
  packages/oauth/typedoc.json
  packages/rtm-api/typedoc.json
  packages/socket-mode/typedoc.json
  packages/types/typedoc.json
  packages/web-api/typedoc.json
  packages/webhook/typedoc.json
Due: logger, oauth, socket-mode, web-api, webhook

chore(oauth): bump @slack/web-api to 7.10.0 (#2341)
  packages/oauth/package.json
Due: oauth

chore(rtm-api): bump @slack/web-api to 7.10.0 (#2342)
  packages/rtm-api/package.json
Due: none

chore(socket-mode): bump @slack/web-api to 7.10.0 (#2343)
  packages/socket-mode/package.json
Due: socket-mode

chore(oauth): release @slack/oauth@3.0.4
  docs/english/reference/oauth/index.md
  packages/oauth/package.json
Due: oauth

chore(socket-mode): release @slack/socket-mode@2.0.5
  docs/english/reference/socket-mode/index.md
  packages/socket-mode/package.json
Due: socket-mode

chore(rtm-api): release @slack/rtm-api@7.0.4
  docs/english/reference/rtm-api/index.md
  packages/rtm-api/package.json
Due: none

chore(oauth): release @slack/oauth@3.0.4 (#2345)
  docs/english/reference/oauth/index.md
  packages/oauth/package.json
Due: oauth

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
