Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

codecov.yml:

comment:
  layout: "condensed_header, diff, flags"
  
flags:
  cli-hooks:
    paths:
      - packages/cli-hooks/**
    carryforward: true
  logger:
    paths:
      - packages/logger/**
    carryforward: true
  oauth:
    paths:
      - packages/oauth/**
    carryforward: true
  socket-mode:
    paths:
      - packages/socket-mode/**
    carryforward: true
  web-api:
    paths:
      - packages/web-api/**
    carryforward: true
  webhook:
    paths:
      - packages/webhook/**
    carryforward: true

feat: add BlockChunk type to chat.{start,append,stop}Stream methods
  packages/types/src/chunk.ts
  packages/types/test/chunk.test-d.ts
Due: none

bump version so that CI works
  packages/logger/package.json
  packages/rtm-api/package.json
  packages/web-api/package.json
Due: logger, web-api

Update package.json
  packages/webhook/package.json
Due: webhook

fix: formatting
  packages/types/test/chunk.test-d.ts
Due: none

test: add coverage for untested WebClient and IncomingWebhook behavior
  packages/web-api/src/WebClient.test.ts
  packages/webhook/src/IncomingWebhook.test.ts
Due: web-api, webhook

use try finally pattern
  packages/web-api/src/WebClient.test.ts
  packages/webhook/src/IncomingWebhook.test.ts
Due: web-api, webhook

alphabetize and new test cases
  .changeset/add-blocks-chunk.md
  packages/types/src/chunk.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Due: web-api

fix: use patch version for BlocksChunk changeset
  .changeset/add-blocks-chunk.md
Due: none

improve based on review
  packages/socket-mode/src/SocketModeClient.ts
Due: socket-mode

clean up the unit tests
  packages/web-api/src/WebClient.test.ts
  packages/webhook/src/IncomingWebhook.test.ts
Due: web-api, webhook

fix(cli-test): remove cmd.exe wrapping on Windows to fix Docker container hangs
  packages/cli-test/src/cli/commands/datastore.ts
  packages/cli-test/src/cli/shell.test.ts
  packages/cli-test/src/cli/shell.ts
Due: none

chore: add a clean script for maintainers
  package.json
Due: none

fix(cli-test): make shell tests platform-aware for Windows shell:false
  packages/cli-test/src/cli/shell.test.ts
Due: none

make things work
  package-lock.json
  packages/oauth/package.json
  packages/socket-mode/package.json
  packages/socket-mode/src/SlackWebSocket.test.ts
  packages/web-api/src/WebClient.ts
Due: oauth, socket-mode, web-api

improve clean based on feedback
  package.json
Due: none

restore preveously deleted comments
  packages/web-api/src/WebClient.ts
Due: web-api

update the type from the package
  packages/socket-mode/src/SocketModeClient.test.ts
  packages/web-api/src/WebClient.test.ts
  packages/webhook/src/IncomingWebhook.test.ts
  packages/webhook/src/IncomingWebhook.ts
  packages/webhook/src/index.ts
Due: socket-mode, web-api, webhook

fix(cli-test): use shell:false on all platforms
  packages/cli-test/src/cli/shell.test.ts
  packages/cli-test/src/cli/shell.ts
Due: none

refactor(cli-test): simplify getSpawnArguments, inline escapeJSON
  packages/cli-test/src/cli/commands/datastore.ts
  packages/cli-test/src/cli/shell.test.ts
  packages/cli-test/src/cli/shell.ts
Due: none

chore: release @slack/cli-test@3.0.2-rc.1
  packages/cli-test/package.json
Due: none

fix: use shell:true on Linux with proper quoting, shell:false on Windows
  packages/cli-test/package.json
  packages/cli-test/src/cli/shell.test.ts
  packages/cli-test/src/cli/shell.ts
Due: none

style: simplify ternary to !== comparison per biome lint
  packages/cli-test/src/cli/shell.test.ts
Due: none

fix: use shell:false on all platforms, remove shellQuote
  packages/cli-test/package.json
  packages/cli-test/src/cli/shell.test.ts
  packages/cli-test/src/cli/shell.ts
Due: none

chore: changeset
  .changeset/itchy-buttons-begin.md
Due: none

docs: remove package prefix from changeset
  .changeset/itchy-buttons-begin.md
Due: none

Update package-lock.json
  package-lock.json
Due: none

chore: remove prerelease tag
  packages/cli-test/package.json
Due: none

chore: update prod integration tests
  .gitignore
  prod-server-integration-tests/.env.sample
  prod-server-integration-tests/README.md
  prod-server-integration-tests/link-socket-mode.sh
  prod-server-integration-tests/link-web-api.sh
  prod-server-integration-tests/manifests/README.md
  prod-server-integration-tests/manifests/admin-app.manifest.json
  prod-server-integration-tests/manifests/main-bot-app.manifest.json
  prod-server-integration-tests/manifests/slack-connect-receiver.manifest.json
  prod-server-integration-tests/manifests/slack-connect-sender.manifest.json
  prod-server-integration-tests/manifests/socket-mode-app.manifest.json
  prod-server-integration-tests/package.json
  prod-server-integration-tests/test/bookmarks-web-api.js
  prod-server-integration-tests/test/web-api.js
Due: none

Update tests based on new format
  biome.json
  prod-server-integration-tests/.env.sample
  prod-server-integration-tests/README.md
  prod-server-integration-tests/manifests/README.md
  prod-server-integration-tests/manifests/admin-app.manifest.json
  prod-server-integration-tests/manifests/main-bot-app.manifest.json
  prod-server-integration-tests/manifests/slack-connect-receiver.manifest.json
  prod-server-integration-tests/manifests/socket-mode-app.manifest.json
  prod-server-integration-tests/package.json
  prod-server-integration-tests/scripts/admin/usersSessionSettings.js
  prod-server-integration-tests/scripts/api_test.js
  prod-server-integration-tests/scripts/apps_manifest_test.js
  prod-server-integration-tests/scripts/auth_test.js
  prod-server-integration-tests/scripts/conversations_invite.js
  prod-server-integration-tests/scripts/pagination.js
  prod-server-integration-tests/scripts/socket-mode.js
  prod-server-integration-tests/test/admin-web-api-analytics.js
  prod-server-integration-tests/test/admin-web-api-analytics.test.js
  prod-server-integration-tests/test/admin-web-api-conversations-bulk.js
  prod-server-integration-tests/test/admin-web-api-conversations-bulk.test.js
  prod-server-integration-tests/test/admin-web-api-custom-retention.js
  prod-server-integration-tests/test/admin-web-api-custom-retention.test.js
  prod-server-integration-tests/test/admin-web-api-roles.js
  prod-server-integration-tests/test/admin-web-api-roles.test.js
  prod-server-integration-tests/test/admin-web-api-user-sessions.js
  prod-server-integration-tests/test/admin-web-api-user-sessions.test.js
  prod-server-integration-tests/test/admin-web-api-users-unsupportedVersions-export.js
  prod-server-integration-tests/test/admin-web-api-users-unsupportedVersions-export.test.js
  prod-server-integration-tests/test/admin-web-api.js
  prod-server-integration-tests/test/admin-web-api.test.js
  prod-server-integration-tests/test/bookmarks-web-api.js
  prod-server-integration-tests/test/bookmarks-web-api.test.js
  prod-server-integration-tests/test/web-api.js
  prod-server-integration-tests/test/web-api.test.js
Due: none

bump timeout
  prod-server-integration-tests/package.json
Due: none

we dont need winston!
  prod-server-integration-tests/logger.js
  prod-server-integration-tests/manifests/README.md
  prod-server-integration-tests/package.json
  prod-server-integration-tests/test/admin-web-api-analytics.test.js
  prod-server-integration-tests/test/admin-web-api-conversations-bulk.test.js
  prod-server-integration-tests/test/admin-web-api-custom-retention.test.js
  prod-server-integration-tests/test/admin-web-api-roles.test.js
  prod-server-integration-tests/test/admin-web-api-user-sessions.test.js
  prod-server-integration-tests/test/admin-web-api-users-unsupportedVersions-export.test.js
  prod-server-integration-tests/test/admin-web-api.test.js
  prod-server-integration-tests/test/bookmarks-web-api.test.js
  prod-server-integration-tests/test/web-api.test.js
Due: none

restore deleted comments
  prod-server-integration-tests/README.md
  prod-server-integration-tests/scripts/socket-mode.js
  prod-server-integration-tests/test/admin-web-api-conversations-bulk.test.js
  prod-server-integration-tests/test/admin-web-api.test.js
  prod-server-integration-tests/test/bookmarks-web-api.test.js
  prod-server-integration-tests/test/web-api.test.js
Due: none

clean up changes
  prod-server-integration-tests/scripts/socket-mode.js
  prod-server-integration-tests/test/admin-web-api-conversations-bulk.test.js
  prod-server-integration-tests/test/admin-web-api-custom-retention.test.js
  prod-server-integration-tests/test/admin-web-api-user-sessions.test.js
  prod-server-integration-tests/test/admin-web-api.test.js
Due: none

fix accept header being set by axios previously
  packages/web-api/src/WebClient.test.ts
  packages/web-api/src/WebClient.ts
Due: web-api

fix integration test
  prod-server-integration-tests/test/admin-web-api-conversations-bulk.test.js
Due: none

fix issue where axios was added back in
  package-lock.json
  packages/web-api/package.json
Due: web-api

we aren't returning the correct response from start
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/test/integration.test.js
Due: socket-mode

make undici a peer dependency
  package-lock.json
  packages/socket-mode/package.json
Due: socket-mode

improve devxp of fetch typing
  packages/socket-mode/src/SocketModeClient.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/test/types/fetch-function.test-d.ts
  packages/webhook/src/IncomingWebhook.ts
Due: socket-mode, web-api, webhook

Improve abstraction between our lib and undici types
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/SocketModeOptions.ts
Due: socket-mode
