Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

web-api(chore): bump axios to 1.7.4 to address CVE-2024-39338
  packages/web-api/package.json
Due: web-api

webhook(chore): bump axios to 1.7.4 to address CVE-2024-39338 (#1879)
  packages/interactive-messages/package.json
  packages/webhook/package.json
Due: webhook

build: set a specific minimum version to guarantee fixes
  packages/socket-mode/package.json
Due: socket-mode

socket-mode(build): use a minimum version of web-api@7.3.4 (#1878)
  packages/socket-mode/package.json
Due: socket-mode

web-api@6(chore): bump axios to 1.7.4 to address CVE-2024-39338 (#1880)
  packages/web-api/package.json
Due: web-api

webhook(chore): release @slack/webhook@7.0.3
  packages/webhook/package.json
Due: webhook

webhook(chore): release @slack/webhook@7.0.3 (#1881)
  packages/webhook/package.json
Due: webhook

web-api(chore): release @slack/web-api@6.12.1
  packages/web-api/package.json
Due: web-api

web-api@6(chore): release @slack/web-api@6.12.1 (#1882)
  packages/web-api/package.json
Due: web-api

socket-mode(chore): release @slack/socket-mode@2.0.1
  packages/socket-mode/package.json
Due: socket-mode

socket-mode(chore): release @slack/socket-mode@2.0.1 (#1883)
  packages/socket-mode/package.json
Due: socket-mode

style: remove an extra space from the pull request template
  .github/pull_request_template.md
Due: none

style: remove an extra space from the pull request template (#1884)
  .github/pull_request_template.md
Due: none

socket-mode(chore): bump @slack/web-api to ^6.12.1 to address CVE-2024-39338
  packages/socket-mode/package.json
Due: socket-mode

socket-mode@1(chore): bump @slack/web-api to ^6.12.1 to address CVE-2024-39338 (#1885)
  packages/socket-mode/package.json
Due: socket-mode

socket-mode(chore): release @slack/socket-mode@1.3.6
  packages/socket-mode/package.json
Due: socket-mode

socket-mode(chore): release @slack/socket-mode@1.3.6 (#1886)
  packages/socket-mode/package.json
Due: socket-mode

rtm-api(build): use a minimum version of web-api@7.3.4
  packages/rtm-api/package.json
Due: none

rtm-api(build): use a minimum version of @slack/web-api@7.3.4 (#1887)
  packages/rtm-api/package.json
Due: none

rtm-api(chore): release @slack/rtm-api@7.0.1
  packages/rtm-api/package.json
Due: none

rtm-api(chore): release @slack/rtm-api@7.0.1 (#1888)
  packages/rtm-api/package.json
Due: none

oauth(build): use a minimum version of @slack/web-api@6.12.1
  packages/oauth/package.json
Due: oauth

oauth(build): use a minimum version of @slack/web-api@6.12.1 (#1889)
  packages/oauth/package.json
Due: oauth

oauth(chore): release @slack/oauth@2.6.3
  packages/oauth/package.json
Due: oauth

oauth(chore): release @slack/oauth@2.6.3 (#1890)
  packages/oauth/package.json
Due: oauth

oauth(build): use a minimum version of @slack/web-api@7.3.4
  packages/oauth/package.json
Due: oauth

oauth(build): use a minimum version of @slack/web-api@7.3.4 (#1891)
  packages/oauth/package.json
Due: oauth

oauth(chore): release @slack/oauth@3.0.1
  packages/oauth/package.json
Due: oauth

oauth(chore): release @slack/oauth@3.0.1 (#1892)
  packages/oauth/package.json
Due: oauth

web-api(docs): include updated required packages in oidc example
  examples/openid-connect/package.json
Due: none

web-api(feat): include an experimental option for the axios adapter
  packages/web-api/src/WebClient.ts
Due: web-api

cli-hooks(chore): fix prelint tsc run script by not type checking node_modules folder. fixes #1894
  packages/cli-hooks/package.json
Due: cli-hooks

cli-hooks(chore): fix prelint tsc run script (#1895)
  packages/cli-hooks/package.json
Due: cli-hooks

cli-test(feat): expose timeout argument for activity tail methods
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/shell.spec.ts
  packages/cli-test/src/cli/shell.ts
Due: none

axe debug logging
  packages/cli-test/src/cli/shell.ts
Due: none

cli-test(feat): expose timeout argument for activity tail and run start/stop methods (#1897)
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/shell.spec.ts
  packages/cli-test/src/cli/shell.ts
Due: none

Publish `@slack/cli-test@1.1.0`
  packages/cli-test/package.json
Due: none

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
