Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

codecov.yml:

comment:
  layout: "condensed_header, diff, flags"
  
flags:
  cli-hooks:
    paths:
      - packages/cli-hooks/**
    carryforward: true
  logger:
    paths:
      - packages/logger/**
    carryforward: true
  oauth:
    paths:
      - packages/oauth/**
    carryforward: true
  socket-mode:
    paths:
      - packages/socket-mode/**
    carryforward: true
  web-api:
    paths:
      - packages/web-api/**
    carryforward: true
  webhook:
    paths:
      - packages/webhook/**
    carryforward: true

Improve typing of socketmode dispatcher configuration
  package-lock.json
  packages/socket-mode/package.json
  packages/socket-mode/src/SocketModeClient.test.ts
  packages/socket-mode/src/index.ts
  packages/socket-mode/test/types/dispatcher.test-d.ts
Due: socket-mode

improve type casting behaviors
  packages/socket-mode/src/SocketModeClient.test.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/test/types/methods/chat.test-d.ts
  packages/webhook/src/IncomingWebhook.ts
Due: socket-mode, web-api, webhook

Improve based on feedback
  packages/socket-mode/package.json
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/test/integrations/integration.test.js
  packages/socket-mode/test/integrations/pingPongIsolation.test.js
Due: socket-mode

Update packages/web-api/src/WebClient.ts
  packages/web-api/src/WebClient.ts
Due: web-api

Update packages/socket-mode/examples/proxy.js
  packages/socket-mode/examples/proxy.js
Due: socket-mode

improve docstring
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/SocketModeOptions.ts
  packages/socket-mode/test/integrations/pingPongIsolation.test.js
Due: socket-mode

Improve typescript
  packages/socket-mode/src/SocketModeClient.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/test/types/methods/chat.test-d.ts
  packages/webhook/src/IncomingWebhook.ts
Due: socket-mode, web-api, webhook

fix linting issues
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/test/integrations/integration.test.js
  packages/socket-mode/test/integrations/pingPongIsolation.test.js
Due: socket-mode

Fix intergration test command
  packages/socket-mode/package.json
Due: socket-mode

improve test stability with fetch changes
  packages/web-api/src/WebClient.test.ts
Due: web-api

Apply suggestion from @srtaalej
  packages/web-api/src/WebClient.ts
Due: web-api

feat: migrate from axios to fetch (#2591)
  package-lock.json
  packages/oauth/package.json
  packages/socket-mode/examples/proxy.js
  packages/socket-mode/package.json
  packages/socket-mode/src/SlackWebSocket.test.ts
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.test.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/SocketModeOptions.ts
  packages/socket-mode/src/index.ts
  packages/socket-mode/test/integrations/integration.test.js
  packages/socket-mode/test/integrations/pingPongIsolation.test.js
  packages/socket-mode/test/types/dispatcher.test-d.ts
  packages/web-api/package.json
  packages/web-api/src/WebClient.test.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/src/errors.ts
  packages/web-api/src/index.ts
  packages/web-api/test/types/fetch-function.test-d.ts
  packages/webhook/package.json
  packages/webhook/src/IncomingWebhook.test.ts
  packages/webhook/src/IncomingWebhook.ts
  packages/webhook/src/errors.ts
  packages/webhook/src/index.ts
Due: oauth, socket-mode, web-api, webhook

feat(web-api): remove deprecated API methods
  packages/web-api/src/WebClient.test.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/src/file-upload.ts
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/files.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/request/rtm.ts
  packages/web-api/src/types/request/workflows.ts
Due: web-api

feat: replace error interfaces with proper Error subclasses
  packages/web-api/src/WebClient.test.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/src/errors.ts
  packages/web-api/src/file-upload.test.ts
  packages/web-api/src/file-upload.ts
  packages/web-api/src/index.ts
  packages/webhook/src/IncomingWebhook.test.ts
  packages/webhook/src/IncomingWebhook.ts
  packages/webhook/src/errors.ts
  packages/webhook/src/index.ts
  tsconfig.base.json
Due: web-api, webhook

improve test coverage
  packages/web-api/src/WebClient.test.ts
Due: web-api

feat(web-api): add highlight_type to files.completeUploadExternal and filesUploadV2
  packages/web-api/src/file-upload.ts
  packages/web-api/src/types/request/files.ts
Due: web-api

test: confirm arguments of filesUploadV2 reach the complete method
  packages/web-api/src/file-upload.test.ts
Due: web-api

docs: update link to argument reference without anchor
  packages/web-api/src/types/request/files.ts
Due: web-api

chore: changeset
  .changeset/deep-knives-tie.md
Due: none

feat(web-api): remove deprecated API methods (#2592)
  packages/web-api/src/WebClient.test.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/src/file-upload.ts
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/files.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/request/rtm.ts
  packages/web-api/src/types/request/workflows.ts
Due: web-api

feat: replace error interfaces with proper Error subclasses (#2593)
  packages/web-api/src/WebClient.test.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/src/errors.ts
  packages/web-api/src/file-upload.test.ts
  packages/web-api/src/file-upload.ts
  packages/web-api/src/index.ts
  packages/webhook/src/IncomingWebhook.test.ts
  packages/webhook/src/IncomingWebhook.ts
  packages/webhook/src/errors.ts
  packages/webhook/src/index.ts
  tsconfig.base.json
Due: web-api, webhook

chore: bump package version for release candidate
  package-lock.json
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/oauth/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: cli-hooks, oauth, socket-mode, web-api, webhook

chore: bump package version for release candidate (#2595)
  package-lock.json
  packages/cli-hooks/package.json
  packages/cli-test/package.json
  packages/oauth/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Due: cli-hooks, oauth, socket-mode, web-api, webhook

chore: update semantic version bump to minor
  .changeset/deep-knives-tie.md
Due: none

feat(socket-mode): replace error interfaces with proper Error subclasses
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/errors.test.ts
  packages/socket-mode/src/errors.ts
Due: socket-mode

Update package.json
  packages/socket-mode/package.json
Due: socket-mode

feat(socket-mode): replace error interfaces with proper Error subclasses (#2596)
  packages/socket-mode/package.json
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/errors.test.ts
  packages/socket-mode/src/errors.ts
Due: socket-mode

docs: add comprehensive v8 major release changesets
  .changeset/oauth-web-api-v8-dependency.md
  .changeset/socket-mode-error-classes.md
  .changeset/socket-mode-undici-migration.md
  .changeset/web-api-error-classes.md
  .changeset/web-api-fetch-migration.md
  .changeset/web-api-remove-deprecated-methods.md
  .changeset/webhook-error-classes.md
  .changeset/webhook-fetch-migration.md
Due: none

fix: use highlight_type in files array
  packages/web-api/src/file-upload.test.ts
  packages/web-api/src/file-upload.ts
  packages/web-api/src/types/request/files.ts
Due: web-api

docs: update changeset example to use image upload
  .changeset/deep-knives-tie.md
Due: none

docs: align highlight_type description on FileUploadV2
  packages/web-api/src/types/request/files.ts
Due: web-api

test: use image upload in highlight_type test
  packages/web-api/src/file-upload.test.ts
Due: web-api

fix(web-api): widen Slack Lists message field type
  .changeset/slack-lists-message-field.md
  packages/web-api/src/types/request/slackLists.ts
  packages/web-api/test/types/methods/slacklists.test-d.ts
Due: web-api

Fix Slack Lists message field response types
  .changeset/slack-lists-message-fields.md
  packages/web-api/src/types/request/slackLists.ts
  packages/web-api/test/types/methods/slacklists.test-d.ts
Due: web-api

feat(web-api): add support for AbortSignal
  .changeset/web-api-abort-signal.md
  packages/web-api/src/WebClient.test.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/src/methods.ts
Due: web-api

fix(cli-hooks): use correct bolt-js release notes tag format
  packages/cli-hooks/src/check-update.js
  packages/cli-hooks/src/check-update.test.js
Due: cli-hooks

chore: changeset
  .changeset/stale-dolls-shave.md
Due: none
