Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

feat(types): add underline to rich text section block element (#2414)
  packages/types/src/block-kit/extensions.ts
Due: none

feat: add slacklists.create method
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/request/slacklists.ts
  packages/web-api/src/types/response/SlackListsCreateResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/slacklists.test-d.ts
Due: web-api

test(logger): use included test runner dependencies
  packages/logger/package.json
  packages/logger/src/index.spec.js
  packages/logger/src/index.test.ts
  packages/logger/test/.c8rc.json
  packages/logger/test/.mocharc.json
  packages/logger/test/.reports.json
  packages/logger/tsconfig.json
Due: logger

test: run the test file using a direct path to avoid globs
  packages/logger/package.json
Due: logger

test(logger): use included test runner dependencies (#2425)
  packages/logger/package.json
  packages/logger/src/index.spec.js
  packages/logger/src/index.test.ts
  packages/logger/test/.c8rc.json
  packages/logger/test/.mocharc.json
  packages/logger/test/.reports.json
  packages/logger/tsconfig.json
Due: logger

feat(types): add table block
  packages/types/src/block-kit/blocks.ts
  packages/types/src/block-kit/composition-objects.ts
Due: none

chore: lint
  packages/types/src/block-kit/blocks.ts
Due: none

ci: upload test results using the recommended codecov action
  .github/workflows/ci-build.yml
Due: none

fix: copied a strange symbol
  .github/workflows/ci-build.yml
Due: none

ci: upload test results using the recommended codecov action (#2428)
  .github/workflows/ci-build.yml
Due: none

docs: link to streaming methods and context actions block reference
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/web-api/src/methods.ts
Due: web-api

docs: link to streaming methods and context actions block reference (#2429)
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/web-api/src/methods.ts
Due: web-api

Update packages/web-api/src/types/request/slacklists.ts
  packages/web-api/src/types/request/slacklists.ts
Due: web-api

Update packages/web-api/src/methods.ts
  packages/web-api/src/methods.ts
Due: web-api

fix: linter errors
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/index.ts
Due: web-api

fix: type errors on description block and match method name to docs
  packages/web-api/src/types/request/slacklists.ts
  packages/web-api/test/types/methods/slacklists.test-d.ts
Due: web-api

feat: remaining slack lists methods
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/request/slacklists.ts
  packages/web-api/src/types/response/SlackListsAccessDeleteResponse.ts
  packages/web-api/src/types/response/SlackListsAccessSetResponse.ts
  packages/web-api/src/types/response/SlackListsDownloadGetResponse.ts
  packages/web-api/src/types/response/SlackListsDownloadStartResponse.ts
  packages/web-api/src/types/response/SlackListsItemsCreateResponse.ts
  packages/web-api/src/types/response/SlackListsItemsDeleteMultipleResponse.ts
  packages/web-api/src/types/response/SlackListsItemsDeleteResponse.ts
  packages/web-api/src/types/response/SlackListsItemsInfoResponse.ts
  packages/web-api/src/types/response/SlackListsItemsListResponse.ts
  packages/web-api/src/types/response/SlackListsItemsUpdateResponse.ts
  packages/web-api/src/types/response/SlackListsUpdateResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/slacklists.test-d.ts
Due: web-api

chore: Add .github/CODEOWNERS file
  .github/CODEOWNERS
Due: none

chore: Add .github/CODEOWNERS file (#2430)
  .github/CODEOWNERS
Due: none

update work object types
  packages/types/src/message-metadata.ts
Due: none

feat: export the table block as a known block
  packages/types/src/block-kit/blocks.ts
Due: none

docs: add steps for local development
  .github/maintainers_guide.md
Due: none

docs: update steps for managing documentation
  .github/maintainers_guide.md
Due: none

Fix typos in some files
  packages/cli-hooks/src/get-manifest.js
Due: cli-hooks

feat(types): update work object types (#2431)
  packages/types/src/message-metadata.ts
Due: none

ci: use selected files to upload results to codecov instead of file
  .github/workflows/ci-build.yml
Due: none

feat(types): add table block (#2426)
  packages/types/src/block-kit/blocks.ts
  packages/types/src/block-kit/composition-objects.ts
Due: none

ci: use selected files to upload results to codecov instead of file (#2439)
  .github/workflows/ci-build.yml
Due: none

Update packages/web-api/test/types/methods/slacklists.test-d.ts
  packages/web-api/test/types/methods/slacklists.test-d.ts
Due: web-api

Update packages/web-api/src/types/response/SlackListsAccessDeleteResponse.ts
  packages/web-api/src/types/response/SlackListsAccessDeleteResponse.ts
Due: web-api

fix: review feedback
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/request/slacklists.ts
  packages/web-api/src/types/response/SlackListsAccessSetResponse.ts
  packages/web-api/src/types/response/SlackListsCreateResponse.ts
  packages/web-api/src/types/response/SlackListsDownloadGetResponse.ts
  packages/web-api/src/types/response/SlackListsDownloadStartResponse.ts
  packages/web-api/src/types/response/SlackListsItemsCreateResponse.ts
  packages/web-api/src/types/response/SlackListsItemsDeleteMultipleResponse.ts
  packages/web-api/src/types/response/SlackListsItemsDeleteResponse.ts
  packages/web-api/src/types/response/SlackListsItemsInfoResponse.ts
  packages/web-api/src/types/response/SlackListsItemsListResponse.ts
  packages/web-api/src/types/response/SlackListsItemsUpdateResponse.ts
  packages/web-api/src/types/response/SlackListsUpdateResponse.ts
  packages/web-api/test/types/methods/slacklists.test-d.ts
Due: web-api

fix: rename slacklists.ts to match api
  packages/web-api/src/types/request/slackLists.ts
Due: web-api

docs(types): remove note of maximum length for raw_text
  packages/types/src/block-kit/composition-objects.ts
Due: none

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
