Repository slackapi/node-slack-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: cli-hooks, logger, oauth, socket-mode, web-api, webhook

docs(socket-mode): drop the isMessageForSocket comment
  packages/socket-mode/src/SlackWebSocket.ts
Due: socket-mode

feat(web-api): add agents.conversations.* code channel methods
  .changeset/agents-conversations-methods.md
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/agents.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/AgentsConversationsArchiveResponse.ts
  packages/web-api/src/types/response/AgentsConversationsCreateResponse.ts
  packages/web-api/src/types/response/AgentsConversationsGetCanvasResponse.ts
  packages/web-api/src/types/response/AgentsConversationsListViewsResponse.ts
  packages/web-api/src/types/response/AgentsConversationsRemoveViewResponse.ts
  packages/web-api/src/types/response/AgentsConversationsSetCanvasContentResponse.ts
  packages/web-api/src/types/response/AgentsConversationsSetCommandsResponse.ts
  packages/web-api/src/types/response/AgentsConversationsSetPropertiesResponse.ts
  packages/web-api/src/types/response/AgentsConversationsSetViewResponse.ts
  packages/web-api/src/types/response/index.ts
Due: web-api

refactor(web-api): require channel_id/name on agents.conversations.* + drop channel remark
  packages/web-api/src/types/request/agents.ts
Due: web-api

fix(socket-mode): pin HTTP/1.1 on undici v8 and test v8 in its own CI job
  .changeset/socket-mode-undici-v8.md
  .github/workflows/ci-build.yml
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeOptions.ts
  packages/socket-mode/src/undiciVersion.test.ts
  packages/socket-mode/test/integrations/alpn.test.js
Due: socket-mode

ci: run socket-mode's undici v8 tests as steps in the existing test job
  .github/workflows/ci-build.yml
Due: none

ci: test undici v7 and v8 through the existing matrix
  .github/workflows/ci-build.yml
Due: none

ci: install the matrix's undici major on every job
  .github/workflows/ci-build.yml
Due: none

ci: name the undici matrix entries by their install spec
  .github/workflows/ci-build.yml
Due: none

test(socket-mode): drop the ALPN integration test
  packages/socket-mode/test/integrations/alpn.test.js
Due: socket-mode

docs(socket-mode): trim the allowH2 comments
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeOptions.ts
Due: socket-mode

feat(socket-mode): support undici v8 as a peer dependency (#2694)
  .changeset/socket-mode-undici-v8.md
  .github/workflows/ci-build.yml
  packages/socket-mode/package.json
  packages/socket-mode/src/SlackWebSocket.ts
Due: socket-mode

fix: add missing response types for issues #2459 and #2550
  packages/web-api/src/WebClient.ts
  packages/web-api/src/methods.ts
  packages/web-api/src/types/response/ConversationsSetTopicResponse.ts
  packages/web-api/src/types/response/FilesUploadV2Response.ts
  packages/web-api/src/types/response/index.ts
Due: web-api

refactor(web-api): alphabetize agents.conversations methods
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/agents.ts
Due: web-api

fix(web-api): require the argument for agents.conversations methods + add type tests
  packages/web-api/src/methods.ts
  packages/web-api/test/types/methods/agents.test-d.ts
Due: web-api

refactor(web-api): order agents.conversations before agents.sessions in request types
  packages/web-api/src/types/request/agents.ts
Due: web-api

refactor(web-api): address review on agents.conversations request types
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/agents.ts
  packages/web-api/test/types/methods/agents.test-d.ts
Due: web-api

fix(web-api): keep agents.conversations.create name required
  packages/web-api/src/types/request/agents.ts
  packages/web-api/test/types/methods/agents.test-d.ts
Due: web-api

refactor(web-api): drop title/status from agents.conversations.setProperties
  packages/web-api/src/types/request/agents.ts
Due: web-api

chore(web-api): regenerate agents.conversations response types from java json-logs
  packages/web-api/src/types/response/AgentsConversationsGetCanvasResponse.ts
  packages/web-api/src/types/response/AgentsConversationsListViewsResponse.ts
  packages/web-api/src/types/response/AgentsConversationsRemoveViewResponse.ts
  packages/web-api/src/types/response/AgentsConversationsSetCanvasContentResponse.ts
  packages/web-api/src/types/response/AgentsConversationsSetCommandsResponse.ts
  packages/web-api/src/types/response/AgentsConversationsSetPropertiesResponse.ts
  packages/web-api/src/types/response/AgentsConversationsSetViewResponse.ts
Due: web-api

chore: changeset
  .changeset/agents-conversations-methods.md
Due: none

fix: add thread_ts to agents.conversations.setProperties summary_message
  packages/web-api/src/types/request/agents.ts
Due: web-api

docs: match agents.conversations.create name description to the reference
  packages/web-api/src/types/request/agents.ts
Due: web-api

feat: type the agents.conversations.setView csp argument
  packages/web-api/src/types/request/agents.ts
Due: web-api

feat: add should_escape to agents.conversations.setCommands commands
  packages/web-api/src/types/request/agents.ts
  packages/web-api/test/types/methods/agents.test-d.ts
Due: web-api

feat: add the code_channel repository properties to agents.conversations.setProperties
  packages/web-api/src/types/request/agents.ts
Due: web-api

test(web-api): cover every agents.conversations.setProperties code_channel property
  packages/web-api/test/types/methods/agents.test-d.ts
Due: web-api

Revert "test(web-api): cover every agents.conversations.setProperties code_channel property"
  packages/web-api/test/types/methods/agents.test-d.ts
Due: web-api

Revert "feat: add the code_channel repository properties to agents.conversations.setProperties"
  packages/web-api/src/types/request/agents.ts
Due: web-api

feat(web-api): add comment and reply types to agents.conversations.getCanvas response
  packages/web-api/src/types/response/AgentsConversationsGetCanvasResponse.ts
Due: web-api

fix(socket-mode): route ping/pong diagnostics by identity, not instanceof (#2743) (#2747)
  .changeset/socket-mode-pingpong-instanceof.md
  packages/socket-mode/src/SlackWebSocket.test.ts
  packages/socket-mode/src/SlackWebSocket.ts
Due: socket-mode

feat(web-api): add record_channel, code_channel, and agent_session to conversations.info response
  packages/web-api/src/types/response/ConversationsInfoResponse.ts
Due: web-api

feat(web-api): add agents.conversations.* methods (#2748)
  .changeset/agents-conversations-methods.md
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/agents.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/AgentsConversationsArchiveResponse.ts
  packages/web-api/src/types/response/AgentsConversationsCreateResponse.ts
  packages/web-api/src/types/response/AgentsConversationsGetCanvasResponse.ts
  packages/web-api/src/types/response/AgentsConversationsListViewsResponse.ts
  packages/web-api/src/types/response/AgentsConversationsRemoveViewResponse.ts
  packages/web-api/src/types/response/AgentsConversationsSetCanvasContentResponse.ts
  packages/web-api/src/types/response/AgentsConversationsSetCommandsResponse.ts
  packages/web-api/src/types/response/AgentsConversationsSetPropertiesResponse.ts
  packages/web-api/src/types/response/AgentsConversationsSetViewResponse.ts
  packages/web-api/src/types/response/ConversationsInfoResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/agents.test-d.ts
Due: web-api

fix(socket-mode): handle Events API payloads without inner events
  .changeset/friendly-sockets-listen.md
  packages/socket-mode/src/SocketModeClient.test.ts
  packages/socket-mode/src/SocketModeClient.ts
Due: socket-mode

docs: fix broken links
  docs/english/legacy/events-api.md
  docs/english/legacy/interactive-messages.md
  docs/english/migration/socket-mode/migrating-socket-mode-package-to-v3.md
  docs/english/tutorials/local-development.md
  docs/english/typescript.md
  docs/english/web-api.md
Due: none

docs: fix broken links (#2759)
  docs/english/legacy/events-api.md
  docs/english/legacy/interactive-messages.md
  docs/english/migration/socket-mode/migrating-socket-mode-package-to-v3.md
  docs/english/tutorials/local-development.md
  docs/english/typescript.md
  docs/english/web-api.md
Due: none

fix(types): add missing file fields to ThreadBroadcastMessageEvent
  .changeset/thread-broadcast-file-fields.md
  packages/types/src/events/message.ts
  packages/types/test/events/message.test-d.ts
Due: none

fix(types): add missing file fields to ThreadBroadcastMessageEvent (#2763)
  .changeset/thread-broadcast-file-fields.md
  packages/types/src/events/message.ts
  packages/types/test/events/message.test-d.ts
Due: none

Path conditions:
  cli-hooks: any of: packages/cli-hooks/**
  logger: any of: packages/logger/**
  oauth: any of: packages/oauth/**
  socket-mode: any of: packages/socket-mode/**
  web-api: any of: packages/web-api/**
  webhook: any of: packages/webhook/**
